
<div class="header_pc  inside_header"  *ngIf="{ header:dataservices.header | async , app:dataservices.async | async }">


 <div class="open_menu  inline-block">

     <div class="button_menu ">

         <button mat-icon-button class="button-fab-openmenu" (click)="check_menu()">

             <mat-icon *ngIf="!menuservice.menu.getValue()" >view_list</mat-icon>

             <mat-icon  *ngIf="menuservice.menu.getValue()" >exit_to_app</mat-icon>

         </button>

     </div>

 </div>


    <div class="logo inline-block " [ngClass]="{'showicon_openmenu':menuservice.menu.getValue()}">

        <div class="inside_icon_openmenu">

            <span class="logo_img">

                <a href="#" (click)="set_router( { path:'shopping' , data:false ,relative:false } )" > <img src="../../assets/images/icon.png"></a>

            </span>

            <span class="text_icon ">

                <a href="#" class="title_text" (click)="set_router( { path:'shopping' , data:false ,relative:false } )" > BestSeller</a>

            </span>

            <a [routerLink]="['users/kloi']">users</a>

        </div>

    </div>


    <!-- start outer header full width  ......................  -->
    <div class="response_outer inline-block "  [ngClass]="{'active_menu':menuservice.menu.getValue()}">

        <div class="response_inner "> <!-- start inner header ................... -->

            <span class="header_left ">  <!-- start left header .................................... -->

                <div class="mobile_top_nav_input inline-block">

                    <input #searchInput type="text" class="input_search notCloseDropdawnSearch"  name="search" [(ngModel)]="searchService.search_data.value" (ngModelChange)="searchService.search_new_value()" (focus)="searchService.focus_search(searchInput)"  placeholder="{{dataservices.language.searchproducts}}">

                </div>

                <div class="mobile_top_nav_button inline-block">

                    <button mat-button color="primary" *ngIf="!searchService.search_data.dropdown" class="button button_search notCloseDropdawnSearch" (click)="button_search(searchInput)" >

                        <mat-icon class="iconbuttonsearch" >search</mat-icon>

                    </button>

                    <button mat-button color="primary" *ngIf="searchService.search_data.dropdown" class=" button button_search   notCloseDropdawnSearch" (click)="searchService.hide_search_content()" >

                        <mat-icon  class="iconbuttonsearch" >close</mat-icon>

                    </button>


                </div>

                    <div class="dropdown_search  notCloseDropdawnSearch" >

                        <div #movescroll class="header_dropsearch header_div"  (mousedown)="down($event)"  (mouseup)="up($event)" (mousemove)="move($event,block)">

                            <span  [@filter_options]="searchService.search_data.searchFor == 'products' ? 'open' : 'closed'" class="filter_products" >

                               <span>

                                <button mat-button  class="button_search_for active-search-button border" >


                                    <mat-select [disabled]="block"   (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.search_data.searchFor">


                                        <mat-option value="products" >

                                            For Products

                                            <mat-radio-group class="leftlang">


                                                <mat-radio-button class="radiolang"  value="1" [checked]="searchService.search_data.searchFor == 'products' "  >


                                                </mat-radio-button>


                                            </mat-radio-group>


                                        </mat-option>


                                        <mat-option value="supplier">

                                            For Suppliers

                                            <mat-radio-group class="leftlang">


                                                <mat-radio-button class="radiolang"  value="1" [checked]="searchService.search_data.searchFor == 'supplier'" >


                                                </mat-radio-button>


                                            </mat-radio-group>

                                        </mat-option>


                                    </mat-select>

                                   </button>

                               </span>

                                <span>
                                     <button mat-button  [ngClass]="{'active-search-button':searchService.filter_products.category != 'any_category'}" class="button_search_for  border">

                                        <mat-select [disabled]="block"  (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.filter_products.category">

                                            <mat-option value="{{category.id}}" *ngFor=" let category of menuservice.categories">

                                                {{category.name}}

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.category == category.id"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                             <mat-option value="any_category">

                                               Any category

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.category == 'any_category'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                        </mat-select>

                                   </button>

                                </span>

                                <span>
                                     <button mat-button  [ngClass]="{'active-search-button':searchService.filter_products.price != 'any_price'}" class="button_search_for  border">

                                        <mat-select [disabled]="block"  (change)="searchService.change_search()"  class="searchFor" [(value)]="searchService.filter_products.price">

                                            <mat-option value="expensive">

                                                Expensive

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.price == 'expensive'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="cheap">

                                                Cheap

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.price == 'cheap'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="any_price">
                                                Any Price
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.price == 'any_price'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>
                                            </mat-option>

                                        </mat-select>

                                   </button>

                                </span>

                                 <span>
                                     <button mat-button [disabled]="block"  [ngClass]="{'active-search-button':searchService.filter_products.time != 'any_time'}" class="button_search_for  border" >

                                        <mat-select [disabled]="block" (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.filter_products.time">

                                            <mat-option value="past_day">

                                                Past 24 hours

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.time == 'past_day'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="past_week">

                                                Past Week

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.time == 'past_week'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="past_month">
                                                Past Month
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.time == 'past_month'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>
                                            </mat-option>

                                             <mat-option value="any_time">
                                                Any Time
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.time == 'any_time'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>
                                            </mat-option>

                                        </mat-select>

                                   </button>

                                </span>
                                 <span>
                                     <button mat-button [ngClass]="{'active-search-button':searchService.filter_products.location != 'world'}" class="button_search_for  border" >

                                        <mat-select [disabled]="block"  (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.filter_products.location" style="z-index: 0 !important;">

                                              <div class="search_location">

                                                  <input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">

                                             </div>

                                            <mat-option value="current">
                                                Current Location
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.location == 'current' "  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="world">
                                                WorldWide
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_products.location == 'world' "  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>



                                        </mat-select>

                                   </button>

                                </span>

                             </span>

                             <span [@filter_options]="searchService.search_data.searchFor == 'products' ? 'closed' : 'open'" class="filter_suppliers">

                                  <span>

                                <button mat-button  class="button_search_for active-search-button border" >


                                    <mat-select (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.search_data.searchFor">


                                        <mat-option value="products">

                                            For Products

                                            <mat-radio-group class="leftlang">


                                                <mat-radio-button class="radiolang"  value="1" [checked]="searchService.search_data.searchFor == 'products' "  >


                                                </mat-radio-button>


                                            </mat-radio-group>


                                        </mat-option>


                                        <mat-option value="supplier">

                                            For Suppliers

                                            <mat-radio-group class="leftlang">


                                                <mat-radio-button class="radiolang"  value="1" [checked]="searchService.search_data.searchFor == 'supplier'" >


                                                </mat-radio-button>


                                            </mat-radio-group>

                                        </mat-option>


                                    </mat-select>

                                   </button>

                            </span>

                                 <span>
                                     <button mat-button [ngClass]="{'active-search-button':searchService.filter_supplier.time != 'any_time'}" class="button_search_for  border" >

                                        <mat-select (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.filter_supplier.time">

                                            <mat-option value="past_day">

                                                Past 24 hours

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.time == 'past_day'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="past_week">

                                                Past Week

                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.time == 'past_week'"  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="past_month">
                                                Past Month
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.time == 'past_month'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>
                                            </mat-option>

                                             <mat-option value="any_time">
                                                Any Time
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.time == 'any_time'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>
                                            </mat-option>

                                        </mat-select>

                                   </button>

                                </span>

                                 <span>
                                     <button mat-button [ngClass]="{'active-search-button':searchService.filter_supplier.location != 'world'}" class="button_search_for  border" >

                                        <mat-select (change)="searchService.change_search()" class="searchFor" [(value)]="searchService.filter_supplier.location">

                                             <mat-option value="enter">
                                                Search Location
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.location == 'enter'" >

                                                     </mat-radio-button>


                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="current">
                                                Current Location
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.location == 'current' "  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>

                                            <mat-option value="world">
                                                WorldWide
                                                 <mat-radio-group class="leftlang">

                                                     <mat-radio-button class="radiolang"  value="1" [checked]="searchService.filter_supplier.location == 'world' "  >

                                                     </mat-radio-button>

                                                 </mat-radio-group>

                                            </mat-option>



                                        </mat-select>

                                   </button>

                                </span>

                             </span>

                        </div>


                        <div class=" body_div body_search">

                            <a href="#">

                                <div class="recent_searches " *ngIf="searchService.recent_serches.data.length != 0 && searchService.search_results.length == 0  ">

                                    <div class="title_resent_research">

                                          <div class="inside_width">

                                              Recent Searches

                                          </div>

                                    </div>

                                   <div class="result_search hover" *ngFor="let results of searchService.recent_serches.data" [@wishList_animations]="active" >

                                       <div class="inside_width">

                                           <div class="result_search_left inline-block">

                                               <div class="result_search_img ">

                                                   <img class="full_height full_width" src="../../assets/images/products_image/{{results.image}}" />

                                               </div>

                                           </div>

                                           <div class="result_search_right inline-block border_bottom">

                                               <div class="title">{{results.title}}</div>

                                           </div>

                                       </div>
                                   </div>

                                </div>

                                <div class="result_search hover" *ngFor="let result of searchService.search_results" [@wishList_animations]="active" (click)="route_on_search(result)">

                                    <div class="inside_width">

                                        <div class="result_search_left inline-block">

                                            <div class="result_search_img ">

                                                <img class="full_height full_width" src="../../assets/images/products_image/{{result.image}}" />

                                            </div>

                                        </div>

                                        <div class="result_search_right inline-block border_bottom">

                                            <div *ngIf="result.title != null" class="title">{{result.title}}</div>

                                            <div *ngIf="result.name != null" class="title">{{result.name}}</div>

                                        </div>

                                    </div>

                                </div>

                            </a>

                        </div>

                        <div class="footer_search" *ngIf="searchService.search_data.value.length != 0 ">

                            <div class="finding-results inside_width" *ngIf=" searchService.search_data.search ">

                                <span class="spinner inline-block">

                                    <mat-spinner  diameter="20" ></mat-spinner>

                                </span>

                                <span class="write_spinner inline-block ">Finding Results</span>

                            </div>


                            <div class="no-results inside_width" *ngIf="!searchService.search_data.server_status ">

                              <span> Nothing Founded </span>

                            </div>

                            <a href="#">

                                <div class="seeall-results" *ngIf="!searchService.search_data.search && searchService.search_results.length != 0">

                                    <div class="inside_width hover" (click)="seeAll_searchResuls({ path:'shopping/results' , data:{ keyparams:'keyword' , params: searchService.search_data.value} ,relative:false })">

                                        <span> See all results for {{searchService.search_data.value}} </span>

                                    </div>

                                </div>

                            </a>

                        </div>

                    </div>


            </span> <!-- end left header ..................................... -->

            <span class="header_right">


                <div class="buttons_right_pc">

                    <div class="button_right_pc"  *ngFor=" let button of button_right  ; let i = index "  >

                        <span *ngIf="auth.status && button.id == 1 ; else looggedout">

                            <button class="user_dropdown" mat-icon-button >

                                <img class="full" src="../../assets/images/users/{{auth.client.picture}}">

                            </button>



                        </span>

                        <ng-template #looggedout >

                              <div href="#"  (click)="check_button(button ,i , $event)" class="drop_button button{{button.id}} {{button.different_class}}">

                                  <span matBadge="11" matBadgeOverlap="true" matBadgeSize="small" matBadgePosition="above after" matBadgeColor="warn" [matBadgeHidden]="button.hide_notification" class="glyphicon icon_button {{button.icon}}"  [ngClass]="{'selected-color-button' : i==productsService.button_properties.selectedIndex }">

                                  </span>

                                  <div class="write_icon_header write_icon_header{{button.id}}" > {{ dataservices.language[button.name]}} </div>

                              </div>

                        </ng-template>

                    </div>

                </div>

            </span>
            <!--  start dropdown header ..................................................................-->

            <div class="dropmore dropdown_button notClosepointerHeader notCloseDropdawnLanguage">

                <mat-tab-group class="dropdown_more">

                    <mat-tab>

                        <ng-template mat-tab-label >

                            <mat-icon>
                                language
                            </mat-icon>

                            <div class=" inline-block">
                                Language
                            </div>

                        </ng-template>

                        <div class="body_div body_more">

                            <div class="choose">

                                <h2>{{dataservices.language.choselanguage}}</h2>

                            </div><br>

                            <ng-container  *ngFor=" let language of language_allow  ">

                                <div class="all_languages hover" (click)="choose_language(language.id)"  >

                                    <div class="positionlang">

                                        <div class="centerlang">

                                            <div class="iconlang">

                                                <img  src="../../assets/images/{{language.image}}">

                                            </div>

                                            <div class="writelang">

                                                <h2>{{language.name}}</h2>

                                            </div>

                                        </div>

                                        <div class="leftlang">

                                            <mat-radio-group>

                                                <mat-radio-button class="radiolang"  value="1" [checked]="current_language(language.id)"  >

                                                </mat-radio-button>

                                            </mat-radio-group>

                                        </div>

                                    </div>

                                </div>

                            </ng-container><br>

                        </div>

                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                settings
                            </mat-icon>
                            <div class=" inline-block">
                                Setting
                            </div>
                        </ng-template>

                        <div class="body_div body_more">

                            Setting content
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                        </div>

                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                help
                            </mat-icon>
                            <div class=" inline-block">
                                Help
                            </div>
                        </ng-template>
                        <div class=" body_div body_more">
                            Help contenc

                        </div>
                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                feedback
                            </mat-icon>
                            <div class=" inline-block">
                                Feedback
                            </div>
                        </ng-template>

                        <div class="body_div body_more">
                            Feedback

                        </div>
                    </mat-tab>

                </mat-tab-group>

                <a href="#" >
                    <div class="see_all ">
                        Sell All
                    </div>
                </a>
            </div>

            <div class="dropcard dropdown_button notClosepointerHeader notCloseDropdawnCard" [ngClass]="{'show_dropcard':drop_Card}">

                <div class=" header_div">

                    <div class="inside_width">

                        <span class="drop_cart_title">

                            {{dataservices.language.Cart_Write}}

                        </span>

                        <span  matTooltip="Search" class="search_icon_from_wish">

                            <button mat-icon-button class="btns-cart"  (click)="productsService.show_hide_search_in_cartlist()">

                                <mat-icon class="notCloseDropdawnCard" *ngIf="productsService.cart_properties.icon_search == false">search</mat-icon>

                                <mat-icon class="notCloseDropdawnCard" *ngIf="productsService.cart_properties.icon_search == true">close</mat-icon>
                            </button>

                        </span>

                        <span class="search_from_wish">

                            <input type="text" [(ngModel)]="filter_cart" placeholder="Serach Wishlist" name="search_wish" class="search-in-cart search_wishlist" [ngClass]="productsService.check_show_hide_search_in_cartlist()">

                        </span>

                        <span  matTooltip="Delete" class="delete_from_wish">

                            <button mat-icon-button class="btns-cart " [ngClass]="{'no-drop' : productsService.cart_properties.button }" [disabled]=" productsService.cart_properties.button " (click)="productsService.check_delete_from_cartList()" >

                                <mat-icon>delete</mat-icon>

                            </button>

                        </span>

                        <span  matTooltip="Add to Wish" class="add_shopping_card_from_wish">

                            <button mat-icon-button class="btns-cart" [ngClass]="{'no-drop' : productsService.cart_properties.button }" [disabled]="productsService.cart_properties.button"  >

                                <mat-icon>favorite</mat-icon>

                            </button>

                        </span>

                        <a (click)="set_router( { path:'wish' , data:false ,relative:true } )" >

                            <span  matTooltip="See All" class="add_shopping_card_from_wish">

                                <button mat-icon-button class="btns-cart" >

                                    <mat-icon>remove_red_eye</mat-icon>

                                </button>

                            </span>

                        </a>

                        <span  matTooltip="Select all" >

                            <mat-checkbox color="primary" class="btns-cart"
                                          [checked]="productsService.cart_properties.cartList.length == productsService.cart_properties.selected.length && productsService.cart_properties.selected.length > 0 "
                                          (click)="productsService.selecteAll_cartList()">
                            </mat-checkbox>

                        </span>

                    </div>

                </div>

                <div class="body_div body_cart" *ngIf="productsService.status_products | async">

                    <ng-container *ngIf="productsService.cart_properties.cartList.length > 0 ; else  emptycart">

                        <div  *ngFor="let cart_product of productsService.cart_properties.cartList | filter: filter_cart "  [@wishList_animations]="active">

                            <button mat-button class="width_body_wish" [ngClass]="productsService.getStyle_cart( cart_product )">

                                <div class="width_each_wishlist">

                                    <div class="wish_image"  (click)="set_router({ path:cart_product.name+'/'+cart_product.title , data:cart_product.product_id , relative:true })">

                                        <img  src="../../assets/images/products_image/{{cart_product.image}}">

                                    </div>

                                    <div class="cart_item title">

                                        Title: {{cart_product.title}}

                                    </div><br>

                                    <div class="cart_item price">

                                        Price: ${{ cart_product.price }}

                                    </div>

                                    <div class=" cart_item quantity">

                                        Quantity:

                                        <mat-form-field style="width:40px;">

                                            <mat-select  [(value)]="cart_product.quantity" (change)="productsService.update_quantity_cartList( cart_product )">

                                                <mat-option [value]="1">
                                                    1
                                                </mat-option>
                                                <mat-option [value]="2">
                                                    2
                                                </mat-option>
                                                <mat-option [value]="3">
                                                    3
                                                </mat-option>
                                                <mat-option [value]="4">
                                                    4
                                                </mat-option>

                                            </mat-select>

                                        </mat-form-field>

                                    </div>

                                    <div  class="cart_item seller">

                                        Seller:
                                        <span (click)="set_router({ path:cart_product.name , data: cart_product.company_id , relative:true })">{{ cart_product.name }}</span>

                                    </div>

                                    <div class="cart_item total_item_price">

                                        Total: ${{ (cart_product.price)*cart_product.quantity  }}

                                    </div>

                                    <div class="check_checkbox_wish"> <!-- start div select checbox for products in wishlist -->

                                        <span  matTooltip="select">

                                            <mat-checkbox  color="primary" [checked]="productsService.check_selected_cart( cart_product )" (click)="productsService.toggle_select_cart( cart_product )">

                                            </mat-checkbox>

                                        </span>

                                    </div>

                                </div>

                            </button>

                        </div>

                    </ng-container >

                    <ng-template #emptycart>

                        your Cart is empty

                    </ng-template>
                </div>

                <div class="bottom_cart">

                    <div class="inside_bottom_cart">

                        <div class="write_checkout">
                             Proceed to Checkout  PayPal , Stripe , Visa
                        </div>

                        <div class="checkout">

                            <span>

                                Total_item: {{productsService.cart_properties.total_items}}

                            </span>

                            <span>

                                Total_price: ${{productsService.cart_properties.total_price}}

                            </span>

                        </div>

                        <div class="button_checkout">

                            <button mat-button class="button">

                                <span>Continue Shopping</span>

                            </button>

                            <button mat-button class="button">

                                <span>Checkout</span>

                            </button>

                        </div>

                    </div>

                </div>

            </div>

            <div class="dropfavorites dropdown_button notCloseDropdawnFavorite notClosepointerHeader">

                <app-wish-list></app-wish-list>

            </div>

            <div class="treguesi notCloseDropdawnFavorite notClosepointerHeader notCloseDropdawnCard notCloseDropdawnLanguage"></div>

        </div>

    </div>

    <mat-progress-bar  mode="indeterminate" class="progress" *ngIf="dataservices.progress | async"></mat-progress-bar>  <!--  progress bar -->

</div> <!-- end header ............................. -->

<div class="mobile_top_nav transition response_outer " [ngStyle]="top_nav_mobile_style">

    <div class="response_inner" >

        <div class="inner_height">

            <div class="mobile_top_nav_input inline-block">

            <input #searchInput type="text" class="input_search notCloseDropdawnSearch"  name="search" [(ngModel)]="searchService.search_data.value" (ngModelChange)="searchService.search_new_value()" (focus)="searchService.focus_search(searchInput)"  placeholder="{{dataservices.language.searchproducts}}">

            </div>

            <div class="mobile_top_nav_button inline-block">

                <button mat-button color="primary" *ngIf="!searchService.search_data.dropdown" class="button button_search notCloseDropdawnSearch" (click)="button_search(searchInput)" >

                    <mat-icon class="iconbuttonsearch" >search</mat-icon>

                </button>

                <button mat-button color="primary" *ngIf="searchService.search_data.dropdown" class=" button button_search   notCloseDropdawnSearch" (click)="searchService.hide_search_content()" >

                    <mat-icon  class="iconbuttonsearch" >close</mat-icon>

                </button>

            </div>



        </div>

    </div>
    <mat-progress-bar  mode="indeterminate" class="progress_mobile" *ngIf="dataservices.progress | async"></mat-progress-bar>  <!--  progress bar -->

</div>  <!-- end header modile  -->

<div class="mobile_bottom_nav inside_header">
    <a href="#">

    <div class="button_mobile" (click)="set_router( { path:'shopping' , data:false ,relative:false } , check_body(false) )">


        <span class="glyphicon glyphicon-home"></span>



        <div class="write_icon_header"> Home </div>


    </div>
    </a>
    <a href="#">

        <div class="button_mobile" (click)="set_router( { path:'shopping/login_register' , data:false ,relative:false } , check_body(false) )">


            <span class="glyphicon glyphicon-user gh-productsService"></span>



            <div class="write_icon_header"> User </div>


        </div>
    </a>


    <a href="#">
    <div class="button_mobile " (click)="set_router( { path:'shopping/wish_list' , data:false ,relative:false } , check_body(true) )"   >


        <span matBadge="{{productsService.wish_properties.wishList.length <= 9 ? productsService.wish_properties.wishList.length : '9+' }}" matBadgeOverlap="true" matBadgeSize="small" matBadgePosition="above after" matBadgeColor="warn"  class="glyphicon glyphicon-heart " [ngClass]="{'active': true}"  >

        </span>

        <div class="write_icon_header"> {{dataservices.language.wish}} </div>

    </div>
    </a>


    <a href="#">
    <div class="button_mobile " (click)="set_router( { path:'shopping/cart_list' , data:false ,relative:false } , check_body(false))" >

        <span matBadge="{{productsService.cart_properties.cartList.length <= 9 ? productsService.cart_properties.cartList.length : '9+' }}" matBadgeOverlap="true" matBadgeSize="small" matBadgePosition="above after" matBadgeColor="warn" class="glyphicon glyphicon-shopping-cart gh-header">

        </span>

        <div class="write_icon_header" >{{dataservices.language.card}}</div>

    </div>
    </a>
    <a href="#">

    <div class="button_mobile" (click)="set_router( { path:'shopping/menu' , data:false ,relative:false }, check_body(true) )">

        <span class="glyphicon glyphicon-th-large">

        </span>

        <div class="write_icon_header" >{{dataservices.language.more}}</div>

    </div>
    </a>

</div>










