.company{

    margin-top: -40px;


}

.not_founded_company , .loading_company{

    margin-top: 40px;
}
.company_router{
    position: relative; width: inherit; height: auto;z-index: 1;
}

.company_right{

    float: right;  height: 100%;

}
.button_category{
    background: transparent;  height: 100%;  min-width: 30px;
}

.company_left{
    width: 50%;  height: 100%;

}
.company_img{
    width: 50px;  height: inherit;  float: left;
}


.company_name{
    height: 100%;  width: auto;  margin-top: 1px;
}
.search_button{
    height:100%; min-width: 100%; padding: 0 0; border-radius: 0;
}
.search_button .mat-icon{
    position: relative;
    top: -3px;
}
.nav_button{
    height: 100%;
    border-radius: 0;

}
.nav_button:hover{
    border-bottom:2px solid ;

}
.nav_button:hover span ,.nav_button:hover .mat-icon{

    color: darkslategrey;
}
.company_nav_active{

    border-bottom:2px solid;

}
.company_nav_active span,.company_nav_active .mat-icon{

    color: darkslategrey;
}
.nav_button .mat-icon ,.nav_button span{

    position: relative;
    top: -3px;
}


.slide_title{
    position: relative;  text-align: center;  font-size: 20px;  margin-top: 110px;
}
.slide_button{
    color: honeydew;  min-width: 150px;
}

.categories{
    position: absolute;  width: 100%;  height: 40px;  margin-top: -50px;  z-index: 1;

}

.categories_opacity{

    opacity: 0.3;  position: absolute;  width: 100%;  height: 40px;  background-color: rosybrown;

    margin-top: -40px;  z-index: 1;
}

.category{

    width: 100px;  height: 100%;  color:white;  text-align: center;  display: inline-block;
}

.content_carousel{
    color: honeydew;  position: relative;  top: -5px;

}
.tile{
    box-shadow: none;
}

.items_in_carousel .mat-icon{
    color:honeydew;
}

.category:hover{

    background-color: #004080;
}

.items_in_carousel{

    height: 40px;  text-align: center;  margin-left: -15px;  margin-right: -15px;
}

.items_in_carousel:hover{

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);

}

a{
    text-decoration: none;
}

/*  slide shoe css */

.glyphicon{
    font-size: 15px;
}

.sliders {
    width: 100%;  height: 100%;  border-radius: 3px;

}
.company_slide{
    position: relative;  z-index: 1 ;
}
ngx-item ,.company_slide {
    width: 100%;  height: 300px;

}

.morecompany{
    width:inherit;  position: relative;  height: auto;  z-index: 1 ;
}

ngx-item img {
    width: 100%;  height: 100%;  position: absolute;  pointer-events: none
}
ngx-tile div {
    position: relative;  color: white;
}
ngx-tile

.forward , .forward_fixed{
    position: absolute;  right: 0;  top: 0;  width: 5px;  height: 300px;  display: inline-block;
    -webkit-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);


}
.forward_hover{
    position: absolute;  right: 0;  top: 0;  width: 5px;  height: 300px;  transition: 0.5s;  display: inline-block;
    z-index: 2;

}
.backward ,.backward_fixed{
    position: absolute;  left: 0;  top: 0;  width: 5px;  height: 300px;  display: inline-block;
    -webkit-box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);
    box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);


}

.backward_hover {
    position: absolute;  left: 0;  top: 0;  width: 5px;  height: 300px;  transition: 0.5s;  display: inline-block;
}

.backward_position,.forward_position {

    position: relative;  top: 50%; left: 50%;  transform: translate(-50%,-50%);  width: 47px;  height: 47px;
    opacity: 0.9;

}

.icon_backward {
    position: relative;  top:-7px;  left: -2px;  color: white;

}
.icon_forward{
    position: relative;  top:-7px;  left: 2px;  color: white;
}

.write_slider{
    position: relative;  margin-top: -50px;  margin-left: -100px;  font-size: 25px;  color:gray;

}
.sliders:hover .backward{

    transition: 0.2s;
    width: 50px;
    height: 100px;
    margin-top: 100px;

    opacity: 0.4;

}
.sliders:hover .forward{

    transition: 0.2s;
    width: 50px;
    height: 100px;
    opacity: 0.4;
    margin-top: 100px;

}
.company_option{

    height: 80px;

}
.inner_company_option{

    height: 80%;
    position: relative;
    top: 10%;

}
.company_profile_img{

    width: calc( 80*0.8px );
    height: 100%;
    float: left;

}
.company_profile_img img{


}

.company_nav{
    width: calc(100% - 80*0.8px );
    float: right;
    height: 100%;

}
.inner_company_nav{
    margin-left: 10px;

}
.company_name{
   position: relative;
    top: 5px;
}
.right_company_nav_bottom{
    float: right;


}

.sliders:hover .backward_hover ,.sliders:hover .forward_hover{
    transition: 0.4s;
    width: 50px;
    height: 100px;
    margin-top: 100px;

}




@media only screen and (max-width: 1050px) {

    .backward_position,.forward_position ,.forward_fixed ,.backward_fixed , .forward, .backward {
        display: none;
    }



}

