
<div class="response_outer" [ngClass]="{'active_menu':dataservices.status_menu  ,'active_chat':dataservices.status_chat}">

    <div class="response_inner inner_top_header">

        <div class="write_above_header">

            <div class="left_above_header" (click)="authe()">

                BestSeller

            </div>

            <div class="right_above_header">

                The Best App to Management your Business

            </div>

        </div>

    </div>

</div>

<nav class="navigation " >

    <div class="top_menu">  <!-- this is open category  -->

        <div class="herewrite">

            <a href="#">

                <div class="radius_category" id="laptopscreen" (click)="check_menu()" >

                     <span  matTooltip="Category">

                         <div class="position_icon_ctegory">

                             <div class="listcategory" >

                                 <span class="glyphicon glyphicon-th-large"></span>

                             </div>

                             <div class="listcategory closelist" >

                                 <span class="glyphicon glyphicon-log-out icon-list-remove"></span>

                             </div>
                         </div>
                     </span>

                </div>
            </a>

        </div>

    </div>

    <div class="response_outer"  [ngClass]="{'active_menu':dataservices.status_menu  ,'active_chat':dataservices.status_chat}">

        <div class="response_inner bottom_header">

            <div class="kerkimresponse" style="display: none;">

                <div class="exitsearch1">
                    <a href="#"><img class="imggback" src="../../assets/images/back_white.png">
                    </a>
                </div>
                <input type="text"  name="respondesearch" class="searchinputresp" placeholder="search">

                <div class="exitsearch">

                    <a href="#">
                        <div class="exit"><a href="#"><img src="../../assets/images/close1.png"></a></div>

                    </a>

                    <div class="searchimg"><a href="#"><img  src="../../assets/images/search.png"></a></div>

                </div>

            </div>

            <div class="pcheader"> <!-- start header  -->

                <span class="lefte">  <!-- start left header  -->

                     <div class="menu1">  <!-- Icon header   -->

                         <div class="icon_header">

                             <a (click)="set_router( { path:'shopping' , data:false ,relative:false } )"> B </a>

                         </div>

                         <div class="icon_header_write">
                             <a routerLink=""> Bestseller </a>
                         </div>

                     </div>

                     <span matTooltip="Search product and company">

                         <div class="search notCloseDropdawnSearch">

                             <input type="text" class="kerkim" id="kerkim" name="search" placeholder="{{get_Language.searchproducts}}">

                             <a href="#">
                                 <div class="iconsearch">
                                     <div class="imgsearch">
                                         <span class="glyphicon glyphicon-search"></span>
                                     </div>
                                     <div class="imgsearchexit">
                                         <span class="glyphicon glyphicon-remove-sign"></span>
                                     </div>
                                 </div>
                             </a>

                         </div>

                     </span>

                 </span>

                <span class="button_right">

                    <a  href="#" *ngFor=" let button of button_right" matTooltip="{{button.mat_tooltip}}"  (click)="check_button(button)" >

                        <div class="menu3 button{{button.id}} {{button.different_class}}">

                            <span class="glyphicon {{button.icon}}">

                                <div class="number_event">

                                    <div class="write_number" *ngIf="button.id == 2">

                                        {{wishList_products.length}}

                                    </div>

                                    <div class="write_number" *ngIf="button.id == 3">

                                       {{cart.length}}

                                    </div>

                                </div>

                            </span>

                            <div class="write_icon_header write_icon_header{{button.id}}"> {{ get_Language[button.name]}} </div>

                        </div>

                    </a>

                </span>

                <span class="mobile_header">

                    <a (click)="set_router( { path:'shopping' , data:false ,relative:false } )" class="hide_menu">
                    <div class="menu3" id="">
                         <a  href="#" class="listcategoryfind notClosepointerHeader">
                             <div class="listcategory" id="iconmenu">
                                  <span class="glyphicon glyphicon-home"></span>
                             </div>

                         </a>

                          <div class="write_icon_header"> Home </div>

                     </div>
                        </a>
                     <a (click)="set_router( { path:'search' , data:false ,relative:true } )" >
                     <div class="menu3" id="">
                         <a class="searchresponse" href="#">
                             <span class="glyphicon glyphicon-search"></span>
                         </a>
                          <div class="write_icon_header"> Search </div>
                     </div>
                     </a>



                     <span matTooltip="Open wishlist">
                         <a (click)="set_router( { path:'wish' , data:false ,relative:true } )"  class="hide_menu">

                             <div class="menu3  " id="favority">

                                 <ng-container *ngIf="wishList_products.length>0;else empty" >

                                     <span class="glyphicon glyphicon-heart " [ngClass]="{'active': true}"  >
                                         <div class="number_event">
                                             <div class="write_number">
                                                 {{wishList_products.length}}
                                             </div>
                                         </div>
                                     </span>

                                 </ng-container>

                                 <ng-template #empty>

                                     <span class="glyphicon glyphicon-heart gh-header">
                                         <div class="number_event">
                                             <div class="write_number">
                                                 {{wishList_products.length}}
                                             </div>
                                         </div>
                                     </span>
                                 </ng-template>

                                 <div class="write_icon_header"> {{get_Language.wish}} </div>
                             </div>
                         </a>
                     </span>

                     <span matTooltip="Open card">

                         <a (click)="set_router( { path:'card' , data:false ,relative:true } )"  class="hide_menu">

                             <div class="menu3 " id="card">

                                 <span class="glyphicon glyphicon-shopping-cart gh-header">

                                     <div class="number_event">

                                         <div class="write_number">

                                             {{card_products.length}}
                                         </div>

                                     </div>
                                 </span>
                                 <div class="write_icon_header" >{{get_Language.card}}</div>
                             </div>

                         </a>

                     </span>


                     <span matTooltip="More option">

                         <a (click)="set_router( { path:'menu' , data:false ,relative:true } )">

                             <div class="menu3 " >

                                 <span class="glyphicon glyphicon-th-large">
                                     <div class="number_event">
                                         <div class="write_number write_hidden">
                                             {{wishList_products.length}}
                                         </div>
                                     </div>
                                 </span>
                                 <div class="write_icon_header" >{{get_Language.more}}</div>
                             </div>

                         </a>

                     </span>

                </span>

                <div class="dropdown_search notCloseDropdawnSearch" >
                    sdg

                    <div class="body_search_header">
                        Search in header
                    </div>
                    <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>

                <div class="languagefull">
                    <div class="dropmore notClosepointerHeader notCloseDropdawnLanguage">

                        <mat-tab-group>

                            <mat-tab>

                                <ng-template mat-tab-label class="hearts_div">
                                    <mat-icon>
                                        language
                                    </mat-icon>
                                    <div class="label_tab inline-block">
                                        Language
                                    </div>
                                </ng-template>

                                <div class="body_more body_div">

                                    <div class="choose" style="color:gray; text-align: left; position: relative; left: 10px;">
                                        <h2>{{get_Language.choselanguage}}</h2>
                                    </div>
                                    <div class="typelanguage"><br>
                                        <div class="activelanguage">

                                            <div class="imgactiv">
                                                <img src="../../assets/images/{{get_Language.Active_language_image}}">
                                            </div>
                                            <div class="writeactivlanguage">
                                                <h2>{{get_Language.Active_language}}</h2>
                                            </div>
                                            <div class="iconactive">
                                                <img class="radiolang" src="../../assets/images/ok.png">
                                            </div>

                                        </div>

                                        <div class="alllanguages" *ngFor="let language of language_allow">
                                            <a >

                                                <div class="albanian " (click)="choose_language(language.id)"  >
                                                    <div class="positionlang">

                                                        <div class="centerlang">
                                                            <div class="iconlang">
                                                                <img  src="../../assets/images/{{language.image}}">
                                                            </div>
                                                            <div class="writelang">
                                                                <h2>{{language.name}}</h2>
                                                            </div>
                                                        </div>
                                                        <div class="leftlang">

                                                            <mat-radio-group>

                                                                <mat-radio-button class="radiolang"  value="1" [checked]="current_language(language.id)"  >

                                                                </mat-radio-button>

                                                            </mat-radio-group>
                                                        </div>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>


                                    </div>

                                </div>
                            </mat-tab>



                            <mat-tab>

                                <ng-template mat-tab-label class="header_div">
                                    <mat-icon>
                                      settings
                                    </mat-icon>
                                    <div class="label_tab inline-block">
                                    Setting
                                    </div>
                                </ng-template>

                                <div class="body_more body_div">

                                Setting content

                                </div>

                            </mat-tab>

                            <mat-tab>

                                <ng-template mat-tab-label class="header_div">
                                    <mat-icon>
                                        help
                                    </mat-icon>
                                    <div class="label_tab inline-block">
                                    Help
                                    </div>

                                </ng-template>

                                <div class="body_more body_div">

                                Help contenc

                                </div>

                            </mat-tab>

                            <mat-tab>

                                <ng-template mat-tab-label class="header_div">
                                    <mat-icon>
                                        feedback
                                    </mat-icon>
                                    <div class="label_tab inline-block">
                                    Feedback
                                    </div>

                                </ng-template>

                                <div class="body_more body_div">

                                    Feedback

                                </div>

                            </mat-tab>

                        </mat-tab-group>

                        <a href="#" >

                            <div class="see_all">
                                Sell All
                            </div>

                        </a>

                    </div>
                </div>

                <div class="dropcard notClosepointerHeader notCloseDropdawnCard">

                    <div class="top_wish  hearts_div">

                        <div class="width_height_top_wish">

                            <div class="all_top_div_wish">

                                 <span class="width_top_wish">
                                     {{get_Language.Wish_Write}}
                                 </span>

                                <span  matTooltip="Search" class="search_icon_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish"  (click)="show_hide_search_in_wishlist()">

                                         <mat-icon class="notCloseDropdawnFavorite" *ngIf="show_hide_search_in_wishList == false">search</mat-icon>

                                         <mat-icon class="notCloseDropdawnFavorite" *ngIf="show_hide_search_in_wishList == true">close</mat-icon>

                                     </button>

                                 </span>

                                <span class="search_from_wish">

                                     <input type="text" [(ngModel)]="filter_wish" placeholder="Serach Wishlist" name="search_wish" class="search_wishlist" [ngClass]="check_show_hide_search_in_wishlist()">

                                 </span>

                                <span  matTooltip="Delete" class="delete_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish" [disabled]="button_delete" (click)="delete_from_wishList( selected_wishList )" >
                                         <mat-icon>delete</mat-icon>
                                     </button>

                                 </span>

                                <span  matTooltip="Add to Cart" class="add_shopping_card_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish" >
                                         <mat-icon>shopping cart</mat-icon>
                                     </button>

                                 </span>

                                <a (click)="set_router( { path:'card' , data:false ,relative:true } )" >

                                    <span  matTooltip="See All" class="add_shopping_card_from_wish">

                                        <button mat-icon-button class="btn-deleteFromwish" >
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>

                                    </span>
                                </a>

                                <span  matTooltip="Select all" class=" selected_all_wishlist">
                                     <button mat-icon-button class="btn-deleteFromwish" >
                                         <mat-icon>
                                             <mat-checkbox color="primary" class="select_all_wishlist"
                                                           [checked]="selectedAll_value_wishlist"
                                                           (click)="selectedAll_wishList()">
                                             </mat-checkbox>
                                         </mat-icon>
                                     </button>
                                 </span>
                            </div>
                        </div>
                    </div>

                    <div class="body_wish body_cart body_div">



                    </div>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>

                <div class="dropfavority notCloseDropdawnFavorite notClosepointerHeader">

                    <div class="top_wish header_div">
                        <div class="width_height_top_wish">
                            <div class="all_top_div_wish">
                                 <span class="width_top_wish">
                                     {{get_Language.Wish_Write}}
                                 </span>

                                <span  matTooltip="Search" class="search_icon_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish"  (click)="show_hide_search_in_wishlist()">

                                         <mat-icon class="notCloseDropdawnFavorite" *ngIf="show_hide_search_in_wishList == false">search</mat-icon>

                                         <mat-icon class="notCloseDropdawnFavorite" *ngIf="show_hide_search_in_wishList == true">close</mat-icon>

                                     </button>

                                 </span>

                                <span class="search_from_wish">

                                     <input type="text" [(ngModel)]="filter_wish" placeholder="Serach Wishlist" name="search_wish" class="search_wishlist" [ngClass]="check_show_hide_search_in_wishlist()">

                                 </span>

                                <span  matTooltip="Delete" class="delete_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish" [disabled]="button_delete" (click)="delete_from_wishList( selected_wishList )" >
                                         <mat-icon>delete</mat-icon>
                                     </button>

                                 </span>

                                <span  matTooltip="Add to Cart" class="add_shopping_card_from_wish">

                                     <button mat-icon-button class="btn-deleteFromwish" >
                                         <mat-icon>shopping cart</mat-icon>
                                     </button>

                                 </span>

                                <a (click)="set_router( { path:'wish' , data:false ,relative:true } )" >

                                    <span  matTooltip="See All" class="add_shopping_card_from_wish">

                                        <button mat-icon-button class="btn-deleteFromwish" >
                                            <mat-icon>remove_red_eye</mat-icon>
                                        </button>

                                    </span>
                                </a>

                                <span  matTooltip="Select all" class=" selected_all_wishlist">
                                     <button mat-icon-button class="btn-deleteFromwish" >
                                         <mat-icon>
                                             <mat-checkbox color="primary" class=" select_all_wishlist"
                                                           [checked]="selectedAll_value_wishlist"
                                                           (click)="selectedAll_wishList()">
                                             </mat-checkbox>
                                         </mat-icon>
                                     </button>
                                 </span>
                            </div>
                        </div>
                    </div>

                    <div class="body_wish  body_div">

                        <div  *ngFor="let wish_product of wishList_products | filter: filter_wish "  [@wishList_animations]="active">

                            <button mat-button class="width_body_wish" [ngClass]="getStyle_wish( wish_product )">

                                <div class="width_each_wishlist">

                                    <div class="wish_image" >

                                        <img  src="../../assets/images/products_image/{{wish_product.image}}">

                                    </div>

                                    <div class="title">
                                        {{wish_product.title}}
                                    </div>

                                    <div class="check_checkbox_wish"> <!-- start div select checbox for products in wishlist -->
                                        <span  matTooltip="select">
                                             <mat-checkbox  color="primary" [checked]="check_selected_wish( wish_product )" (click)="toggle_select_wish( wish_product )">

                                             </mat-checkbox>
                                         </span>

                                    </div>

                                </div>

                            </button>

                        </div>

                    </div>

                </div>

                <div class="treguesi notCloseDropdawnFavorite notClosepointerHeader notCloseDropdawnCard notCloseDropdawnLanguage"></div>

            </div>

        </div>

    </div>

</nav>

<div class="clickchat"> <!--  start the chat ................................................-->

    <a href="#">

        <div class="openchat" id="showchat" (click)="check_chat()">

            <div class="imgopenchat">

                <div class="pointerchat"></div>

                <img src="../../assets/images/chat.png">

                <div class="nrnotification" id="nrnotification">

                </div>

            </div>

        </div>

    </a>
</div>