

/* Styles go here */

.border{

    border: 1px solid;
    border-color: lightgray;
}

.progress{

    position: relative;
    top: -2px;
}

mat-progress-bar.progress .mat-progress-bar-fill::after {
    background-color: green;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.no-drop {cursor: no-drop;}

.menu3:hover span , .menu3:hover .write_icon_header{

    color:darkslategrey;
}


.mini_icon{
    font-size: 15px;

}
a{
    text-decoration: none;
}

.Box-shodown{

}
.selected_wish{
    background-color:  #f2f2f2;
    transition: 0.5s;
}
.inline{
    display: inline-block;
}

.active_wish_list{
    color:red;
}

.selected-color-button{
    color:white;
}
.selected-color-write{
    color: gray;
}
.selected-color-number span{
    color:gray ;
}
.spinner{
    position: relative;
    top: 2px;
}

/* Begin css for header profile user here ....................................................................................................*/
.header{
    position: fixed;
    z-index: 4 !important;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    color: lightgray;
    background-color:#E6E6FA;
}


.header_left{
    width: 50%;
    float: left;

}
.header_right{
    width: 50%;
    height: 100%;

}

.number_event{

    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    z-index: 10 !important;


}
.write_number{
    position: relative;
    top: -11px;
    left: -14px;
    color:white;
    font-size: 12px;

}
.write_number_less{
    position: relative;
    left: -10px;

}
.opacity_detail_product{
    position: fixed;
    background-color: gray;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    z-index: 10 !important;
    opacity: 0.7;
    display: none;



}
.details_products{
    position: fixed;
    z-index: 11 !important;
    color:red;
    width: 100%;
    height: 100%;
    display: none;



}
.loading_product_details{
    width: 90px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color:white;

}
.message_error_detail_product ,.open_detail_product{
    display: none;
}

.details_products_container{
    width: 700px;
    height: 500px;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    display: none;

}


.icon-list-remove{
    position: relative;
    left: 2px;
    top: -1px;
}
.exitlogin ,.exit_details_product{
    color:white;

    position: relative;
    top:6px;
    right: 20px;
    border-radius: 50px;

}
.hidelogin ,.hide_details_product{
    float: right;

}
.exitlogin,.exit_details_product{
    position: relative;
    top: 2px;
    left: -10px;
}
.hidelogin:hover{
    opacity:0.8;


}
.infoexit{
    float: right;
    font-size: 18px;
    position: relative;
    top: 40px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: white;
    color:gray;
    display: none;
}

.check_menu .mat-icon{
    font-size: 30px;
    position: relative;
    top:-4px;
    left: -6px;

}
.check_menu{
    min-width: 50px;
    max-width: 50px;
    height: 100%;
    border-top:2px solid;
    color: gray;
}

/*    here is css for popup when sesioni doesn't  ezists automatik system doing logout*/
.writeloader ,.imgpreloader{
    display: inline-block;
}
.writeloader{
    position: relative;
    top: -10px;
}
.preloader{
    position: relative;
    top: 50px;
}
.imgloading{
    display: inline-block;
    position: relative;
    top: 1px;
}

.reload_page{
    display: none;
}
.write_language{
    display: inline-block;
    position: relative;
    top: -8px;
}
.checksession {
    position: absolute;
    width:100%;
    background-color: gray;
    height: 100vh;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_hover_category_sub{
    position: fixed;
    width: calc(100% - 250px);
    float: right;
    background-color: gray;
    height: 95vh;
    bottom:0;
    right: 0;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_dropdown{
    position: fixed;
    background-color: gray;
    height: 87.3vh;
    width: 100%;
    bottom:0;
    z-index: 4
    !important;
    opacity: 0.1;
    display: none;
}
.popuplogout{
    position: absolute;
    z-index: 11 !important;
    width: 100%;
    display: none;

}
.writelogout{
    width: 100%;
    background-color: #004080;
    height: 25px;
    font-size: 18px;
    color:white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.movewrite{
    position: relative;
    left: 10px;
    top:2px;
}
.movebody{
    position: relative;
    left: 10px;
    top: 5px;
}
#movebtn{
    position: relative;
    top: 13px;
}

.drop_wish_title ,.drop_cart_title{
    position: relative;
    top: 8px;
}
.btns-wish ,.btns-cart{
    position: relative;
    top: -5px;
}
.search-in-wish , .search-in-cart{
    vertical-align: top;
}

.menu1 {
    display: inline-block;
    width: auto;
    height: 30px;
    position: relative;
    top: 3px;
}

.icon{
    width: 5%;
    height: 100%;
    position: absolute;

 }
.icon_img{
    width: 24px;
    margin: 0 auto;
    height: 24px;
    position: relative;
    top: 7px;

}
.icon_img img{
    width: 100%;
    height: 100%;
}
.write_icon{
    position: relative;
    top: 5px;
}
.icon_openmenu{
    width: 200px;
    height: 100%;
    visibility: hidden;
    position: absolute;
    left: -200px;
}

.icon_openmenu_img {

    position: relative;
    top: 7px;

}
.text_icon{
    position: relative;
    top: 2px;

}


.inside_icon_openmenu{
    float: right;
}
.showicon_openmenu{
  visibility: visible;
   left: 50px;
    transition: 0.3s;
}
.icon_header_write{

    width: 0;
    transition: 0.3s;
    visibility: hidden;

}
.new_icon_header_write{
    width: 105px;
    transition:0.3s;
    visibility: visible;
}

.nameuser{
    color: white;

}

.card ,.favority , .language{
    position: relative;
    top: -1px;
    display: inline-block;

}
.menu2 {
    display: inline-block;
    width: 40px;
    position: relative;
    top:9px;
}


.search{

    width: 100%;

}

.button_right_pc{
    float: right;
    display: inline-block;
    width: 70px;
height: 100%;
    text-align: center;
    overflow: hidden;



}
.button_header{
    height: 100%;

    border-radius: 0;
}
.icon_button{
    position: relative;
    top: 1px;

}



.button_mobile{

    float: left;
    width: 20%;
    height: 100%;
    text-align: center;



}

.button_mobile a{

    color:white;
    text-decoration: none;
}

.header_mobile{
    display: none;
    width: 100%;
}

.active{
    color: red;
}
.write_icon_header{
position: relative;
    top: -4px;
    z-index: 10 !important;
}





.treguesi{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;

    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 33px;
    left: 0px;
    display: none;
    z-index: 0 !important;


}



.iconopenchat{
    position: relative;
    top: -50px;
    left: 10px;
}

input[name='search']{
    padding-left: 7px;
    padding-right: 35px;

}

.buttonsearch{

    min-width: 40px;
    max-width: 40px;
    height: 30px;
    border-radius: 0;
    position: relative;
    top: 4.5px;
    left: -4px;
    box-shadow: none;
   background-color: white;
    border: 1px solid;
    color: lightgray;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

}
.buttonsearch:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.iconbuttonsearch{
    position: relative;
    left: -8px;
    top:-4px;
}

.option{

    margin-left: -95px;
    width: 250px;
    border:none;

}
.optiongjuha{

    margin-left: -82px;
    border:none;
}
.kerkim{
    width:calc( 100% - 45px );

}

.kerkim input{

    width:calc( 100%  - 45px ) ;
    height: 30px;
    position: relative;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
  background-color: whitesmoke;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
input[name='search']:focus {

    outline: none;

    background-color: white;

    transition:0.3s;

    -webkit-box-shadow: inset 0px 0.2px 0.2px 0.2px rgba(118,128,240,1);
    -moz-box-shadow: inset 0px 0.2px 0.2px 0.2px rgba(118,128,240,1);
    box-shadow: inset 0px 0.2px 0.2px 0.2px rgba(118,128,240,1);
}

.search_wishlist{
    width: 0.0px;
    height: 100%;
    transition: 0.5s;
    background-color: #E6E6FA;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
    border-radius: 2px;



}

.show_search_in_wishlist{

    width: 190px;
    visibility: visible;
    transition: 0.5s;

}



html>/**/body .searchinputresp, x:-moz-any-link {
    top: -7px;
}
html>/**/body .kerkim, x:-moz-any-link {
    top:-4px;
}


.header-icon-right {

    background-color: green;
}

#search{
    display: none;
}



.notification {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    font-size: 13px;
    border:2px solid;
    border-color:white;

    margin-left: 10px;
    margin-top: -7px;

}


.count_number_favorite{
    position: relative;
    top:-1px;
}





.see_all{
    width: 100%;
    height: 20px;
    text-align: center;
}

.see_all:hover{
    background-color: #004080;
    color:white;
}




/* End css for header profile user here ....................................................................................................*/

/* dropdown list language ...............*/


.search_width{
    position: relative;
    width: 500px;

    height: 500px;
    background-color: white;




    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    border-radius: 3px;
    display: none;
}


.dropcard ,.dropfavority ,.dropmore{

    position: absolute;
    width: 500px;

    height:auto;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);



}

.dropdown_search{

    position: relative;
    width: inherit;
    height:auto;
    display: none;
    transition:0.3s;
    background-color: white;




    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}
.header_dropsearch ,.dropdown_search{
    border-top-left-radius: 4px;
}


.new_dropdown_search{

    transition:0.3s;
    margin-left: 139px;
}

.top_dropwdown_search{

    left:35px;
    transition: 1s;
}


.show_dropfavority , .show_dropcard , .show_dropmore{
    display: block;
}
.bottom_cart{
    width: 100%;
    height: 100px;
    background-color: white;

}

.inside_bottom_cart{
    height: 100%;
    width: 98%;
    margin: auto;
    margin-top: 2px;
}
.body_cart ,.body_wish {
    max-height: 400px;
    min-height: 80px;
}

.body_more{


    min-height: 80px;
    max-height: 400px;

}

.write_checkout,.checkout ,.button_checkout{
    height: 30%;


}
.top_wish{
    width: 100%;
    height: 40px;

}


.all_top_div_wish{

    height: 100%;

}


.width_each_wishlist  {

    height: 100%;
    width: 98%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.width_body_wish{
    width: 100%;
    height: 80px;
    border-radius: 0px;
    position: relative;
    margin-top: -2px;


}

.width_top_wish ,.delete_from_wish{
    display: inline;
}

.select_all_wishlist{
    position: relative;
    top:-6px;
}

.mat-checkbox-inner-container {
    border-color: red;
}

.mat-mini-fab:not([class*=mat-elevation-z]){
    box-shadow: none;
}
.mat-fab.mat-accent[disabled]{
    background-color: red;
}
.wish_image{
    width: 70px;
    height:70px ;
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    position: relative;
    top:5px;
}
.wish_image img{
    width: 100%;
    height: 100%;
}
.title ,.price , .quantity ,.seller ,.total_item_price{
    float: left;
}

.cart_item{
    margin-left: 10px;
}
.check_checkbox_wish{

    position: absolute;
    top: 2px;
    right: 5px;

}

.lang a{
    color: gray;
}
.both_write{
    position: relative;
    top: 3px;
}
.add_card{
    position: relative;
    top: 0px;
}
.footer_products a{
    text-decoration: none;
}


.all_languages, .morelang , .activelanguagedropmo{

    height: 25px;
    border-bottom: 1px solid;
    border-color: #d6d6c2;
    position: relative;
    border-left: 10px;
    border-right: 10px;


}

.kl{
    height: 100px;
    width: 100%;
}
.morelang a {
    color:gray;
}
.morelang:hover , .morelang a:hover {
    color :white;
}
.writemore{
    position: relative;
    text-align: center;
    top: 3px;
}

.all_languages h2{
    position: relative;
    top: 2px;
    left: 10px;
}
.iconlang, .writelang{
    display: inline-block;
}

.iconlang{
    position: relative;
    top: 4px;
    left: 5px;
}

.positionlang {
    position: relative;
    left: 10px;
}
input[type='radio'] {
    transform: scale(1.2);
}
.leftlang{
    display: inline-block;
    float: right;
    position: relative;
    left: -10px;
    top: 2px;
}
.centerlang{
    position: relative;
    left: -3px;
    display: inline-block;

}
.toplang h3{
    position: relative;
    top: 3px;
}
.choose h2{
    position: relative;
    top: 8px;

}

.morelanguageclick{
    display: none;
}
.button_search_for{

    height: 100%;
}
.button_search_for mat-icon{
    position: relative;
    top: -4px;
}
.button_search_for span{
    position: relative;
    top: -4px;
}
.active-search-button{
    background-color:#E6E6FA;
}
.result_search {
    position: relative;
    height: 40px;
    width: 100%;

}
.body_recent_searches{

    position: relative;
    height: 40px;
    width: 100%;
}
.recent_searches{
    position: relative;
    min-height: 25px;
}
.title_resent_research{
    height: 25px;
}

.footer_search{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35px;
}
.finding-results  ,.seeall-results ,.no-results {

    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}



.result_search:hover .border_bottom ,.body_recent_searches:hover .border_bottom{
    color:white;
}


.result_search_left{
    width: 30px;
    height: 100%;

}
.result_search_right{
    width: calc( 100% - 40px );
    height: 100%;
    float: right;

}
.result_search_img{
    height: 100%;
    border-radius: 100px;
    background-color: #f2f2f2;
}
.result_search_img img{
    border-radius: 100px;
}
.title{
    position: relative;
    top: 7px;
}



@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1100px){
    .icon_header_write{
        display: none;
    }
}

@media only screen and (max-width: 1050px){

    .menu_right_inside{

        display: none;

    }

    .menu2{
        display: none;
    }
    #responselist{

        display: block;
        display: inline-block;
    }
    .menu1{
        position: relative;
        top: -3px;
    }

    .category,.under_category {
        left: -800px;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .check_menu{
        display: none;
    }

}




@media only screen and (max-width: 750px){
    .photouser{
        width: 27px;
        height: 0px;
        border-color:white;
        position: relative;
        top:0px;

    }

    .category,.under_category{
        width: 100%;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .dropcard ,.dropmore ,.dropfavority{


        position: relative;
        width: 100%;
        min-height: 100vh;
        left: 0;
        margin-top:-5px;

    }
    .inner_mobile{
        width: 100%;

    }

    .header_right ,.header_left{
        display: none;
    }
    .header_mobile{
        display:block;
    }



    .right_above_header{
        display: none;
    }
}






@media only screen and ( min-width: 1200px){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        width: calc(100% - 250px);
    }
}