
<div class="header"  *ngIf="dataservices.status_language | async">

    <div class="response_outer  "  [ngClass]="{'active_menu':productsService.menu_subject.getValue()}">

        <div class="top_menu">  <!-- this is open category  -->

            <div class="herewrite">

                <a href="#">

                    <div class="radius_category" id="laptopscreen" (click)="check_menu()" [ngClass]="{'open_menu':productsService.menu_subject.getValue() }">

                     <span  matTooltip="Category">

                         <div class="position_icon_ctegory">

                             <div class="listcategory">

                                 <span *ngIf="!productsService.menu_subject.getValue()" class="glyphicon glyphicon-th-large"></span>

                                 <span *ngIf="productsService.menu_subject.getValue()" class="glyphicon glyphicon-log-out icon-list-remove"></span>

                             </div>

                         </div>

                     </span>

                    </div>
                </a>

            </div>

        </div>

        <div class="response_inner  inner_mobile ">

            <!--  start bottom header ...........................................-->



                <span class="header_left">  <!-- start left header  -->

                    <div class="menu1">  <!-- Icon header   -->

                        <div class="icon_header">

                            <a href="#" (click)="set_router( { path:'shopping' , data:false ,relative:false } )"> B </a>

                        </div>

                        <div class="icon_header_write">
                            <a routerLink=""> Bestseller </a>
                        </div>

                    </div>

                    <span matTooltip="Search product and company">

                        <div class="search notCloseDropdawnSearch">

                            <input type="text" class="kerkim"  name="search" [(ngModel)]="typing_search" placeholder="{{dataservices.language.searchproducts}}">

                            <a href="#">

                                <div class="iconsearch">

                                    <div class="imgsearch">

                                        <span class="glyphicon glyphicon-search"></span>

                                    </div>

                                    <div class="imgsearchexit">

                                        <span class="glyphicon glyphicon-remove-sign"></span>

                                    </div>

                                </div>

                            </a>

                            {{typing_search}}



                        </div>

                    </span>

                </span>

                <span class="header_right">

                    <a  href="#" *ngFor=" let button of button_right  ; let i = index " matTooltip="{{button.mat_tooltip}}"  (click)="check_button(button ,i , $event)" >

                        <div class="button_right_pc button{{button.id}} {{button.different_class}}">

                            <span  class="glyphicon {{button.icon}}"  [ngClass]="{'active_wish_list': button.id == 2 && productsService.wish_properties.wishList.length > 0 ,'selected-color-button' : i==productsService.button_properties.selectedIndex }">

                                <div class="number_event">

                                    <div class="write_number"  *ngIf="button.id == 2">

                                        {{productsService.wish_properties.wishList.length}}

                                    </div>

                                    <div class="write_number" *ngIf="button.id == 3 ">

                                       {{productsService.cart_properties.cartList.length}}

                                    </div>

                                </div>

                            </span>

                            <div class="write_icon_header write_icon_header{{button.id}}"> {{ dataservices.language[button.name]}} </div>

                        </div>

                    </a>


                </span>


            <span class="header_mobile">

                <div class="button_mobile" (click)="set_router( { path:'shopping' , data:false ,relative:false } , check_body(false) )">

                    <div class="listcategoryfind notClosepointerHeader">

                        <div class="listcategory" id="iconmenu">

                            <span class="glyphicon glyphicon-home"></span>

                        </div>

                    </div>

                    <div class="write_icon_header"> Home </div>

                </div>


                <div class="button_mobile" (click)="set_router( { path:'search' , data:false ,relative:true }, check_body(false) )" >

                    <a class="searchresponse" href="#">

                        <span class="glyphicon glyphicon-search"></span>

                    </a>

                    <div class="write_icon_header"> Search </div>

                </div>

                <div class="button_mobile " (click)="set_router( { path:'wish' , data:false ,relative:true } , check_body(true) )"   >

                    <ng-container *ngIf="productsService.wish_properties.wishList.length>0;else empty" >

                        <span class="glyphicon glyphicon-heart " [ngClass]="{'active': true}"  >

                            <div class="number_event">

                                <div class="write_number">

                                    {{productsService.wish_properties.wishList.length}}

                                </div>

                            </div>

                        </span>

                    </ng-container>

                    <ng-template #empty>

                        <span class="glyphicon glyphicon-heart gh-header">

                            <div class="number_event">

                                <div class="write_number">

                                    {{productsService.wish_properties.wishList.length}}

                                </div>

                            </div>

                        </span>

                    </ng-template>

                    <div class="write_icon_header"> {{dataservices.language.wish}} </div>

                </div>



                <div class="button_mobile " (click)="set_router( { path:'card' , data:false ,relative:true } , check_body(false))" >

                    <span class="glyphicon glyphicon-shopping-cart gh-header">

                        <div class="number_event">

                            <div class="write_number">

                                {{productsService.cart_properties.cartList.length}}

                            </div>

                        </div>

                    </span>

                    <div class="write_icon_header" >{{dataservices.language.card}}</div>

                </div>

                <div class="button_mobile" (click)="set_router( { path:'menu' , data:false ,relative:true }, check_body(true) )">

                    <span class="glyphicon glyphicon-th-large">

                        <div class="number_event">

                            <div class="write_number write_hidden">

                                {{productsService.wish_properties.wishList.length}}

                            </div>

                        </div>

                    </span>

                    <div class="write_icon_header" >{{dataservices.language.more}}</div>

                </div>

            </span>  <!-- end header modile  -->



            <!--  start dropdown header ..................................................................-->

            <div class="dropdown_search notCloseDropdawnSearch" >

                sdg

                <div class="body_search_header">

                    Search in header

                </div>

                <br><br><br><br><br><br><br><br><br><br>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            </div>

            <div class="dropmore notClosepointerHeader notCloseDropdawnLanguage">

                <mat-tab-group>

                    <mat-tab>

                        <ng-template mat-tab-label >

                            <mat-icon>
                                language
                            </mat-icon>

                            <div class="label_tab inline-block">
                                Language
                            </div>

                        </ng-template>

                        <div class="body_div body_more">

                            <div class="choose">

                                <h2>{{dataservices.language.choselanguage}}</h2>

                            </div><br>

                            <ng-container  *ngFor=" let language of language_allow  ">

                                <div class="all_languages " (click)="choose_language(language.id)"  >

                                    <div class="positionlang">

                                        <div class="centerlang">

                                            <div class="iconlang">

                                                <img  src="../../assets/images/{{language.image}}">

                                            </div>

                                            <div class="writelang">

                                                <h2>{{language.name}}</h2>

                                            </div>

                                        </div>

                                        <div class="leftlang">

                                            <mat-radio-group>

                                                <mat-radio-button class="radiolang"  value="1" [checked]="current_language(language.id)"  >

                                                </mat-radio-button>

                                            </mat-radio-group>

                                        </div>

                                    </div>

                                </div>

                            </ng-container><br>

                        </div>

                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                settings
                            </mat-icon>
                            <div class="label_tab inline-block">
                                Setting
                            </div>
                        </ng-template>

                        <div class="body_div body_more">

                            Setting content

                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                        </div>
                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                help
                            </mat-icon>
                            <div class="label_tab inline-block">
                                Help
                            </div>
                        </ng-template>
                        <div class=" body_div body_more">
                            Help contenc

                        </div>
                    </mat-tab>

                    <mat-tab>

                        <ng-template mat-tab-label class="">
                            <mat-icon>
                                feedback
                            </mat-icon>
                            <div class="label_tab inline-block">
                                Feedback
                            </div>
                        </ng-template>

                        <div class="body_div body_more">
                            Feedback

                        </div>
                    </mat-tab>

                </mat-tab-group>

                <a href="#" >
                    <div class="see_all">
                        Sell All
                    </div>
                </a>
            </div>

            <div class="dropcard notClosepointerHeader notCloseDropdawnCard" [ngClass]="{'show_dropcard':drop_Card}">
                <div class=" header_div">
                    <div class="width_height_top_wish">
                        <div class="all_top_div_wish">
                            <span class="width_top_wish">
                                {{dataservices.language.Cart_Write}}
                            </span>
                            <span  matTooltip="Search" class="search_icon_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish"  (click)="productsService.show_hide_search_in_cartlist()">
                                    <mat-icon class="notCloseDropdawnCard" *ngIf="productsService.cart_properties.icon_search == false">search</mat-icon>
                                    <mat-icon class="notCloseDropdawnCard" *ngIf="productsService.cart_properties.icon_search == true">close</mat-icon>
                                </button>
                            </span>
                            <span class="search_from_wish">
                                <input type="text" [(ngModel)]="filter_cart" placeholder="Serach Wishlist" name="search_wish" class="search_wishlist" [ngClass]="productsService.check_show_hide_search_in_cartlist()">
                            </span>
                            <span  matTooltip="Delete" class="delete_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish " [ngClass]="{'no-drop' : productsService.cart_properties.button }" [disabled]=" productsService.cart_properties.button " (click)="productsService.check_delete_from_cartList()" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </span>

                            <span  matTooltip="Add to Wish" class="add_shopping_card_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish" [ngClass]="{'no-drop' : productsService.cart_properties.button }" [disabled]="productsService.cart_properties.button"  >
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </span>

                            <a (click)="set_router( { path:'wish' , data:false ,relative:true } )" >
                                <span  matTooltip="See All" class="add_shopping_card_from_wish">
                                    <button mat-icon-button class="btn-deleteFromwish" >
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                </span>
                            </a>
                            <span  matTooltip="Select all" class=" selected_all_wishlist">
                                <button mat-icon-button class="btn-deleteFromwish" >
                                    <mat-icon>
                                        <mat-checkbox color="primary" class=" select_all_wishlist"
                                                      [checked]="productsService.cart_properties.cartList.length == productsService.cart_properties.selected.length && productsService.cart_properties.selected.length > 0 "
                                                      (click)="productsService.selecteAll_cartList()">
                                        </mat-checkbox>
                                    </mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="body_div body_cart" *ngIf="productsService.status_products | async">



                    <ng-container *ngIf="productsService.cart_properties.cartList.length > 0 ; else  emptycart">

                        <div  *ngFor="let cart_product of productsService.cart_properties.cartList | filter: filter_cart "  [@wishList_animations]="active">

                            <button mat-button class="width_body_wish" [ngClass]="productsService.getStyle_cart( cart_product )">

                                <div class="width_each_wishlist">

                                    <div class="wish_image"  (click)="set_router({ path:cart_product['company'].company_name+'/'+cart_product.product_title , data:cart_product.product_id , relative:true })">

                                        <img  src="../../assets/images/products_image/{{cart_product.product_image}}">

                                    </div>

                                    <div class="cart_item title">

                                        Title: {{cart_product.product_title}}

                                    </div><br>

                                    <div class="cart_item price">

                                        Price: ${{ cart_product.product_price }}

                                    </div>

                                    <div class=" cart_item quantity">

                                        Quantity:

                                        <select  [(ngModel)]="cart_product.product_quantity" (change)="productsService.update_quantity_cartList( $event , cart_product )" >

                                            <option>1</option>

                                            <option>2</option>

                                            <option>3</option>

                                            <option>4</option>

                                        </select>

                                    </div>

                                    <div  class="cart_item seller">

                                        Seller:
                                        <span (click)="set_router({ path:cart_product['company'].company_name , data: cart_product['company'].company_id , relative:true })">{{ cart_product['company'].company_name }}</span>

                                    </div>

                                    <div class="cart_item total_item_price">

                                        Total: ${{ (cart_product.product_price)*cart_product.product_quantity  }}

                                    </div>

                                    <div class="check_checkbox_wish"> <!-- start div select checbox for products in wishlist -->

                                        <span  matTooltip="select">

                                            <mat-checkbox  color="primary" [checked]="productsService.check_selected_cart( cart_product )" (click)="productsService.toggle_select_cart( cart_product )">

                                            </mat-checkbox>

                                        </span>

                                    </div>

                                </div>

                            </button>

                        </div>

                    </ng-container >

                    <ng-template #emptycart>

                        your Cart is empty

                    </ng-template>
                </div>

                <div class="bottom_cart">

                    <div class="inside_bottom_cart">

                        <div class="write_checkout">
                             Proceed to Checkout  PayPal , Stripe , Visa
                        </div>

                        <div class="checkout">

                            <span>

                                Total_item: {{productsService.cart_properties.total_items}}

                            </span>

                            <span>

                                Total_price: ${{productsService.cart_properties.total_price}}

                            </span>

                        </div>

                        <div class="button_checkout">

                            <button mat-button class="button">

                                <span>Continue Shopping</span>

                            </button>

                            <button mat-button class="button">

                                <span>Checkout</span>

                            </button>

                        </div>

                    </div>

                </div>

            </div>

            <div class="dropfavority notCloseDropdawnFavorite notClosepointerHeader">
                <div class="header_div">
                    <div class="width_height_top_wish">
                        <div class="all_top_div_wish">
                            <span class="width_top_wish">
                                {{dataservices.language.Wish_Write}}
                            </span>
                            <span  matTooltip="Search" class="search_icon_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish"  (click)="productsService.show_hide_search_in_wishlist()">
                                    <mat-icon class="notCloseDropdawnFavorite" *ngIf="productsService.wish_properties.icon_search == false">search</mat-icon>
                                    <mat-icon class="notCloseDropdawnFavorite" *ngIf="productsService.wish_properties.icon_search == true">close</mat-icon>
                                </button>
                            </span>
                            <span class="search_from_wish">
                                <input type="text" [(ngModel)]="filter_wish" placeholder="Serach Wishlist" name="search_wish" class="search_wishlist" [ngClass]="productsService.check_show_hide_search_in_wishlist()">
                            </span>
                            <span  matTooltip="Delete" class="delete_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish " [ngClass]="{'no-drop' : productsService.wish_properties.button }" [disabled]="productsService.wish_properties.button" (click)="productsService.check_delete_from_wishList()" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </span>
                            <span  matTooltip="Add to Cart" class="add_shopping_card_from_wish">
                                <button mat-icon-button class="btn-deleteFromwish" [ngClass]="{'no-drop' : productsService.wish_properties.button }" [disabled]="productsService.wish_properties.button" (click)="productsService.add_from_wish_to_cart( productsService.wish_properties.selected )" >
                                    <mat-icon>shopping cart</mat-icon>
                                </button>
                            </span>
                            <a (click)="set_router( { path:'wish' , data:false ,relative:true } )" >
                                <span  matTooltip="See All" class="add_shopping_card_from_wish">
                                    <button mat-icon-button class="btn-deleteFromwish" >
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                </span>
                            </a>
                            <span  matTooltip="Select all" class=" selected_all_wishlist">
                                <button mat-icon-button class="btn-deleteFromwish" >
                                    <mat-icon>
                                        <mat-checkbox color="primary" class=" select_all_wishlist"
                                                      [checked]="productsService.wish_properties.wishList.length == productsService.wish_properties.selected.length &&  productsService.wish_properties.selected.length > 0 "
                                                      (click)="productsService.selecteAll_wishList()">
                                        </mat-checkbox>
                                    </mat-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="body_div  body_wish" *ngIf="productsService.subject_products | async">
                    <ng-container *ngIf="productsService.wish_properties.wishList.length > 0 ; else  emptywish">
                        <div  *ngFor="let wish_product of productsService.wish_properties.wishList | filter: filter_wish "  [@wishList_animations]="active">
                            <button mat-button class="width_body_wish" [ngClass]="productsService.getStyle_wish( wish_product )">
                                <div class="width_each_wishlist">
                                    <div class="wish_image" >
                                        <img  src="../../assets/images/products_image/{{wish_product.product_image}}">
                                    </div>
                                    <div class="title">

                                        Title: {{wish_product.product_title}}

                                    </div>

                                    <div class="check_checkbox_wish"> <!-- start div select checbox for products in wishlist -->
                                        <span  matTooltip="select">
                                            <mat-checkbox  color="primary" [checked]="productsService.check_selected_wish( wish_product )" (click)="productsService.toggle_select_wish( wish_product )">
                                            </mat-checkbox>
                                        </span>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </ng-container >
                    <ng-template #emptywish>
                        your WishList is empty
                    </ng-template>
                </div>
            </div>

            <div class="treguesi notCloseDropdawnFavorite notClosepointerHeader notCloseDropdawnCard notCloseDropdawnLanguage"></div>

        </div>

    </div>

    <mat-progress-bar  mode="indeterminate" class="progress" *ngIf="dataservices.loading_progress | async"></mat-progress-bar>  <!--  progress bar -->

</div> <!-- end header ............................. -->










