/* Styles go here */
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.no-drop {cursor: no-drop;}

.menu3:hover span , .menu3:hover .write_icon_header{

    color:darkslategrey;
}


.mini_icon{
    font-size: 15px;

}
a{
    text-decoration: none;
}

.Box-shodown{

}
.selected_wish{
    background-color:  #f2f2f2;
    transition: 0.5s;
}
.inline{
    display: inline-block;
}

.active_wish_list{
    color:red;
}

.selected-color-button{
    color:white;
}
.selected-color-write{
    color: gray;
}

/* Begin css for header profile user here ....................................................................................................*/
.header{
    position: fixed;
    z-index: 4 !important;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    color: lightgray;
    background-color:#E6E6FA;
}


.bottom_header_left{
    float: left;
}
.bottom_header_right{

    float: right;


}

.number_event{

    margin-left: 30px;
    margin-top: -10px;
    color: white;
    font-size: 12px;
    z-index: 10 !important;


}
.write_number{
    position: relative;
    top: -9px;
    left: -14px;
    color:white;
    font-size: 12px;

}
.opacity_detail_product{
    position: fixed;
    background-color: gray;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    z-index: 10 !important;
    opacity: 0.7;
    display: none;



}
.details_products{
    position: fixed;
    z-index: 11 !important;
    color:red;
    width: 100%;
    height: 100%;
    display: none;



}
.loading_product_details{
    width: 90px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color:white;

}
.message_error_detail_product ,.open_detail_product{
    display: none;
}

.details_products_container{
    width: 700px;
    height: 500px;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    display: none;

}


.icon-list-remove{
    position: relative;
    left: 2px;
    top: -1px;
}
.exitlogin ,.exit_details_product{
    color:white;

    position: relative;
    top:6px;
    right: 20px;
    border-radius: 50px;

}
.hidelogin ,.hide_details_product{
    float: right;

}
.exitlogin,.exit_details_product{
    position: relative;
    top: 2px;
    left: -10px;
}
.hidelogin:hover{
    opacity:0.8;


}
.infoexit{
    float: right;
    font-size: 18px;
    position: relative;
    top: 40px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: white;
    color:gray;
    display: none;
}
.radius_category{
    width: 50px;
    height: 40px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 0px;
    display: inline-block;
    z-index: 2!important;
    border-top:2px solid;
    color: gray;
}
.open_menu{

    -webkit-transform: translateX(200px);

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;




}

.top_menu{
    position: absolute;
    color:white;
    width: 250px;

    left: 0;
}
.position_icon_ctegory{


    position: relative;
    top: 5px;

    width: 50%;
    margin: 0px auto;


}


/*    here is css for popup when sesioni doesn't  ezists automatik system doing logout*/
.writeloader ,.imgpreloader{
    display: inline-block;
}
.writeloader{
    position: relative;
    top: -10px;
}
.preloader{
    position: relative;
    top: 50px;
}
.imgloading{
    display: inline-block;
    position: relative;
    top: 1px;
}

.reload_page{
    display: none;
}
.write_language{
    display: inline-block;
    position: relative;
    top: -8px;
}
.checksession {
    position: absolute;
    width:100%;
    background-color: gray;
    height: 100vh;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_hover_category_sub{
    position: fixed;
    width: calc(100% - 250px);
    float: right;
    background-color: gray;
    height: 95vh;
    bottom:0;
    right: 0;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_dropdown{
    position: fixed;
    background-color: gray;
    height: 87.3vh;
    width: 100%;
    bottom:0;
    z-index: 4
    !important;
    opacity: 0.1;
    display: none;
}
.popuplogout{
    position: absolute;
    z-index: 11 !important;
    width: 100%;
    display: none;

}
.writelogout{
    width: 100%;
    background-color: #004080;
    height: 25px;
    font-size: 18px;
    color:white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.movewrite{
    position: relative;
    left: 10px;
    top:2px;
}
.movebody{
    position: relative;
    left: 10px;
    top: 5px;
}
#movebtn{
    position: relative;
    top: 13px;
}


.bottom_header {

    z-index:  2 !important;
    height: 40px;
}



.menu1 {
    display: inline-block;
    width: auto;
    height: 30px;
    position: relative;
    top: 3px;



}
.icon_header{
    display: inline-block;
    width: 30px;
    height: 100%;
}
.icon_header_write{

    display: inline-block;
    width: 0px;
    transition: 0.3s;
    visibility: hidden;

}
.new_icon_header_write{
    width: 105px;
    transition:0.3s;
    visibility: visible;
}

.nameuser{
    color: white;

}
.menu1 a{
    text-decoration: none;
    position: relative;
    font-size: 18px;
}
.card ,.favority , .language{
    position: relative;
    top: -1px;
    display: inline-block;

}
.menu2 {
    display: inline-block;
    width: 40px;
    position: relative;
    top:9px;


}
.search{
    display: inline-block;
    position: relative;
    top:5px;
    left: -4px;
}
.menu3 {
    display: inline-block;
    width: 70px;
    height: 40px;
    text-align: center;
    overflow: hidden;
}

.bottom_header_mobile{
    display: none;
    width: 100%;
}

.active{
    color: red;
}
.write_icon_header{
    position: relative;
    top: -6px;

    z-index: 10 !important;
}
.menu3 a{
    color:white;
    text-decoration: none;
}


.checkchat{
    z-index: 2 !important;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    color:white;
    bottom: 5px;
    right: 10px;
    display: inline-block;
    background-color:transparent;

}

.checkchat:hover{

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.pointerchat{

    width: 15px;
    height: 15px;
    background-color:#E6E6FA;

    -webkit-transform:rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    position: relative;
    top: 0px;
    left: -15px;
    visibility: hidden;

}

.imgopenchat{
    position: relative;
    top: 12px;
    left: 22px;
}

.treguesi{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;

    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 33px;
    left: 0px;
    display: none;
    z-index: 0 !important;


}



.iconopenchat{
    position: relative;
    top: -50px;
    left: 10px;
}
.teguesigjuha{
    width: 15px;
    height: 15px;
    background-color: white;

    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    position: absolute;
    margin-top: -7px;
    margin-left: 130px;
}
input[name='search']{
    padding-left: 7px;
    padding-right: 35px;



}
input[name='searchres']{

    padding-left: 40px;
    padding-right: 40px;

}
.iconsearch{
    position: relative;
    left: -46px;
    top:2.5px;
    display: inline-block;
    width: 40px;
    height: 26px;
    background-color: lightgray;

}
.iconsearch:hover{
    opacity: 0.8;
    transition: 1s;
}
.imgsearchexit{
    display: none;
    position: relative;
    top: 1px;
    left: 9px;
}
g
.photouser{
    width: 27px;

    height: 0px;

    border-color:white;
    position: relative;
    top:-1px;

}

.pictureuser{
    width: 100%;

    border-radius: 2px;

}

.nameuser{
    display: inline-block;
    position: relative;
    top:0px;
    left: -10px;
}
.option{
    margin-left: -95px;
    width: 250px;
    border:none;

}
.optiongjuha{
    margin-left: -82px;
    border:none;
}

.kerkim{
    width: 450px;
    height: 30px;
    position: relative;
    top:-3px;
    background-color: #E6E6FA;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
    border-radius: 2px;

}

.search_wishlist{
    width: 0.0px;
    height: 30px;
    transition: 0.5s;
    background-color: #E6E6FA;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
    border-radius: 2px;



}

.show_search_in_wishlist{

    width: 250px;
    visibility: visible;
    transition: 0.5s;

}



html>/**/body .searchinputresp, x:-moz-any-link {
    top: -7px;
}
html>/**/body .kerkim, x:-moz-any-link {
    top:-4px;
}

.imgsearch{
    position: relative;
    left: 9px;
    top:1px;


}
.header-icon-right {

    background-color: green;
}

#search{
    display: none;
}

#responselist{
    display: none;
}

.searchinputresp{
    z-index: 1 !important;
    display: inline-block;
    width: 5px;
    height: 26px;
    position: relative;
    top: -8px;
    display: inline-block;
    background-color:#708090;

    border:none;
    border-bottom: 1px solid;
    border-color:white;
    color:white;
}


.kerkimresponse{
    z-index: 1 !important;
    display: inline-block;
    width: 100%;
    height: 28px;
    position: relative;
    top: 5px;
    background-color: #708090;
    border-radius: 3px;




}
.notification {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    font-size: 13px;
    border:2px solid;
    border-color:white;

    margin-left: 10px;
    margin-top: -7px;

}


.count_number_favorite{
    position: relative;
    top:-1px;
}



input[name='respondesearch']:focus{
    outline: none;

}

.see_all{
    width: 100%;
    height: 20px;
    text-align: center;
}

.see_all:hover{
    background-color: #004080;
    color:white;
}




/* End css for header profile user here ....................................................................................................*/

/* dropdown list language ...............*/
.dropmore{

    position: absolute;
    width: 500px;
    height:auto;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);

}



.search_width{
    position: relative;
    width: 500px;

    height: 500px;
    background-color: white;




    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    border-radius: 3px;
    display: none;
}


.dropcard{

    position: absolute;
    width: 600px;

    height:auto;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);



}
.dropdown_search{

    position: absolute;
    width: 400px;

    height:auto;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);

}

.top_dropwdown_search{
    left:35px;
    transition: 1s;
}
.dropfavority{

    position: absolute;
    width: 400px;

    height:auto;
    background-color: white;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}

.show_dropfavority , .show_dropcard , .show_dropmore{
    display: block;
}
.bottom_cart{
    width: 100%;
    height: 100px;
    background-color: white;

}

.inside_bottom_cart{
    height: 100%;
    width: 98%;
    margin: auto;
    margin-top: 2px;
}
.body_cart ,.body_wish {
    max-height: 400px;
    min-height: 80px;
}

.body_more{


    min-height: 80px;
    max-height: 400px;

}

.write_checkout,.checkout ,.button_checkout{
    height: 30%;


}



.top_wish{
    width: 100%;
    height: 40px;

}

.width_height_top_wish{
    width: 98%;
    height: 100%;

    margin: 0px auto;

}
.all_top_div_wish{

    height: 100%;

}




.width_each_wishlist  {

    height: 100%;
    width: 98%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.width_body_wish{
    width: 100%;
    height: 80px;
    border-radius: 0px;
    position: relative;
    margin-top: -2px;


}


.width_top_wish ,.delete_from_wish{
    display: inline;
}

.select_all_wishlist{
    position: relative;
    top:-6px;
}

.mat-checkbox-inner-container {
    border-color: red;
}

.mat-mini-fab:not([class*=mat-elevation-z]){
    box-shadow: none;
}
.mat-fab.mat-accent[disabled]{
    background-color: red;
}
.wish_image{
    width: 70px;
    height:70px ;
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    position: relative;
    top:5px;
}
.wish_image img{
    width: 100%;
    height: 100%;
}
.title ,.price , .quantity ,.seller ,.total_item_price{
    float: left;
}

.cart_item{
    margin-left: 10px;
}
.check_checkbox_wish{
    display: inline-block;
    float: right;
    margin-top: 0;
    margin-right: 10px;
}

.lang a{
    color: gray;
}
.both_write{
    position: relative;
    top: 3px;
}
.add_card{
    position: relative;
    top: 0px;
}
.footer_products a{
    text-decoration: none;
}


.all_languages, .morelang , .activelanguagedropmo{

    height: 25px;
    border-bottom: 1px solid;
    border-color: #d6d6c2;
    position: relative;
    border-left: 10px;
    border-right: 10px;


}

.kl{
    height: 100px;
    width: 100%;
}
.morelang a {
    color:gray;
}
.morelang:hover , .morelang a:hover {
    color :white;
}
.writemore{
    position: relative;
    text-align: center;
    top: 3px;
}
.all_languages:hover, .morelang:hover{
    color:white;
    background-color: #004080;

}
.all_languages h2{
    position: relative;
    top: 2px;
    left: 10px;
}
.iconlang, .writelang{
    display: inline-block;
}

.iconlang{
    position: relative;
    top: 4px;
    left: 5px;
}

.positionlang {
    position: relative;
    left: 10px;
}
input[type='radio'] {
    transform: scale(1.2);
}
.leftlang{
    display: inline-block;
    float: right;
    position: relative;
    left: -10px;
    top: 2px;
}
.centerlang{
    position: relative;
    left: -3px;
    display: inline-block;

}
.toplang h3{
    position: relative;
    top: 3px;
}
.choose h2{
    position: relative;
    top: 8px;

}

.morelanguageclick{
    display: none;
}






@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1050px){

.menu_right_inside{
    display: none;
}

    .search{
        display: none;
    }


    #search{
        display: block;
    }

    .treguesi{


        margin-top: -10px;

    }

    .menu3{

        position: relative;
        top: 0px;
        text-align: center;
        width: 13%;

    }

    .dropcard , .dropmore ,.dropfavority{

        left: 0;
        margin-top:-5px;

    }
    .bottom_header_right{
        float: none;

    }
    #search{
        display: inline-block;
    }

    .menu2{
        display: none;
    }
    #responselist{
        display: block;
        display: inline-block;
    }
    .menu1{
        position: relative;
        top: -3px;
    }


    .category,.under_category {
        left: -800px;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .radius_category{
        display: none;
    }



}
@media only screen and (max-width: 800px){

    .menu3{


        text-align: center;
        width: 13%;


    }


    .photouser{
        width: 27px;

        height: 0px;

        border-color:white;
        position: relative;
        top:0px;

    }

    .category,.under_category{
        width: 100%;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }







}
@media only screen and (max-width: 700px){
    .width_products{
        display: inline-block;
        width: 48.5%;
        margin-left: 0px;


    }

    .dropcard ,.dropmore ,.dropfavority{


        position: relative;
        width: 100%;
        min-height: 100vh;
        left: 0;
        margin-top:-5px;

    }

    .bottom_header_right{
        display: none;
    }
    .bottom_header_mobile{
        display:block;
    }

    .menu3{
        text-align: center;
        width: 19.1%;
    }
    .menu1{
        display: none;
    }
    .right_above_header{
        display: none;
    }



}
@media only screen and (max-width: 570px){




    .photouser{
        width: 27px;

        height: 0px;

        border-color:white;
        position: relative;
        top:0px;

    }








}
@media only screen and (max-width: 500px){
    .width_products{
        display: block;
        width: 97%;
        margin-left: 0px;


    }
}

@media only screen and (max-width: 350px){
    .menu3{

        text-align: center;
        width: 18%;
    }
}
@media only screen and (min-width: 1200px){

    .active_menu {
        float: right;
        right: 0;
        left: 0;

        width: calc(100% - 250px);


    }


}