/* Styles go here */

@import "../../../../variables.scss";

.selected_wish{
  background-color:  #f2f2f2;
  transition: 0.5s;
}


.search_wishlist{

  width: 0.0px;
  height: 30px;
  transition: 0.5s;
  background-color: #E6E6FA;
  border:none;
  border: 1px solid;
  display: inline-block;
  color:gray;
  border-color: lightgray;
  border-radius: 2px;

  z-index: 5 !important;


}
.drop_wish_title ,.drop_cart_title{

}

.show_search_in_wishlist{

   width: 150px;
   visibility: visible;
   transition: 0.5s;


 }

.right_header_wish{
  float: right;
}

.wishlist_component{
  height: auto;

  width: 100%;

}




.top_wish{
  width: 100%;
  height: 40px;

}

.width_height_top_wish{
  width: 98%;
  height: 100%;

  margin: 0px auto;

}


.body_wishlist{
  width: 100%;
  height:auto;

  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 5px;


}


.width_each_wishlist {

  height: 100%;
  width: 98%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.width_body_wish{
  width: 100%;
  height: 80px;
  border-radius: 0px;
  position: relative;
  margin-top: -2px;


}
.width_body_wish:hover ,.mat-button:hover{
  background-color: transparent;
}

.width_top_wish ,.delete_from_wish{
  display: inline;
}

.select_all_wishlist{
  position: relative;
  top:-6px;


}

.wish_image{
  width: 70px;
  height:70px ;
  display: inline-block;
  border-radius: 100px;
  overflow: hidden;
  float: left;
  position: relative;
  top:5px;
}
.wish_image img{
  width: 100%;
  height: 100%;
}
.title{
  float: left;
}
.check_checkbox_wish{
  display: inline-block;
  float: right;

  margin-right: 10px;
}

.add_card{
  position: relative;
  top: 0px;
}

.cart_item{
  display: inline-block;
}


