
/* begin css for container .........................................*/

* { border:0; margin:0; padding:0; }

.products{
    width: 100%;
    position: relative;
}

@keyframes Products_Animation {
    0% {

        opacity: 0;
        transform: translateY(20px);
    }
    100% {

        opacity: 1;
        transform: translateY(0px);
    }
}

.products-animation {
    animation: Products_Animation 1s;
}

.glyphicon{
    font-size: 18px;

}

.pagination_containerleft{
    display: none;
}
.padding_link{
    width: 28.6px;
    height: 30px;
    background-color: red;
    border:1px solid;
    border-radius: 4px;
    border-color:#d6d6c2;
    background-color: white;
    margin-left: 2px;
    text-align: center;
    position: relative;


}

.padding_link_fast_step_forward_backward{
    width: 28.6px;
    height: 30px;
    background-color: red;
    border:1px solid;
    border-radius: 4px;
    border-color:#d6d6c2;
    background-color: white;
    margin-left: 2px;
    text-align: center;
    position: relative;
    top:1px;
}
.link_page_value{
    position: relative;
    top: 5px;
}
.padding_link:hover,  .padding_link_fast_step_forward_backward:hover{
    -moz-transition:0.7s;
    -webkit-transition:0.7s;
    transition: 0.7s;
    background-color: #708090;
    color:white;
}
.pagess_link a , .pagess_link_back_forward a{
    text-decoration: none;
}
.cat_sub a{
    text-decoration: none;
}
.active_link{
    background-color: #708090;
    color:white;
}
.icon_go_up{
    position: relative;
    top:8px;
    display: inline-block;
}
.pagin_number{
    display: inline-block;
}
.pagess_link ,.pagess_link_back_forward{
    display: inline-block;
}

.all_prod{
    width: 101%;
    position: relative;
    left:-0.5%;
}

.width_products {

    display: inline-block;
    margin-top: 12px;

}

.space{
    width: 96%;
    margin: 0 auto;
    display: block;
    background-color: white;
    border:1px solid;
    border-radius: 4px;
    border-color:#d6d6c2;
}

.width_each_product{

    position: relative;

    width: 94%;

    margin: 0 auto;

    display: block;


}



.space:hover{
    -webkit-box-shadow: 0px 1px 6px 0px rgba(105,81,105,1);
    -moz-box-shadow: 0px 1px 6px 0px rgba(105,81,105,1);
    box-shadow: 0px 1px 6px 0px rgba(105,81,105,1);
}




.glyphicon{
    display: inline-block;

}
.footer_products{
    width: 100%;
    height: 25px;

    position: relative;
    top: 3px;
    border-top:1px solid;

    border-color:#d6d6c2;
}

.button_footer_products {
    text-align: center;
    width: 32.2%;
    height:100%;

    display:inline-block;

    position: relative;
    top: 0px;


}
.button_footer_products:hover {
    transition: 0.5s;
    -webkit-trasition:1s;
    background-color:#708090;

}
.button_footer_products:hover span , .button_footer_products:hover div {
    transition: 0.5s;
    -webkit-trasition:1s;
    color:white;
}
.footer_products a{
    text-decoration: none;
}

.plus_height{
    width: 100%;
    height: 6px;
}
.prise_products{
    width: 100%;
    height: 25px;
    position: relative;
    top: 7px;
    text-align: center;
}


.title_products mat-icon{
    float: right;
    position: relative;
    top: 2px;

}
.title_products{
    font-size: 16px;
    width: 100%;
}

.button_footer_products span{
    position: relative;
    top: 3px;
    display: inline-block;
    text-decoration: none;
}



.both_write{
    display: inline-block;
    position: relative;
    top:0px;
}
.icon_hover{
    display: none;
    position: absolute;
    margin-top: -50px;
    float: right;
    transform: rotate(270deg);


}
.first_primary_img{
    opacity: 1;
}

.image_product{
    max-width: 100%;
    height: 250px;
    overflow: hidden;
}

.image_product img{
    width: 100%;
    height:100%;
    position: relative;
}

.write_add_wish{

    color: white;
    position: relative;
    top:-4px;
}

.inside_option_products{

    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.outer_page_products{
    display: inline-block;
    width: 50px;


}
.inner_page_products{

    width: 85%;
    height: inherit;
    margin: 0 auto;

}

.mat-button.button_pagination_products {
    min-width: 5px;
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.wish_list{

    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: -30px;

}

.wish_list .mat-icon{
    color:indianred;
    position: relative;
    top:-4px;
}

.own_img_product{
    position: absolute;
    z-index: 2 !important;
    color:red;
    width: 50px;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    border-bottom-right-radius: 50px;
}


.write_owner{
    position: absolute;
    z-index: 2 !important;
    font:bold 13px/1 sans-serif;
    margin-left: 50px;
}

.button_heart .mat-icon , .button_heart .mat-icon{
    color:red;
    position: relative;
    top:-6px;
    opacity: 0.7;
}

.zindex_hearts{
    z-index: 8 !important;
}
.success_add_wish{
    position: absolute;
    top: 3px;

}

.color_hearts_first{
    display: inline-block; width: 20px ;height: 18px; background-color: #708090; position: absolute; margin-left: -22px; margin-top:3px; z-index: 2 !important;
}

.color_hearts_build{
    display: inline-block; width: 20px ;height: 18px; background-color: red; position: absolute; margin-left: -22px; margin-top:3px; z-index: 2 !important;
}

.mat-button{
    min-width: 30px;
    height: 30px;
    background-color:transparent;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(173,166,173,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(173,166,173,1);
    box-shadow: 0px 0px 3px 0px rgba(173,166,173,1);

    margin-left: 0px;
}
.mat-button:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}


.mat-icon ,.write_page{
    position: relative;
    top:-3px;
}
.active_products_page{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.pages_link{
    display: inline-block;
}



@media only screen and ( max-width: 1600px ) {


    .width_products{
        width: 25%;
    }
    .width_products_open_menu {
        width: 33.3333333%;
    }
}


@media only screen and ( max-width: 1400px ) {

    .width_products{
        width: 33.3333333%;
    }

}

@media only screen and (max-width: 1050px) {


}
@media only screen and (max-width: 700px){

    .width_products{

        width: 50%;

    }
    .outer_page_products{
        width: 10%;
    }


}

@media only screen and (max-width: 500px){

    .width_products{

        width: 100%;
    }
    .all_prod{
        width: 100%;
        position: relative;
        left:0;
    }

    .space {
        width: 100%;
    }
}







