.containere{


    height: auto;
margin-top: 50px;



}




.containerleft{

    position: relative;
    top: 10px;
    float: left;
    display: inline-block;
    width: calc(100% - 320px);
}


.containerright{

    position: relative;
    top: 10px;
    width: 300px;
    height: 93vh;
    display: inline-block;
    border-radius: 4px;
    margin-left: 20px;
}
.sponsorized_right{
    width: 99.5%;
    height: 90%;
    border:1px solid;
    border-radius: 4px;
    border-color:#d6d6c2;


}
@media only screen and (max-width: 1400px){

    .containerleft_new_openmenu{
        width:100%;
    }
    .containerright_new_openmenu{

        display: none;
    }

}
@media only screen and ( min-width: 1200px ){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        transition:0.3s;
        -webkit-transition:0.3s;
        -moz-transition:0.3s;
        width: calc(100% - 250px);
    }


    .active_chat{

        float: left;
        right: 0;
        left: 0;
        transition:0.3s;
        -webkit-transition:0.3s;
        -moz-transition:0.3s;
        width: calc(100% - 200px);


    }
    .exit_menu{
        float: right;
    }
    .exit_chat{
        float: left;
    }
}
@media only screen and (max-width: 1200px){



    .response_inner{
        width: 100%;
    }

    .gjeresia{
        width: 99%;
    }
    .containerright{
        display: none;
    }
    .containerleft{
        width: 100%;
    }



}

@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1050px) {

    .response_outer {

        width: 100%;

        transition: 0.5s;

    }

    .response_inner{

        width:99.5% ;
        margin: 0px auto;


    }

}

@media only screen and (max-width: 700px){

    .width_products{

        display: inline-block;
        width: 48.5%;
        margin-left: 0px;

    }

    .containere{



        margin-top: 30px;




    }


}

@media only screen and (max-width: 500px){

    .width_products{

        display: block;
        width: 97%;
        margin-left: 0px;


    }
}
