html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    color:gray;
}

.response_outer{

    width: calc(100% - 50px);
    float: right;

    transition: 0.1s;

}

.response_inner{

    width:90% ;

    margin: 0px auto;


}

@media only screen and (max-width: 1050px) {

    .response_outer {

        width: 100%;

        transition: 0.5s;

    }

    .response_inner{

        width:99% ;
        margin: 0px auto;


    }



}

.hide-login{
    z-index: 14 !important;
    position: absolute;
    padding: 9px 15px;
    border-radius: 170px;
    float: right;
}
.menu_left::-webkit-scrollbar , .dropdown_search::-webkit-scrollbar ,.body_wish::-webkit-scrollbar {
    width: 7px;



}
.menu_left::-webkit-scrollbar{
   display: none;
}


.menu_left::-webkit-scrollbar-thumb ,.dropdown_search::-webkit-scrollbar-thumb ,.body_wish::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);



}
.menu_left::-webkit-scrollbar-track{

}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tooltip {
    font-size: 12px;
}

body{
    background-color:#E6E6FA;
    color:gray;



}

a{
    color: gray;
    text-decoration: none;
}

.glyphicon , .mat-icon{
    color:slategrey;
    text-decoration: none;
}

.mat-checkbox-frame{
    border-color: slategrey;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background-color:slategrey ;
}

.menu3:hover .glyphicon{
    color:darkslategrey;
}



body::-webkit-scrollbar {
    width: 7px;
    border-radius: 3px;
    position: absolute;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
}

body::-webkit-scrollbar-thumb {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
    border-radius: 3px;
    position: absolute;

}

.mat-tab-label{

    width: 50%;
    max-height: 35px;
    background-color: white;
}
.mat-tab-label:hover,.mat-tab-label:hover span{
    color: #004080;
}

mat-checkbox.mat-checked.green{
     background-color: rgba(0, 255, 0, 0.87);
}


.border_bottom{

    border-bottom: 1px solid;
    color: lightgray;
}

.inline-block{
    display: inline-block;
}


.tile{

    border-radius: 3px;
}
.inner_large{
    overflow: hidden;
}

input[name='search']:focus , input[name='search_wish']:focus{
    outline: none;
    border:1px solid;
    border-color: lightgray;
    background-color: floralwhite;

    transition:1s;
}

.outer:hover .inner_large img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}





/* Begin css for category profile user here ....................................................................................................*/














