<div class="under_category "></div>

<div class="category">
  <div class="border_write_cat"></div>

  <div class="categoposition" >
    <!--  show all category type -->
    <div class="users-in-category" >

       <div class="name-user-category">
         User
       </div>


       <a routerLink="login">
         <div class="user-icon">
           <span class="glyphicon glyphicon-user user-category_icon"></span>
          </div>
         <div class="write_login_register">
           Login/Register
         </div>
       </a>

    </div>

  </div>

</div>







