<div class="under_category"></div>

<div class="category">
  <div class="border_write_cat"></div>
  <div class="categoposition" style="z-index: 4 !important;" >
    <!--  show all category type -->


</div>



<div class="searchsubscribe">

  <div class="wisthisearchsub">
    <a href="#" class="nondecoration">
      <div class="settings_delete_search_company">
        <div class="imgsearchsub">

            <img src="../../assets/images/searchcompany.png">

        </div>

        <div class="delete_search_company">

            <img src="../../assets/images/delete.png">

        </div>
      </div>
    </a>

    <div class="searchsub">
      <input class="inputsearchcompany" type="text" placeholder="Search Company" style="border:none;">
    </div>
    <a href="#" class="nondecoration">
      <div class="iconsearchsub">
        <div class="settings_search_company">

            <img src="../../assets/images/settings.png">

        </div>
      </div>
    </a>
  </div>

</div>

<div class="pointer_catego">
  <div class="border_pointer_category">
    <div class="pointer_div"></div>
  </div>
  <div class="opacity_border_pointer">

  </div>
  <div class="bodypointer">

    <div class="writepointer">

    </div>
  </div>


</div><br>
