

.button{

background: transparent;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.2), 0 2px 5px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}

.button span{

    color:white;
}

.button:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}


@media only screen and (max-width: 750px){
    .menu_pc{
        display: none;
    }


}
