<div class="clickchat"> <!--  start the chat ................................................-->
  <a href="#">
    <div class="openchat" id="showchat">
      <div class="imgopenchat">
        <div class="pointerchat"></div>
        <img src="../../assets/images/chat.png">
        <div class="nrnotification" id="nrnotification">

        </div>
      </div>
    </div>
  </a>
  <div class="bodychat">
    <div class="pasiv_activ_bodychat">
      <div class="headerchat">
        <div class="writechat">
          {{get_Language.chat}}
        </div>
        <div class="minimizechat">

        </div>
        <div class="closechat">

        </div>
      </div>
    </div>

  </div>
</div>  <!--  End the chat ................................................-->
