
 <div class="response_outer containere" [ngClass]="{'active_menu':dataservices.status_menu ,'active_chat':dataservices.status_chat}">  <!-- container for products .....................................-->

     <div class="response_inner">

         <div class="containerleft">

             <div *ngIf="dataservices.body_loader" >

                 <div  class="loading_body">

                     <mat-spinner [diameter]="30"  class="loading center">

                     </mat-spinner>

                 </div>

             </div>


             <router-outlet>

                     <!-- body  -->

             </router-outlet>



         </div>

         <div class="containerright" >

             <div class="sponsorized_right">

                 <div class="icon_go_up">

                     <a href="#"><img class="click_up" src="../../assets/images/up.png"></a>

                 </div>

             </div>

             <div class="pagination_profucts">

                 <div class="pagin_number">

                 </div>

             </div>

         </div>

     </div>

 </div>