

.containere{
    height: auto;
    margin-top: 50px;


}

.containerleft{

    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 320px);
    min-height: calc( 100vh - 60px ); /* Minimum height for modern browsers */
    height: auto;

}


.containerright{
    position: relative;
    width: 300px;
    min-height: calc( 100vh - 60px ); /* Minimum height for modern browsers */
    height: auto;
    display: inline-block;
    float: right;

    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);

}


@media only screen and (max-width: 1400px){

    .containerleft_new_openmenu{
        width:100%;
    }

}
@media only screen and ( min-width: 1200px ){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        width: calc(100% - 250px);


    }

}
@media only screen and (max-width: 1200px){



    .response_inner{
        width: 100%;
    }

    .gjeresia{
        width: 99%;
    }
    .containerright{
        display: none;
    }
    .containerleft{
        width: 100%;
    }



}

@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1050px) {

    .response_outer {

        width: 100%;

    }

    .response_inner{

        width:99.5% ;
        margin: 0px auto;


    }

}

@media only screen and (max-width: 700px){






}

@media only screen and (max-width: 500px){


}
