
 <div class="response_outer containere" [ngClass]="{'active_menu':productsService.menu_subject.getValue()}">  <!-- container for products .....................................-->

     <div class="response_inner "  [ngClass]="{'change_inner_body':dataservices.change_inner}">

         <div class="containerleft">



             <router-outlet>

                      <!-- body  -->

             </router-outlet>

             <div class="process_spinner">

                 <span class="spinner">
                      <mat-spinner diameter="30" ></mat-spinner>
                 </span>

                 <span class="write_spinner">Loading</span>

             </div><br>

         </div>

         <div class="containerright" >



         </div>

     </div>

 </div>