

.containere{
    height: auto;
    margin-top: 50px;

}

.containerleft{

    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 320px);
    height: calc( 100vh - 100px ); /* Minimum height for modern browsers */
}


.containerright{
    position: relative;
    width: 300px;
    height: 93vh;
    display: inline-block;
    margin-left: 10px;
}
.sponsorized_right{

    width: 99.5%;
    height: 90%;
    border:1px solid;
    border-color:#d6d6c2;

}

@media only screen and (max-width: 1400px){

    .containerleft_new_openmenu{
        width:100%;
    }

}
@media only screen and ( min-width: 1200px ){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        width: calc(100% - 250px);


    }

}
@media only screen and (max-width: 1200px){



    .response_inner{
        width: 100%;
    }

    .gjeresia{
        width: 99%;
    }
    .containerright{
        display: none;
    }
    .containerleft{
        width: 100%;
    }



}

@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1050px) {

    .response_outer {

        width: 100%;

    }

    .response_inner{

        width:99.5% ;
        margin: 0px auto;


    }

}

@media only screen and (max-width: 700px){






}

@media only screen and (max-width: 500px){


}
