<div class="menu" *ngIf="{menu : dataservices.menu | async , app : dataservices.async | async} " >

<div class="under_menu_left body " [ngStyle]="dataservices.menu_style" [ngClass]="{'menu_left_open':menuservice.menu.getValue() }"></div>

<div class="menu_left" [ngStyle]="dataservices.menu_style" [ngClass]="{'menu_left_open': menuservice.menu.getValue() }">

  <div class="width_menu_left">

    <div class="menu_left_inside " [ngClass]="{'open_left_inside transition': menuservice.status_menu | async }">
      <!--  show all category type -->
      <div class="top_in_menu border_bottom" >

        <button  mat-button class="button_menu"  *ngFor="let top_menu of top_menus" (click)=" click_top_menu( top_menu.id ) ; dataservices.update_body(false)">

          <a  href="javascript:void(0)" class="menu_navigation menu_navigation{{top_menu.id}}" id="{{top_menu.id}}" >

            <div class="categorytype" >

              <div class="bordertypecat"></div>

              <div class="width_category">

                <div class="imgsubscribe">

                  <mat-icon>{{top_menu.icon}}</mat-icon>

                </div>

                <div class="namecate">

                  <div class="namecategory" >{{top_menu.name}}</div>

                </div>


              </div>

            </div>
          </a >

        </button>

      </div>

      <div class="category_in_menu border_bottom">

        <div class="width_category">

          <div class="writecategory on_hover_category" id="on_hover_category">

            <div class="catgowrite">

              {{dataservices.language.category}}

            </div>

          </div>

        </div>

        <div *ngFor="let category of menuservice.categories">

          <button  mat-button class="button_menu"  >

            <a href="javascript:void(0)" class="underline"  id="{{category.id}}">

              <div class="categorytype" id="category{{category.id}}">

                <div class="bordertypecat"></div>

                <div class="width_category">


                  <div class="imgsubscribe">

                    <img class="" src="../../assets/images/{{category.image}}">

                  </div>

                  <div class="namecate">

                    <div class="namecategory" >{{category.name}}</div>

                  </div>

                  <div class="imgnc">

                    <img class="moresubcategory" src="../../assets/images/morecat.png"><img  class="exitsubcategory" src="../../assets/images/closesubcat.png">

                  </div>

                </div>

              </div>

            </a>

          </button>

          <div  class=" subcategory sub{{category.id}}">

            <ng-container   *ngIf="category['subcategories'].length>0; else notFirst">

              <div  *ngFor="let subcategory of category['subcategories']" >

                <button  mat-button class="button_menu" (click)="category_products( subcategory )">

                  <div class="subcat" id="{{subcategory.id}}">

                    <div class="bordertypecat"></div>

                    <div class="width_sub_category">

                      <div class="imgsubscribe">

                        <img src="../../assets/images/{{subcategory.image}}">

                      </div>

                      <div class="namecate">

                        <div class="namecategory" >{{subcategory.name}}</div>

                      </div>

                    </div>

                  </div>

                </button>

              </div>

            </ng-container>

            <ng-template  #notFirst>

              <button  mat-button class="button_menu" >

                <div class="subcat" >

                  <div class="bordertypecat"></div>

                  <div class="width_category">

                    <div class="imgsubscribe">

                      <img src="../../assets/images/not.png">

                    </div>

                    <div class="namecate">

                      <div class="namecategory" >{{dataservices.language.emptycat}}</div>

                    </div>

                  </div>

                </div>

              </button>

            </ng-template>

          </div>

        </div>

      </div>

      <div class="subscriptions_in_menu border_bottom">

        <div class="width_category">

          <div class="writecategory on_hover_category" id="on_hover_category">

            <div class="catgowrite">

              {{dataservices.language.subscribe}}

            </div>

          </div>

        </div>

        <button  mat-button class="button_menu"  *ngFor="let subscription of subscriptions; let i = index">

          <a (click)="check_subscribes( subscription )"  class="menu_navigation menu_navigation{{subscription.id}}" id="{{subscription.id}}" >

            <div class="categorytype" >

              <div class="bordertypecat"></div>

              <div class="width_category">

                <div class="imgsubscribe">

                  <img  src="../../assets/images/products_image/{{subscription.icon}}">

                </div>

                <div class="namecate">

                  <div class="namecategory" >{{subscription.name}}</div>

                </div>

              </div>

            </div>

          </a >

        </button>

      </div>

      <div class="setting_in_menu border_bottom">

        <div class="width_category">

          <div class="writecategory on_hover_category" id="on_hover_category">

            <div class="catgowrite">

              {{dataservices.language.settings}}

            </div>

          </div>

        </div>

        <button  mat-button class="button_menu"  *ngFor="let setting of settings">

          <a   href="javascript:void(0)" class="menu_navigation menu_navigation{{setting.id}}" id="{{setting.id}}" >

            <div class="categorytype" >

              <div class="bordertypecat"></div>

              <div class="width_category">

                <div class="imgsubscribe">

                  <mat-icon>{{setting.icon}}</mat-icon>

                </div>

                <div class="namecate">

                  <div class="namecategory" href="javascript:void(0)">{{setting.name}}</div>

                </div>

              </div>

            </div>

          </a >

        </button>

      </div>

      <div class="users_in_menu border_bottom">

        <div class="width_category">

          <div class="writecategory on_hover_category" id="on_hover_category">

            <div class="catgowrite">

              {{dataservices.language.users}}

            </div>

          </div>

        </div>

        <button  mat-button class="button_menu"  *ngFor="let account of user">

          <a   href="javascript:void(0)" class="menu_navigation menu_navigation{{account.id}}" id="{{account.id}}" >

            <div class="categorytype" >

              <div class="bordertypecat"></div>

              <div class="width_category">


                <div class="imgsubscribe">

                  <mat-icon>{{account.icon}}</mat-icon>

                </div>

                <div class="namecate">

                  <div class="namecategory" href="javascript:void(0)">{{account.name}}</div>

                </div>

              </div>

            </div>

          </a >

        </button>

      </div>

      <div class="copyright_in_menu ">

        <div class="width_category">

          <div class="writecategory on_hover_category" id="on_hover_category">

            <div class="catgowrite">

              CopyRight

            </div>

          </div>

        </div>

        <button [disabled]="true" mat-button class="button_menu">

          <div class="categorytype" >

            <div class="bordertypecat"></div>

            <div class="width_category">

              <div class="imgsubscribe">

                <mat-icon>copyright</mat-icon>

              </div>

              <div class="namecate">

                <div class="namecategory" href="javascript:void(0)">Copyright by KloShaba</div>

              </div>

            </div>

          </div>

        </button>

      </div>

    </div>

    <div class="menu_right_inside" [ngClass]="{'hide_menu_right' : menuservice.menu.getValue()}">

      <div class="width_menu_right border_bottom  ">

        <div class="top_mini_menu">

          <div class="button_menu_right " *ngFor="let top_menu of top_menus" (click)="click_top_menu(top_menu.id)">

            <span matTooltip="{{top_menu.name}}">

              <a   href="javascript:void(0)" class="menu_mini_navigation menu_mini_navigation{{top_menu.id}}" >

                <button mat-mini-fab class="button-fab-menu-right" >

                  <mat-icon >{{top_menu.icon}}</mat-icon>

                </button>

              </a>

            </span>

          </div>

        </div>

      </div>
      <div class="width_menu_right border_bottom  ">

        <div class="category_mini_menu">

          <div class="button_menu_right " *ngFor="let category of menuservice.categories">

            <span matTooltip="{{category.name_category}}">

              <button mat-mini-fab class="button-fab-menu-right" >

                <mat-icon ><img src="../../assets/images/{{category.image}}"></mat-icon>

              </button>

            </span>

          </div>

        </div>

      </div>

      <div class="width_menu_right border_bottom  ">

        <div class="subscriptions_mini_menu">

          <div class="button_menu_right " *ngFor="let subscription of subscriptions">

            <span matTooltip="{{subscription.name}}">

              <a (click)="check_subscribes( subscription )" class="menu_mini_navigation menu_mini_navigation{{subscription.id}}" id="{{subscription.id}}" >

                <button mat-mini-fab class="button-fab-menu-right" >

                  <mat-icon > <img class="img_subscriptions" src="../../assets/images/products_image/{{subscription.icon}}"></mat-icon>

                </button>
              </a>

            </span>

          </div>

        </div>

      </div>

      <div class="width_menu_right border_bottom  ">

        <div class="settings_mini_menu">

          <div class="button_menu_right " *ngFor="let setting of settings">

            <span matTooltip="{{setting.name}}">

              <a class="menu_mini_navigation menu_mini_navigation{{setting.id}}" id="{{setting.id}}">

                <button mat-mini-fab class="button-fab-menu-right" >

                  <mat-icon >{{setting.icon}}</mat-icon>

                </button>

              </a>

            </span>

          </div>

        </div>

      </div>

      <div class="width_menu_right border_bottom  ">

        <div class="user_mini_menu">

          <div class="button_menu_right " *ngFor="let identity of user">

            <span matTooltip="{{identity.name}}">

              <a class="menu_mini_navigation menu_mini_navigation{{identity.id}}" id="{{identity.id}}">

                <button mat-mini-fab class="button-fab-menu-right" >

                  <mat-icon> {{identity.icon}} </mat-icon>

                </button>

              </a>

            </span>

          </div>

        </div>

      </div>

      <div class="width_menu_right ">

        <div class="copyright_mini_menu">

          <div class="button_menu_right ">

            <span matTooltip="KloShaba">

              <button mat-mini-fab class="button-fab-menu-right" >

                <mat-icon>copyright</mat-icon>

              </button>

            </span>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>


</div>







