
<div class="right_buttons" [ngClass]="{'right_buttons_hover': hover }" >
  
  <div class="right_button" *ngFor="let button of buttons ; let i = index"  >

    <button mat-button color="primary" (click)="check_button(button)" [ngClass]="{'button_hover': index_button == i }" class="button  show_settings_button " (mouseout)="out_hover_setting()" (mouseover)="in_hover_setting(i)">

         <mat-icon *ngIf="!content_settings" [ngStyle]=" button.rotate && style_settings_icon"  class="icon_settings">{{button.icon}}</mat-icon>

         <mat-icon *ngIf="content_settings" class="icon_settings">exit_to_app</mat-icon>

         <ng-container *ngIf="index_button == i" >

           {{button.name}}

         </ng-container>

    </button>

  </div>

</div>

<div class="content_settings box-shadow" [ngClass]="{'show_content_settings':content_settings  }">

  <div class="top_content ">

    <button mat-button class="button  exit_content " (click)="hide_settings()">

      <mat-icon class="icon_settings">exit_to_app</mat-icon>

    </button>

    <div class="text_content">

      <b>Settings</b>

    </div>

  </div>

  <div class="body_div">

    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle (click)="setting_menu()" [checked]="settings.menu">Menu</mat-slide-toggle>

      </div>

    </div>

    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>
    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>
    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>
    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>
    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>
    <div class="menu_settings border_bottom">

      <div class="inside_width">

        <mat-slide-toggle >Slide me!</mat-slide-toggle>

      </div>

    </div>

  </div>

</div>
