

.body_product{
    height: 400px;

    position: relative;

}



.product{
    height: 3000px;
}
.bodyLeft_product{
    width: 350px;



    height: inherit;

    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}

.bodyRight_product{

    width: calc(100% - 360px);

    float: right;
    height: inherit;

    border-radius: 3px;


}


.more_details{
    min-height: 300px;
    height:auto;


    margin-top: 15px;

}
.primary_image{

    width: 97%;

   height: 80%;
    margin: 0 auto;

    border-top-right-radius: 3px;
    border-top-left-radius:3px;

    position: relative;
    top: 5px;

}
.no_multiple_img{
    height: 97.5%;
}

.primary_image img{

    width: 100%;
    height: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius:3px ;
}
.more_img{
    width: 100%;
    height: 20%;

   margin-top: 4px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;



}
.bodyRight_option{
    height: 50px;
}

.top_product{

    width:100%;
    z-index: 3 !important;
    height: 50px;


}
.top_left{
    width: 70px;
    height: 100%;
    background-color: #004080;
}
.top_right{
    width: calc( 100% - 75px);
    height: 100%;
    float: right;
    font-size: 21px;


}

.top_left img{
    width: 100%;
    height: 100%;
}

.new_top_product{

    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;


    top: 40px;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}








.image_slide{
    height: 60px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -2px;
    background: transparent;
    z-index: 5 !important;

}
.image_slide img{
    width: 100%;
    height: 100%;
    z-index: 4 !important;
}



.leftRs {
    position: absolute;
    margin: auto;
    bottom: 20px;
    left: -10px;
    background-color: whitesmoke;
    transition: 0.2s;


}
.leftRs:hover ,.rightRs:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.rightRs {
    position: absolute;
    margin: auto;
    bottom: 20px;
    right: -10px;
    background-color: whitesmoke;
    transition: 0.2s;
}
.rightRs .icon-mat{
    color:blue;
}


.more_img:hover .leftRs{
    left: 0px;
    transition: 0.2s;
}
.more_img:hover .rightRs{
    right: 0px;
    transition: 0.2s;
}

@media only screen and (max-width: 700px){

  .bodyLeft_product{
      width: 100%;
  }
    .bodyRight_product{
        float: left;
        width: 100%;
    }

    .leftRs{
        left: 0;
    }
    .rightRs{

        right: 0;

    }


}













