
<div class="slide_width">

     <ngx-carousel class="sliders"
                [inputs]="carouselOne"
                (carouselLoad)="myfunc($event)"
                   (onMove)="onmove_item_slide($event)"
                 >


       <ngx-item NgxCarouselItem   *ngFor="let slide of images_slide" >

             <img   src="../../assets/images/company/{{slide.src}}">

            <ngx-tile>
              <div>
                {{slide.title}}
              </div>

            </ngx-tile>

        </ngx-item>



           <a    NgxCarouselPrev >

             <div class="forward">

             </div>

            <div class="forward_fixed">

            </div>

            <div class="forward_hover">
                <button mat-mini-fab class=" mat-fab forward_position">
                  <mat-icon> <span class="glyphicon glyphicon-forward icon_forward"></span></mat-icon>
                </button>
             </div>

           </a>
           <a NgxCarouselNext>
                <div class="backward">

                </div>

                 <div class="backward_fixed">

                 </div>

                <div class="backward_hover">

                  <button mat-mini-fab class=" backward_position">
                     <mat-icon> <span class="glyphicon glyphicon-backward icon_backward "></span></mat-icon>
                  </button>

                </div>

           </a>
     </ngx-carousel>

</div>

