.glyphicon{
    font-size: 15px;
}

.slide_width{

    margin: 0px auto;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(209,193,209,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(209,193,209,1);
    box-shadow: 3px 3px 5px 0px rgba(209,193,209,1);
}

.sliders {
    width: 100%;
    height: 100%;
    border-radius: 3px;

}
ngx-item ,.slide_width {

    width: 100%;
    height: 300px;
}

ngx-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none
}
ngx-tile div {

position: relative;
    color:red;
}


.forward , .forward_fixed{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    height: 300px;


    display: inline-block;
}
.forward_hover{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    height: 300px;
    transition: 0.5s;

    display: inline-block;

}
.backward ,.backward_fixed{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    height: 300px;


    display: inline-block;


}

.backward_hover {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    height: 300px;
    transition: 0.5s;

    display: inline-block;


}
.backward_position,.forward_position {

    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 47px;
    height: 47px;
    background-color: #004080;
    border-radius: 150px;
    border:2px solid;
    border-style: dotted;
    color: green;


}



.backward_position:hover , .forward_position:hover{
    transition: 0.5s;
    background-color: green;
}

.backward_position:hover .icon_backward  ,.forward_position:hover .icon_forward{
    transition: 0.5s;
    color: white;
}

.icon_backward {

    position: relative;
    top:-7px;
    left: -2px;

}
.icon_forward{
    position: relative;
    top:-7px;
    left: 2px;
}

.write_slider{
    position: relative;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 25px;
    color:gray;

}
.sliders:hover .backward{
    transition: 0.2s;
    width: 50px;
    height: 100px;
    margin-top: 100px;

    opacity: 0.4;
    -webkit-box-shadow: 23px 0px 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 0px 36px -10px rgba(0,0,0,0.75);
    box-shadow: 23px 0px 36px -10px rgba(0,0,0,0.75);
}
.sliders:hover .forward{
    transition: 0.2s;
    width: 50px;
    height: 100px;
    opacity: 0.4;
    margin-top: 100px;
    -webkit-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
}

.sliders:hover .backward_hover{
    transition: 0.4s;
    width: 50px;
    height: 100px;
    margin-top: 100px;



}
.sliders:hover .forward_hover{

    transition: 0.4s;

    width: 50px;

    height: 100px;

    margin-top: 100px;
}




@media only screen and (max-width: 1050px) {


    .backward_position,.forward_position ,.forward_fixed ,.backward_fixed , .forward, .backward {
        display: none;
    }



}

