

<div class="product_options box-shadow"   [@openClose]="{ value: productsService.isOpen ? 'open' : 'closed' ,  params:{

          top : productsService.product_options.top, left:productsService.product_options.left , beforeTop:productsService.product_options.top+50
         }
     }">

  <div class="inside_width" >

    <div class="product_option hover border_bottom">
      <span>More</span>
    </div>
    <div class="product_option hover border_bottom">
      <span>Contact Supplier</span>
    </div>
    <div class="product_option hover border_bottom">
      <span>See Details</span>
    </div>
    <div class="product_option hover border_bottom">
      <span>See Images</span>
    </div>
    <div class="product_option hover border_bottom">
      <span>Viwes</span>
    </div>
  </div>

</div>
