


.items_in_carousel{

    height: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    background-color: white;
   margin-left: -5px;
    margin-right: -5px;

}

.items_in_carousel:hover{
    -webkit-box-shadow: 0px 1px 8px 0px rgba(105,81,105,1);
    -moz-box-shadow: 0px 1px 8px 0px rgba(105,81,105,1);
    box-shadow: 0px 1px 8px 0px rgba(105,81,105,1);
}

.items_in_carousel:hover {
    background-color:white;
}

.carousel_categories{

    width: 100%;

}



.img_item{
    height: 60%;
    width: 95%;
    margin:0px auto;

    position: relative;
    top: 5px;

}

.img_item img{
    width: 100%;
    height: 100%;

}
.content_carousel{
    position: relative;
    top:5px;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: -45px;
    bottom: 0;
    left: -10px;
    background-color: whitesmoke;
    transition: 0.2s;

}
.leftRs:hover ,.rightRs:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.rightRs {
    position: absolute;
    margin: auto;
    top: -45px;
    bottom: 0;
    right: -10px;
    background-color: whitesmoke;
    transition: 0.2s;
}
.rightRs .icon-mat{
    color:red;
}


.category:hover .leftRs{
    left: 0px;
    transition: 0.2s;
}
.category:hover .rightRs{
    right: 0px;
    transition: 0.2s;
}

.see_all_category a {

    float: right;

    font-size: 16px;
    text-decoration: none;
}
.name_category{
    font-size: 16px;
}
