html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button {
    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
    font-size: 14px;
    color:gray;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{

    background-color:#E6E6FA;

}
.body{
    background-color:#E6E6FA;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

a{
    color: gray;

    text-decoration: none;
}

.glyphicon , .mat-icon{
    color:slategrey;
    text-decoration: none;
}

button:hover .mat-icon , a:hover span ,a:hover .mat-icon {
    color:darkslategrey;
}



.slide_button{
    color: white;
}
ngx-tile{
    box-shadow: none;
}

@keyframes component_Animation {
    0% {

        opacity: 0;
        transform: translateY(20px);


    }
    100% {

        opacity: 1;


    }
}
a{
    text-decoration: none;
}

.outer_search{
    width: 200px;
    height: 100%;
    display: inline-block;
    border:none;
    border-bottom: 1px solid;
    border-color: lightgray;
    transition:0.5s;
}

.new_outer_search {

    width: 300px;
    background-color: floralwhite;

    transition:0.5s;
}
.new_outer_search .input_search{
    background-color: floralwhite;

    transition:0.5s;
}

.input_search{
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
    background-color: #E6E6FA;
    display: inline-block;
    border: none;
    padding: 7px 7px;
    transition:0.5s;

}
.input_search:focus {

    outline: none;
}

.icon_search{
    width: 40px;
    float: right;
    display: inline-block;
}

input[name='search'] {

    padding-left: 5px;

    padding-right: 5px;

}


input[name='company_search'] {



}

 input[name='search_wish']:focus{

    outline: none;

    background-color: floralwhite;

    transition:0.3s;

}

.component-animation {
    animation: component_Animation 0.5s;
}

.glyphicon  {
    font-size: 22px;
    position: relative;
    top:0px;

}

.full{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
}

.full_width{
    width: 100%;
    min-width: 100%;
}
.full_height{
    height: 100%;
}
.half_width{
    width: 50%;
}
.half_height{
    height: 50%;

}

.inside_width{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc( 100% - 10px );
    height:calc( 100% - 10px );

}
.inner_height{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height:calc( 100% - 6px );

}
.inside_width span{
    vertical-align: top;
}


.response_outer{
    width: calc(100% - 50px);
    height: 100%;
    float: right;
}

.response_inner{
    width:90% ;
    height: 100%;
    margin: 0 auto;

}

.button{

    background-color: cornflowerblue;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.2), 0 2px 5px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}

.button span{

    color:white;
}

.button:hover{
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}
.transition{


    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}


@media only screen and (max-width: 750px) {

    .response_outer {

        width: 100%;

    }

    .response_inner {

        width: 96%;
    }

}

.hide-login{
    z-index: 14 !important;
    position: absolute;
    padding: 9px 15px;
    border-radius: 170px;
    float: right;
}

.categories {
    -webkit-overflow-scrolling: auto;
}


body::-webkit-scrollbar ,.menu_left::-webkit-scrollbar , drag-scroll::-webkit-scrollbar ,.body_div::-webkit-scrollbar , .header_dropsearch::-webkit-scrollbar  {

    width: 7px;
    height: 7px;
}

.menu_left::-webkit-scrollbar{

   display: none;
}


body::-webkit-scrollbar-thumb , .menu_left::-webkit-scrollbar-thumb ,drag-scroll::-webkit-scrollbar-thumb ,.body_div::-webkit-scrollbar-thumb ,.header_dropsearch::-webkit-scrollbar-thumb   {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);

}
body::-webkit-scrollbar-track , .menu_left::-webkit-scrollbar-track ,.body_div::-webkit-scrollbar-track ,drag-scroll::-webkit-scrollbar-track ,.header_dropsearch::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.1);
}


body::-webkit-scrollbar-thumb:hover ,.body_div::-webkit-scrollbar-thumb:hover ,.menu_left::-webkit-scrollbar-thumb:hover ,.header_dropsearch::-webkit-scrollbar-thumb:hover {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.5);


}

body::-webkit-scrollbar-track:hover , .menu_left::-webkit-scrollbar-track:hover ,.body_div::-webkit-scrollbar-track:hover ,drag-scroll::-webkit-scrollbar-track:hover ,.header_dropsearch::-webkit-scrollbar-track:hover    {

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.3);

}

.mat-tooltip {
    font-size: 12px;
}
.mat-mini-fab{

    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.mat-checkbox-frame{
    border-color: slategrey;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background{
    background-color:slategrey ;
}

.menu3:hover .glyphicon{
    color:darkslategrey;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{

    border-color: slategrey;

}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:slategrey ;
}

.mat-tab-label{

    width: 50%;

    max-height: 35px;

    background-color: white;
}
.hover:hover ,.menu_settings:hover{

    -webkit-box-shadow: inset 0 0 100px rgba(0.2,0.2,0.2,0.2);


}

.mat-tab-label:hover,.mat-tab-label:hover span{
    color: #004080;
}

mat-checkbox.mat-checked.green{
     background-color: rgba(0, 255, 0, 0.87);
}


.border_bottom{
    border:none;
    border-bottom: 1px solid;
    color: lightgray;
}
.border_top{
    border:none;
    border-top: 1px solid;
    color: lightgray;
}
.border{

    border: 1px solid;
    border-color: lightgray;
}

.inline-block{
    display: inline-block;
}
.title_text{
    font-size: 18px;
}




.inner_large{
    overflow: hidden;
}



.outer_content:hover .large_img{

    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

}

.header_div{
    background-color: white;
    height: 40px;
    width: 100%;
    position: relative;

}

.body_div {
    background-color:#E6E6FA;
    width: 100%;
    height: auto;
    min-height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

}

.dropfavorites .wishlist_component .body_div ,.dropdown_search .body_div{

    max-height: 400px;

}




.zoomImg{  /*  zoom image in product_details */
    min-width: 150%;
    min-height: 150%;

}

/* Begin css for category profile user here ....................................................................................................*/

.sticky{

    position: relative;
    width: 100%;
    height: 40px;
    z-index: 3 ;

}

.sticky_opacity{
    position: relative;
    width:100%;
    z-index: 0 !important;
    height: 100%;
    background-color:#E6E6FA;
    opacity: 0.8;
    top:-40px;

}

.sticky_options{
    position: relative;
    width:100%;
    z-index: 1 ;
    height: 100%;

}

.box-shadow{
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}

.pac-container{ /* search content from google places api */

    z-index: 2000;
    position: fixed!important;
}

@media (min-width: 1281px) { /* desktop only */



}


@media (min-width: 1025px) and (max-width: 1280px) { /* laptops and desktop */



}

@media (min-width: 768px) and (max-width: 10240px) { /* tablest and ipad  ...............*/


}

@media only screen and ( max-width: 750px ) {  /*  tablets and mobile ...............*/

    .sticky_fixed {
        top:40px;

    }
}

