
@import "../../../../variables.scss";

.login{
    text-align: center;
    margin: auto;
    position: relative;
    background-color:  $poster_background;
    width:370px;
    height: auto;
    border-radius:2px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    -moz-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    z-index: 3 !important;


}
.label_tab{
    position: relative;
    left: 5px;
    top:2px;
}
.input{
    width: 100%;
}
.first_name{
    width: 47%;
    float: left;
}

.input_error label{
    font-size: 11px;
    position: relative;
    top: -3px;
    color: red;

}
.error_icon{
    color:red;
}

.input_error label strong{
    font-size: 11px;

}

.last_name{

    width: 47%;
    float: right;
}
.all_screen_login{
    width: 100%;
    height: 100%;

    z-index: 3 !important;
}
.under_login{
    position: relative;
    top: 50px;
    background-color: red;
    width: 370px;
    margin: 0 auto;
    background: url("../../../../assets/images/under_login.jpg") no-repeat;

}
.width_login{
    width: 85%;
    height: 100% ;
    margin:0 auto;
    overflow-y: hidden;

}
.tab_login{
    overflow: hidden;
}


.icon_email{
    position: absolute;
    right: 0;
    top:3px;
    font-size: 20px;
}
.icon_error{
    color:red;
}
.mat-input-container{

    min-width: 100%;
}

.image_user{


    border: 1px solid;
}
.center{
    margin: 0 auto;
}

.user-icon{

    width: 100px;
    height: 100px;

    border-radius: 150px;
    background-color: gainsboro;

    display: inline-block;

    border:2px solid;

    border-style: dotted;

    color:palevioletred;

}

.user_icon{

    font-size: 85px;
    margin-left: 2px;
    color: #F5F5F5;

}


.user-icon img{
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: inherit;
}
.write_login_register{
    display: inline-block;

    position: relative;

    left: 12px;
    top: -12px;
}

.mat-button{
    width: 100%;

}
.another_account{

    float: right;
    position: relative;
    right: -8px;

}

.login_loading{
    height: 3px;
    background-color: #DB7093;
    visibility: hidden;
}



.forget_email{

    float: left;
    text-decoration: none;
}
.icon_button_login{
    position: relative;
    top:-4px;
}
@media only screen and (max-width: 750px) {

    .login {

        width: 100%;
        background-color: $background;
        height: auto;
        box-shadow: none;
    }
    .user_icon{
        color:$background;
    }
    .mat-tab-label{
        background-color:$background ;
    }
}