<div class="all_screen_login component-animation">

  <div class="login">

    <mat-tab-group (selectedTabChange)="tabClick($event)" [selectedIndex]="dataservices.tabIndex">

      <mat-tab>  <!-- tab sing in ..............................................................................-->

        <ng-template mat-tab-label style="background-color: slategrey">  <!-- tab label sing in ..............................................................................-->

          <mat-icon>

            person

          </mat-icon>

          <div class="label_tab inline-block">

            Sing In

          </div>

        </ng-template>

        <br>

        <div class="width_login"> <!-- container sing in ..............................................................................-->

          <div class="user-icon center">

            <span  *ngIf="login_property.steps == 1 " class="glyphicon glyphicon-user user_icon"></span>

          </div><br><br>

          <form  [formGroup]="signinForm" >

              <mat-form-field class="input">

                <mat-icon class="icon_email"> email </mat-icon>

                <input matInput placeholder="Set Email or Username"  formControlName="email"

                       (keypress)="keypres()" required >

                <mat-error *ngIf="emailSignin.invalid && (emailSignin.dirty || emailSignin.touched)"  class="input_error">

                  <label *ngIf=" emailSignin.errors.required">Email is <strong>required</strong></label>

                </mat-error>

              </mat-form-field>

              <mat-form-field class="input" >

                <mat-icon  class="icon_email"> vpn_key </mat-icon>

                <input matInput placeholder="Set Password" formControlName="password"

                      (keypress)="keypres()" required >

                <mat-error *ngIf="passwordSignin.invalid && (passwordSignin.dirty || passwordSignin.touched)"  class="input_error">

                  <label *ngIf= "passwordSignin.errors.required" > password is <strong>required</strong></label>

                  <label *ngIf="passwordSignin.errors.minlength" > Must be more than 6 <strong>characters</strong></label>

                </mat-error>

              </mat-form-field><br><br>

            <button  (click)="onSignin()" [disabled]="!signinForm.valid" mat-button class="button" >

              <span *ngIf="login_property.loading == false ; else loading">Login</span>

              <ng-template #loading>

                <mat-icon  class="icon_button_login">

                  <mat-spinner [diameter]="30"  class="loading center">

                  </mat-spinner>

                </mat-icon>

              </ng-template>

            </button>

          </form><br>

          <a href="#" class="forget_email inline-block">

            Forget Password?

          </a>

        </div><!-- end container sing in ..............................................................................-->

      </mat-tab> <!-- end tab sing in ..............................................................................-->

      <mat-tab>

        <ng-template mat-tab-label class="login_tabs" >

          <mat-icon>

            assignment_ind

          </mat-icon>

          <div class="label_tab inline-block">

            Sing Up

          </div>

        </ng-template>

        <br>

        <div class="width_login">

          <form  [formGroup]="userRegistrationForm">

            <mat-form-field class="first_name" >

              <mat-icon class="icon_email" > assignment </mat-icon>

              <input matInput type="text" placeholder="Fisrt name" formControlName="firstName" required >

              <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"  class="input_error">

                  <label *ngIf=" firstName.errors.required">Fist name is <strong>required</strong></label>

              </mat-error>

            </mat-form-field>

            <mat-form-field class="last_name" >

              <mat-icon class="icon_email" > assignment </mat-icon>

              <input matInput type="text" placeholder="Last name" formControlName="lastName" required >

              <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"  class="input_error">

                <label *ngIf=" lastName.errors.required">Last name is <strong>required</strong></label>

              </mat-error>

            </mat-form-field>

            <div formGroupName="emailGroup" >

              <mat-form-field  class="input">

                <mat-icon class="icon_email"> email </mat-icon>

                <input matInput type="text" placeholder="Email or Phone" formControlName="email" required >

                <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)"  class="input_error">

                  <label *ngIf="email?.errors.required">Email is <strong>required</strong></label>

                </mat-error>

              </mat-form-field>
            </div>



            <mat-form-field formGroupName="passwordGroup" class="input">

                <mat-icon class="icon_email"> vpn_key </mat-icon>

                <input matInput type="text" placeholder="Password" formControlName="password" required >

                <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)"  class="input_error">

                  <label *ngIf=" password?.errors.required">Password is <strong>required</strong></label>

                  <label *ngIf="password?.errors?.minlength">Must be more than 8 characters</label>

                </mat-error>

              </mat-form-field>

              <mat-form-field formGroupName="passwordGroup" class="input">

                <mat-icon class="icon_email" > vpn_key </mat-icon>

                <input matInput type="text" placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="match_pass"
                     required >

                <mat-error *ngIf="signupForm.hasError('match')"  class="input_error">

                  <label> Password does not <strong>match</strong> </label>

                </mat-error>

              </mat-form-field>

           <br><br>

            <button (click)="onSignup()" [disabled]="!userRegistrationForm.valid || error_status_from_server " mat-button class="button" >

              <span *ngIf="login_property.loading == false ; else loading">Sign up</span>

              <ng-template #loading>

                <mat-icon  class="icon_button_login">

                  <mat-spinner [diameter]="30"  class="loading center">

                  </mat-spinner>

                </mat-icon>

              </ng-template>

            </button>

          </form><br>

          <a href="#" *ngIf="error_status_from_server" class="forget_email inline-block">

            Forget Password?

          </a>

        </div>

      </mat-tab>

    </mat-tab-group><br>

    <div class=" error cross-validation-error-message alert alert-danger">

      <strong>{{login_property.error}}</strong>

    </div>

  </div>

</div>

