

<div class="all_screen_login component-animation">

  <div class="login">

    <mat-tab-group (selectedTabChange)="tabClick($event)" [selectedIndex]="dataservices.tabIndex">

      <mat-tab>  <!-- tab sing in ..............................................................................-->

        <ng-template mat-tab-label style="background-color: slategrey">  <!-- tab label sing in ..............................................................................-->

          <mat-icon>

            person

          </mat-icon>

          <div class="label_tab inline-block">

            Sing In

          </div>

        </ng-template>

        <br>

        <div class="width_login"> <!-- container sing in ..............................................................................-->

          <div class="user-icon hover center">

            <span class="glyphicon glyphicon-user user_icon"></span>

          </div><br><br>

          <form  [formGroup]="userLoginForm" #loginForm="ngForm" (ngSubmit)="onLoginUser(userLoginForm.value)" novalidate>

              <mat-form-field class="input">

                <mat-icon class="icon_email" [ngClass]="{'error_icon' : loginEmail.invalid && loginForm.submitted }"> email </mat-icon>

                <input #emailInput matInput placeholder="Set Email or Username"  formControlName="email" [errorStateMatcher]="matcher" autocomplete="off"

                       (input)="loginInput(userLoginForm.value)" (keydown.enter)="enterLoginInput(loginForm )" required >

                <mat-error *ngIf="loginEmail.invalid &&  loginForm.submitted"  class="input_error">

                  <label *ngIf=" loginEmail.errors.required">Email is <strong>required</strong></label>

                  <label *ngIf=" loginEmail.errors.incorrect">Email is <strong>incorrect</strong></label>

                </mat-error>

              </mat-form-field>

              <mat-form-field class="input">

                <mat-icon  class="icon_email" [ngClass]="{'error_icon' : loginPassword.invalid && loginForm.submitted }"> vpn_key </mat-icon>

                <input #passwordInput matInput placeholder="Set Password" formControlName="password" [errorStateMatcher]="matcher" autocomplete="off"

                      (input)="loginInput(userLoginForm.value)" (keydown.enter)="enterLoginInput(loginForm)" required >

                <mat-error *ngIf="loginPassword.invalid &&  loginForm.submitted"  class="input_error">

                  <label *ngIf= "loginPassword.errors.required" >password is <strong>required</strong></label>

                  <label *ngIf="loginPassword.errors.pattern">uppercase, lowercase, number are <strong>required</strong></label>

                  <label *ngIf="loginPassword.errors.minlength && !loginPassword.errors.pattern">must be more than 8 <strong>characters</strong></label>

                  <label *ngIf="loginPassword.errors.incorrect">Password is <strong>incorrect</strong></label>

                </mat-error>

              </mat-form-field><br><br>

            <button [disabled]="userLoginForm.invalid && loginFirstSubmit || loading" mat-button class="button" >

              <span *ngIf="loading == false ; else loading_spinner_login">Login</span>

              <ng-template #loading_spinner_login>

                <mat-icon  class="icon_button_login">

                  <mat-spinner [diameter]="30"  class="loading center">

                  </mat-spinner>

                </mat-icon>

              </ng-template>

            </button>

          </form><br>

          <a href="#" class="forget_email inline-block">

            Forget Password?

          </a>

        </div><!-- end container sing in ..............................................................................-->

      </mat-tab> <!-- end tab sing in ..............................................................................-->

      <mat-tab>

        <ng-template mat-tab-label class="login_tabs" >

          <mat-icon>

            assignment_ind

          </mat-icon>

          <div class="label_tab inline-block">

            Sing Up

          </div>

        </ng-template>

        <br>

        <div class="width_login">

          <form  #registerForm="ngForm" [formGroup]="userRegistrationForm" (ngSubmit)="onRegisterUser(userRegistrationForm.value)"   novalidate>

            <mat-form-field class="first_name" >

              <mat-icon class="icon_email" [ngClass]="{'error_icon':firstName.invalid && registerForm.submitted}" > assignment </mat-icon>

              <input #registerFirstNameInput matInput type="text" placeholder="Fisrt name" formControlName="firstName" (keydown.enter)="enterRegisterInput(registerForm)" [errorStateMatcher]="matcher" autocomplete="off" required>

              <mat-error *ngIf="firstName.invalid && registerForm.submitted"  class="input_error">

                  <label *ngIf=" firstName.errors.required">Fist name is <strong>required</strong></label>

                  <label *ngIf=" firstName.errors.minlength">mor than <strong>2</strong></label>

              </mat-error>

            </mat-form-field>

            <mat-form-field class="last_name" >

              <mat-icon class="icon_email" [ngClass]="{'error_icon':lastName.invalid && registerForm.submitted}" > assignment </mat-icon>

              <input #registerLastNameInput matInput type="text" placeholder="Last name" formControlName="lastName" (keydown.enter)="enterRegisterInput(registerForm)" [errorStateMatcher]="matcher" autocomplete="off" required>

              <mat-error *ngIf="lastName.invalid && registerForm.submitted "  class="input_error">

                <label *ngIf=" lastName.errors.required">Last name is <strong>required</strong></label>

              </mat-error>

            </mat-form-field>

            <mat-form-field  class="input">

                <mat-icon class="icon_email" [ngClass]="{'error_icon':email.invalid && registerForm.submitted}"> email </mat-icon>

                <input #registerEmailInput matInput type="text" (input)="registerInput(userRegistrationForm.value)" placeholder="Email or Phone" formControlName="email" (keydown.enter)="enterRegisterInput(registerForm)" [errorStateMatcher]="matcher" autocomplete="off" required >

                <mat-error *ngIf="email.invalid && registerForm.submitted "  class="input_error">

                  <label *ngIf="email.errors.required">Email is <strong>required</strong></label>

                  <label *ngIf="email.errors.incorrect"> email <strong>exist</strong></label>

                </mat-error>

              </mat-form-field>

            <div formGroupName="passwordGroup">

              <mat-form-field  class="input">

                <mat-icon class="icon_email" [ngClass]="{'error_icon':password.invalid && registerForm.submitted}"> vpn_key </mat-icon>

                <input #registerPasswordInput matInput type="text" placeholder="Password" formControlName="password" (keydown.enter)="enterRegisterInput(registerForm)" [errorStateMatcher]="matcher" autocomplete="off" required>

                <mat-error *ngIf="password.invalid &&  registerForm.submitted "  class="input_error" style="position: relative">

                  <label *ngIf=" password.errors.required">Password is <strong>required</strong></label>

                  <label *ngIf="password.errors.pattern">uppercase,lowercase,numbers are <strong>required</strong></label>

                  <label *ngIf="password.errors.minlength && !password.errors.pattern">must be 8 <strong>characters</strong></label>

                </mat-error>

              </mat-form-field>

              <mat-form-field class="input">

                <mat-icon class="icon_email" [ngClass]="{'error_icon':passwordGroup.hasError('match')}"> vpn_key </mat-icon>

                <input #registerConfirmPasswordInput matInput type="text" placeholder="Confirm password" formControlName="confirmPassword" (keydown.enter)="enterRegisterInput(registerForm)" [errorStateMatcher]="match_pass"
                       autocomplete="off"  required >

                <mat-error *ngIf="passwordGroup.hasError('match')"  class="input_error">

                  <label>Password must <strong>match</strong></label>

                </mat-error>

              </mat-form-field>

            </div>

            <br>

            <button type="submit" mat-button class="button" [disabled]="userRegistrationForm.invalid && registerFistSubtmit">

              <span *ngIf="loading == false ; else loading_spinner_register">Sign up</span>

              <ng-template #loading_spinner_register>

                <mat-icon  class="icon_button_login">

                  <mat-spinner [diameter]="30"  class="loading center">

                  </mat-spinner>

                </mat-icon>

              </ng-template>

            </button>

          </form>

          <br>

          <a href="#" class="forget_email inline-block">

            Forget Password?

          </a>

        </div>

      </mat-tab>

    </mat-tab-group><br>
  </div>

</div>

