
<nav class="navigation" >
  <div class="writemenu">  <!-- this is open category  -->
    <div class="herewrite">
      <div class="radius_category">
        <div class="position_icon_ctegory">
          <div class="listcategory" id="laptopscreen">
            <img src="../../assets/images/list.png">
          </div>
          <div class="listcategory closelist" id="laptopscreen">
            <img  src="../../assets/images/close.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space">

    <div class="widthi">

      <div class="kerkimresponse" style="display: none;">
        <div class="exitsearch1"><a href="#"><img class="imggback" src="../../assets/images/back_white.png"></a></div>
        <input type="text"  name="respondesearch" class="searchinputresp" placeholder="search">
        <div class="exitsearch">
          <a href="#">
            <div class="exit"><a href="#"><img src="../../assets/images/close1.png"></a></div>
          </a>
          <div class="searchimg"><a href="#"><img  src="../../assets/images/search.png"></a></div>
        </div>
      </div>

      <div class="pcheader">
        <div class="menu1">
          <a href="#">BestSeller</a>
        </div>
        <div class="search">

          <input type="text" class="kerkim" name="search" placeholder="serch"><a href="#"><div class="iconsearch"><img class="imgsearch" src="../../assets/images/search.png"><img class="imgsearchexit" src="../../assets/images/close1.png" ></div></a>

        </div>
        <span class="rightee">
                        <div class="klo" style="display: inline-block; position: relative; top: -2px;
                              left: 5px;">
                              <a href="#" class="gjuha"  id="1">
                                 <div class="nameuser">
                                   <a routerLink="login">Login/Register</a>


                                 </div>
                              </a>
                        </div>
                        <div class="menu3">
                           <a href="#" class="gjuha"  id="1">

                                    <div class="photouser">
                                         <img  class="pictureuser" id="pictureuser" src="">
                                     </div>

                           </a>
                        </div>
                        <div class="menu3" id="responselist">
                            <a  href="#" class="listcategoryfind">
                                <div class="listcategory" id="iconmenu">
                                    <img  src="../../assets/images/list.png">
                                </div>
                                <div class="listcategory closelist" id="iconmenu">
                                   <img class="iconmenu" style="width:23px;" src="../../assets/images/close.png">
                                </div>
                            </a>
                        </div>
                        <div class="menu3" id="search">
                             <a class="searchresponse" href="#"><img src="../../assets/images/search.png"></a>
                        </div>
                        <div class="menu3 fvk">
                            <a  class="favority " id="favority" href="#" style="z-index: 3 !important;">
                                <img  src="../../assets/images/wish.png">
                             </a>
                        </div>
                        <div class="menu3">
                            <a class="card" id="card" href="#">
                                <img src="../../assets/images/card.png">

                            </a>
                        </div>
                        <div class="menu3">
                            <a class="language" id="language" href="#"><img src="../../assets/images/world.png"></a>
                            <div class="write_language">

                            </div>
                        </div>
                     </span>
      </div> <!--  end headerdi v................-->





      <div class="dropmore">
        <div class="lang">
          <a href="#"><div class="">logout</div></a>
          <a href="#"><div class="">other</div></a>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
      <div class="languagefull">
        <div class="dropworld">
          <div class="lang">
            <div class="choose" style="color:gray; text-align: left; position: relative; left: 10px;">
              <h2>chose lang</h2>
            </div>
            <div class="typelanguage"><br>
              <div class="activelanguage">
                <div class="imgactiv">

                </div>
                <div class="writeactivlanguage">
                  <h2>chose lang</h2>
                </div>
                <div class="iconactive">
                  <img class="radiolang" src="../../assets/images/ok.png">
                </div>

              </div>
              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Albania" id="radiolang1">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/albania.png">
                        </div>
                        <div class="writelang">
                          <h2>Albanian</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang1" id="Albania" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian English" id="radiolang2">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/england.png">
                        </div>
                        <div class="writelang">
                          <h2>English</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang2" id="English" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Italy" id="radiolang3">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/italy.png">
                        </div>
                        <div class="writelang">
                          <h2>Italy</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang3" id="Italy" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Germany" id="radiolang4">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/germany.png">
                        </div>
                        <div class="writelang">
                          <h2>Germany</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang4" id="Germany" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Greece" id="radiolang5">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/greece.png">
                        </div>
                        <div class="writelang">
                          <h2>Grece</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang5" id="Greece" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Turkey" id="radiolang6">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/turkey.png">
                        </div>
                        <div class="writelang">
                          <h2>Turkey</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang6" id="Turkey" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Canada" id="radiolang7">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/canada.png">
                        </div>
                        <div class="writelang">
                          <h2>Canada</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang7" id="Canada" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian France" id="radiolang8">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/france.png">
                        </div>
                        <div class="writelang">
                          <h2>France</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang8" id="France" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="alllanguages">
                <a href="#">
                  <div class="albanian Spanish" id="radiolang9">
                    <div class="positionlang">
                      <div class="centerlang">
                        <div class="iconlang">
                          <img  src="../../assets/images/spain.png">
                        </div>
                        <div class="writelang">
                          <h2>Spanish</h2>
                        </div>
                      </div>
                      <div class="leftlang">
                        <input class="radiolang" name="radiolang9" id="Spanish" type="radio">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <!-- more language here click buttoon see more -->
              <div class="morelanguageclick">
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="alllanguages">
                  <a href="#">
                    <div class="albanian" id="radiolang9">
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/spain.png">
                          </div>
                          <div class="writelang">
                            <h2>Spanish</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang9" id="spanish" type="radio">
                        </div>
                      </div>
                    </div>
                  </a>

                </div>

              </div>
              <div class="morelang">
                <a href="#"><div class="writemore">se more lang</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dropcard">
        <div class="lang">
          <a href="#"><div class="">Shporta</div></a>
          <a href="#"><div class="">plus</div></a>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
      <div class="dropfavority">
        <div class="lang">
          <a href="#"><div class="">favority</div></a>
          <a href="#"><div class="">plus</div></a>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <div class="search_width">
        <div class="search_body">
          ckemi si jeni
        </div>

      </div>
      <div class="treguesi"></div>
    </div>
  </div>
</nav>