
<div class="above_space_header" >

  <div class="widthi_above_header" style="color: red;">
    BEST_SELLER {{ get_wishList_product }}
  </div>
</div>
<nav class="navigation " >
  <div data-toggle="tooltip" title="Category">
    <div class="writemenu">  <!-- this is open category  -->
      <div class="herewrite">
        <div class="radius_category">
          <div class="position_icon_ctegory">
            <div class="listcategory" id="laptopscreen">
              <span class="glyphicon glyphicon-th-large"></span>
            </div>
            <div class="listcategory closelist" id="laptopscreen">
              <span class="glyphicon glyphicon-log-out icon-list-remove"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space">

    <div class="widthi">

      <div class="kerkimresponse" style="display: none;">
        <div class="exitsearch1"><a href="#"><img class="imggback" src="../../assets/images/back_white.png"></a></div>
        <input type="text"  name="respondesearch" class="searchinputresp" placeholder="search">
        <div class="exitsearch">
          <a href="#">
            <div class="exit"><a href="#"><img src="../../assets/images/close1.png"></a></div>
          </a>
          <div class="searchimg"><a href="#"><img  src="../../assets/images/search.png"></a></div>
        </div>
      </div>

      <div class="pcheader">
        <span class="lefte">
        <div class="menu1">
          <a href="#">BestSeller</a>
        </div>
        <div class="search">
          <div data-toggle="tooltip" title="Search product and company">
          <input type="text" class="kerkim" name="search" placeholder="{{get_Language.searchproducts}}">
              <a href="#">
                <div class="iconsearch">
                     <div class="imgsearch">
                           <span class="glyphicon glyphicon-search"></span>
                     </div>
                     <div class="imgsearchexit">
                          <span class="glyphicon glyphicon-remove-sign"></span>
                     </div>
                </div>
              </a>
          </div>

        </div>
        </span>
        <span class="rightee">

                        <div class="menu3" id="responselist">
                            <a  href="#" class="listcategoryfind">
                                <div class="listcategory" id="iconmenu">
                                    <img  src="../../assets/images/list.png">
                                </div>
                                <div class="listcategory closelist" id="iconmenu">
                                   <img class="iconmenu" style="width:23px;" src="../../assets/images/close.png">
                                </div>
                            </a>
                        </div>
                        <div class="menu3" id="search">
                             <a class="searchresponse" href="#"> <span class="glyphicon glyphicon-search"></span></a>
                        </div>
                        <a routerLink="login" data-toggle="tooltip" title="Login/Register">

                        <div class="menu3 user-login" id="user-login">


                                      <span class="glyphicon glyphicon-user gh-header"></span>
                                       <div class="write_icon_header" >{{get_Language.sing}}</div>
                                <div class="click_bg">
                                 </div>

                        </div>
                        </a>
                         <a href="#" data-toggle="tooltip" title="Wish List">
                        <div class="menu3 favority" id="favority" >
                                   <ng-container *ngIf="wishList_products.length>0;else empty" >
                                       <span class="glyphicon glyphicon-heart " [ngClass]="{'active': true}"  >
                                       <div class="number_event">
                                           <div class="write_number">
                                               {{wishList_products.length}}
                                           </div>
                                       </div>
                                   </span>

                                   </ng-container>
                                  <ng-template #empty>
                                      <span class="glyphicon glyphicon-heart gh-header">
                                       <div class="number_event">
                                           <div class="write_number">
                                               {{wishList_products.length}}
                                           </div>
                                       </div>
                                   </span>
                                  </ng-template>

                                   <div class="write_icon_header"> {{get_Language.wish}} </div>

                                <div class="click_bg">

                                </div>


                        </div>
                         </a>
                        <a href="#" data-toggle="tooltip" title="Your Card">
                        <div class="menu3 card" id="card">

                                 <span class="glyphicon glyphicon-shopping-cart gh-header">
                                      <div class="number_event">
                                          <div class="write_number">
                                               {{card_products.length}}
                                          </div>

                                   </div>
                                 </span>
                                <div class="write_icon_header" >{{get_Language.card}}</div>
                           <div class="click_bg">

                           </div>


                        </div>
                         </a>
                        <a href="#" data-toggle="tooltip" title="Your language">
                        <div class="menu3 language" id="language">

                                  <span class="glyphicon glyphicon-globe gh-header"></span>
                                 <div class="write_icon_header" >{{get_Language.language}}</div>
                                  <div class="click_bg">
                                  </div>


                        </div>
                        </a>

        </span>






        <div class="dropmore">
          <div class="lang">
            <a href=""><div class="">logout</div></a>
            <a href=""><div class="">other</div></a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="languagefull">
          <div class="dropworld">
            <div class="lang">
              <div class="choose" style="color:gray; text-align: left; position: relative; left: 10px;">
                <h2>{{get_Language.choselanguage}}</h2>
              </div>
              <div class="typelanguage"><br>
                <div class="activelanguage">
                  <div class="imgactiv">
                    <img src="../../assets/images/{{get_Language.Active_language_image}}">
                  </div>
                  <div class="writeactivlanguage">
                    <h2>{{get_Language.Active_language}}</h2>
                  </div>
                  <div class="iconactive">
                    <img class="radiolang" src="../../assets/images/ok.png">
                  </div>

                </div>
                <div class="alllanguages" *ngFor="let language of language_allow">
                  <a>
                    <div class="albanian " (click)="choose_language(language.id)"  >
                      <div class="positionlang">
                        <div class="centerlang">
                          <div class="iconlang">
                            <img  src="../../assets/images/{{language.image}}">
                          </div>
                          <div class="writelang">
                            <h2>{{language.name}}</h2>
                          </div>
                        </div>
                        <div class="leftlang">
                          <input class="radiolang" name="radiolang1"  type="radio">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>


                <!-- more language here click buttoon see more -->
                <div class="morelanguageclick">


                </div>
                <div class="morelang">
                  <a href="#"><div class="writemore">se more lang</div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropcard">
          <div class="lang">
            <a href="#"><div class="">Shporta</div></a>
            <a href="#"><div class="">plus</div></a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <div class="dropfavority">
          <div class="lang">
            <a href="#"><div class="">{{get_Language.Wish_Write}}</div></a>
            <a href="#"><div class="">plus</div></a>

              <div *ngFor="let wish_product of wishList_products">

                <div class="delete_wish" (click)="delete_from_wishList( wish_product )">delete</div>{{wish_product.title}}
              </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>


        <div class="treguesi"></div>
      </div>
    </div>
  </div>

</nav>