/* Styles go here */





.glyphicon{
    font-size: 24px;
    position: relative;
    top:0px;

}

.menu3:hover span , .menu3:hover .write_icon_header{

    color:darkslategrey;
}


.mini_icon{
    font-size: 15px;

}
a{
    text-decoration: none;
}

.Box-shodown{

}
.selected_wish{
   background-color:  #f2f2f2;
    transition: 0.5s;
}
.inline{
    display: inline-block;
}

.checkboxTwo {
    width: 30px;
    height: 17.5px;
    background: #E6E6FA;
    border-radius: 50px;
    position: relative;
    border:1px solid;
}
.checkboxTwo:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    height: 2px;
    width: 21px;
    background: slategrey;
}
.checkboxTwo label {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;

    transition: all .2s ease;
    cursor: pointer;
    position: absolute;
    top: 1px;
    z-index: 1;
    left: 2px;
    background: slategrey;

}
.checkboxTwo input[type=checkbox]:checked + label {
    left: 13px;
    background: #26ca28;
}
.CheckboxInput{
    visibility: hidden;
}

/* Begin css for header profile user here ....................................................................................................*/
.navigation{
    position: absolute;
    top:60px;
    z-index: 4 !important;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    color: lightgray;
    background-color:#E6E6FA;
}
.fixed_navigation{
    position: fixed;
    top:0px;
}

.lefte{
    float: left;
}
.rightee{
    float: right;

}
.closelist{
    display: none;
}
.number_event{

    margin-left: 30px;
    margin-top: -10px;
    color: white;
    font-size: 12px;
    z-index: 10 !important;


}
.write_number{
    position: relative;
    top: -9px;
    left: -14px;
    color:white;
    font-size: 12px;

}
.opacity_detail_product{
    position: fixed;
    background-color: gray;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    z-index: 10 !important;
    opacity: 0.7;
    display: none;



}
.details_products{
    position: fixed;
    z-index: 11 !important;
    color:red;
    width: 100%;
    height: 100%;
    display: none;



}
.loading_product_details{
    width: 90px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color:white;

}
.message_error_detail_product ,.open_detail_product{
    display: none;
}

.details_products_container{
    width: 700px;
    height: 500px;
    background-color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    display: none;

}
.space {
    width: 100%;
    height: 40px;
    transition: 0.5s;



}

.icon-list-remove{
    position: relative;
    left: 2px;
    top: -1px;
}
.exitlogin ,.exit_details_product{
    color:white;

    position: relative;
    top:6px;
    right: 20px;
    border-radius: 50px;

}
.hidelogin ,.hide_details_product{
    float: right;

}
.exitlogin,.exit_details_product{
    position: relative;
    top: 2px;
    left: -10px;
}
.hidelogin:hover{
    opacity:0.8;


}
.infoexit{
    float: right;
    font-size: 18px;
    position: relative;
    top: 40px;
    right: 0px;
    width: auto;
    height: auto;
    background-color: white;
    color:gray;
    display: none;
}
.radius_category{
    width: 50px;
    height: 40px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 0px;
    display: inline-block;
    z-index: 2!important;
    border-top:2px solid;
    color: gray;





}
.top_category{
    position: absolute;
    color:white;
    width: 250px;
    height: 40px;
}
.position_icon_ctegory{


    position: relative;
    top: 5px;

    width: 50%;
    margin: 0px auto;


}


/*    here is css for popup when sesioni doesn't  ezists automatik system doing logout*/
.writeloader ,.imgpreloader{
    display: inline-block;
}
.writeloader{
    position: relative;
    top: -10px;
}
.preloader{
    position: relative;
    top: 50px;
}
.imgloading{
    display: inline-block;
    position: relative;
    top: 1px;
}

.reload_page{
    display: none;
}
.write_language{
    display: inline-block;
    position: relative;
    top: -8px;
}
.checksession {
    position: absolute;
    width:100%;
    background-color: gray;
    height: 100vh;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_hover_category_sub{
    position: fixed;
    width: calc(100% - 250px);
    float: right;
    background-color: gray;
    height: 95vh;
    bottom:0;
    right: 0;
    z-index: 10 !important;
    opacity: 0.6;
    display: none;
}
.opacity_dropdown{
    position: fixed;
    background-color: gray;
    height: 87.3vh;
    width: 100%;
    bottom:0;
    z-index: 4
    !important;
    opacity: 0.1;
    display: none;
}
.popuplogout{
    position: absolute;
    z-index: 11 !important;
    width: 100%;
    display: none;

}
.writelogout{
    width: 100%;
    background-color: #004080;
    height: 25px;
    font-size: 18px;
    color:white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.movewrite{
    position: relative;
    left: 10px;
    top:2px;
}
.movebody{
    position: relative;
    left: 10px;
    top: 5px;
}
#movebtn{
    position: relative;
    top: 13px;
}


.widthi {
    z-index:  2 !important;
    width: 1155px;
    height: 40px;
    margin:0px auto;

}
.widthi_above_header{
    width: 1155px;
    height: 60px;
    margin:0px auto;
    opacity:1;
    font-size: 24px;
    color: slategrey;
}
.above_space_header{

    width: 100%;
    height: 60px;
    transition: 0.5s;

}
.write_above_header{
    position: relative;
    top: 15px;

}
.right_above_header{
    display: inline-block;
    float: right;
    font-size: 18px;

}
.left_above_header{
    display: inline-block;
    font-size: 18px;
}


.menu1 {
    display: inline-block;
    width: auto;
    height: 30px;
    position: relative;
    top: 3px;



}
.icon_header{
    display: inline-block;
    width: 30px;
    height: 100%;
}
.icon_header_write{

     display: inline-block;
     width: 0px;
    transition: 1s;
    visibility: hidden;

}
.new_icon_header_write{
    width: 105px;
    transition:1s;
    visibility: visible;
}
.writeactivlanguage h2{
    color: gray;
}
.imgactiv ,.writeactivlanguage,.iconactive{
    display: inline-block;
}
.iconactive{
    float: right;
    position: relative;
    left: -10px;
}
.imgactiv{
    position: relative;
    left: 12px;
}
.writeactivlanguage{
    position: relative;
    left: 17px;
    top: -2px;
}
.activelanguage{
    border-bottom:1px solid;
    border-color: #d6d6c2;
}
.nameuser{
    color: white;

}
.menu1 a{
    text-decoration: none;
     position: relative;
    font-size: 18px;
}
.card ,.favority , .language{
    position: relative;
    top: -1px;
    display: inline-block;

}
.menu2 {
    display: inline-block;
    width: 40px;
    position: relative;
    top:9px;


}
.search{
    display: inline-block;
    position: relative;
    top:5px;
    left: -4px;
}
.menu3 {
    display: inline-block;
    width: 70px;
    height: 40px;

    position: relative;
    text-align: right;
    top: 0px;
    text-align: center;
    border-top: 2px solid;
    border-color: #E6E6FA;
    overflow: hidden;

    border-radius: 5px;


}

.write_hidden{
    visibility: hidden;
}
.active{

    color: red;

}
.write_icon_header{
    position: relative;
    top: -6px;

  z-index: 10 !important;
}
.menu3 a{
    color:white;
    text-decoration: none;
}

.dropmenuprofile {
    position: absolute;

    width: 300px;

    margin-left: -150px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(224,224,224,1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(224,224,224,1);
    box-shadow: 0px 1px 5px 1px rgba(224,224,224,1);
    display: none;

}

.treguesi{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;

    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 33px;
    left: 0px;
    display: none;
    z-index: 1 !important;


}



.iconopenchat{
    position: relative;
    top: -50px;
    left: 10px;
}
.teguesigjuha{
    width: 15px;
    height: 15px;
    background-color: white;

    -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    position: absolute;
    margin-top: -7px;
    margin-left: 130px;
}
input[name='search']{
    padding-left: 7px;
    padding-right: 35px;



}
input[name='searchres']{

    padding-left: 40px;
    padding-right: 40px;

}
.iconsearch{
    position: relative;
    left: -46px;
    top:2.5px;
    display: inline-block;
    width: 40px;
    height: 26px;
    background-color: lightgray;

}
.iconsearch:hover{
    opacity: 0.8;
    transition: 1s;
}
.imgsearchexit{
    display: none;
    position: relative;
    top: 1px;
    left: 9px;
}
g
.photouser{
    width: 27px;

    height: 0px;

    border-color:white;
    position: relative;
    top:-1px;

}

.pictureuser{
    width: 100%;

    border-radius: 2px;

}

.nameuser{
    display: inline-block;
    position: relative;
    top:0px;
    left: -10px;
}
.option{
    margin-left: -95px;
    width: 250px;
    border:none;

}
.optiongjuha{
    margin-left: -82px;
    border:none;
}

.kerkim{
    width: 450px;
    height: 30px;
    position: relative;
    top:-3px;
    background-color: #E6E6FA;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
    border-radius: 2px;

}

.search_wishlist{
    width: 0.0px;
    height: 30px;
    transition: 0.5s;
    background-color: #E6E6FA;
    border:none;
    border: 1px solid;
    display: inline-block;
    color:gray;
    border-color: lightgray;
    border-radius: 2px;



}

.show_search_in_wishlist{

     width: 250px;
     visibility: visible;
     transition: 0.5s;

}
.kerkimresponse{
    z-index: 1 !important;
    display: inline-block;
    width: 100%;
    height: 28px;
    position: relative;
    top: 10px;
    background-color:white;
    border-radius: 3px;
}


html>/**/body .searchinputresp, x:-moz-any-link {
    top: -7px;
}
html>/**/body .kerkim, x:-moz-any-link {
    top:-4px;
}

.imgsearch{
    position: relative;
    left: 9px;
    top:1px;


}
.header-icon-right {

    background-color: green;
}

#search{
    display: none;
}

#responselist{
    display: none;
}

.searchinputresp{
    z-index: 1 !important;
    display: inline-block;
    width: 5px;
    height: 26px;
    position: relative;
    top: -8px;
    display: inline-block;
    background-color:#708090;

    border:none;
    border-bottom: 1px solid;
    border-color:white;
    color:white;
}
.exitsearch1 img{
    position: relative;
    top: 2px;
}

.kerkimresponse{
    z-index: 1 !important;
    display: inline-block;
    width: 100%;
    height: 28px;
    position: relative;
    top: 5px;
    background-color: #708090;
    border-radius: 3px;




}
.nrnotification , .nrnotification_card{
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50px;
    margin-left: -10px;
    margin-top: -5px;
    font-size: 13px;
    border:2px solid;
    border-color:white;

}

.nrnotification_favority_first ,.nrnotification_card_first{
    display: none;
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50px;
    margin-left: -10px;
    margin-top: -5px;
    font-size: 13px;
    border:2px solid;
    border-color:white;

}
.count_number_favorite{
    position: relative;
    top:-1px;
}


.exitsearch{
    z-index: 2 !important;
    display: inline-block;

    width: 9%;
    height: 28px;
    background-color:#708090 ;
    position: relative;

    top: 0px;
    font-size: 23px;
    border-bottom-right-radius:3px;
    border-top-right-radius: 3px;


}
input[name='respondesearch']:focus{
    outline: none;

}




input[name='search']:focus , input[name='search_wish']:focus{
    outline: none;
    border:1px solid;
    border-color: lightgray;
    background-color: floralwhite;

    transition:1s;
}




.exitsearch1{
    display: inline-block;
    z-index: 2 !important;
    display: inline-block;

    width: 9%;
    height: 28px;
    background-color:#708090;
    position: relative;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    top: -2px;
    font-size: 23px;


}

.exitsearch:hover{
    opacity: 0.8;
}
.exitsearch img{
    position: relative;
    top: 2px;

}
.exitsearch a{
    text-decoration: none;
}
.exitsearch img :hover{
    background-color: red;
}
.exit ,.searchimg{
    position: relative;
    left:0px;
    margin-top:2px;
    color:white;
}
.exit img{
    position: relative;
    top: 0px;
}
.exit{
    display: none;
}
.searchimg img {
    position: relative;
    top: 0px;
}
.moreprofile{
    display: inline-block;
    position: relative;
    top: 0px;
    left: 20px;
}


/* End css for header profile user here ....................................................................................................*/

/* dropdown list language ...............*/
.dropworld{
    position: relative;
    width: 340px;
    left: 292px;
    height: auto;
    background-color: white;
    float: right;
    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);



}

.search_width{
    position: relative;
    width: 500px;

    height: 500px;
    background-color: white;




    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    border-radius: 3px;
    display: none;
}


.dropcard{
    position: relative;
    width: 700px;
    left: 292px;
    height: auto;
    background-color: white;
    float: right;

    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);



}
.dropdown_search{

    position: relative;
    width: 448px;
    max-height: 400px;
    float: left;
    left: 35px;
    height: auto;
    overflow-y: auto;
    background-color: white;

    display: none;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);

}
.down_dropwdown_search{
    left:140px;
    transition: 1s;
}
.top_dropwdown_search{
    left:35px;
    transition: 1s;
}
.dropfavority{
    z-index: 10 !important;
    position: relative;
    width: 600px;
    left: 292px;
    height:350px;
    background-color: white;
    float: right;
    display: none;
    opacity: 0.1;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}



.top_wish{
    width: 100%;
    height: 40px;

}

.width_height_top_wish{
    width: 98%;
    height: 100%;

    margin: 0px auto;

}
.all_top_div_wish{

    height: 100%;

}

.body_wish{
    width: 100%;
    height:calc( 100% - 40px);

    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top: 15px;


}
.typelanguage ,.body_cart ,.body_search_header{
    position: relative;
}
.width_each_wishlist {

    height: 100%;
    width: 98%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.width_body_wish{
    width: 100%;
    height: 80px;
    border-radius: 0px;
    position: relative;
    margin-top: -2px;


}
.width_body_wish:hover ,.mat-button:hover{
  background-color: transparent;
}

.width_top_wish ,.delete_from_wish{
    display: inline;
}

.select_all_wishlist{
    position: relative;
    top:-6px;


}


.mat-checkbox-inner-container {
    border-color: red;
}

.mat-mini-fab:not([class*=mat-elevation-z]){
   box-shadow: none;
}
.mat-fab.mat-accent[disabled]{
    background-color: red;
}
.wish_image{
    width: 70px;
    height:70px ;
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    position: relative;
    top:5px;
}
.wish_image img{
    width: 100%;
    height: 100%;
}
.title{
    float: left;
}
.check_checkbox_wish{
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.lang a{
    color: gray;
}
.both_write{
    position: relative;
    top: 3px;
}
.add_card{
    position: relative;
    top: 0px;
}
.footer_products a{
    text-decoration: none;
}


.albanian, .morelang , .activelanguagedropmo{

    height: 25px;
    border-bottom: 1px solid;
    border-color: #d6d6c2;
    position: relative;
    border-left: 10px;
    border-right: 10px;


}
.morelang a {
    color:gray;
}
.morelang:hover , .morelang a:hover {
    color :white;
}
.writemore{
    position: relative;
    text-align: center;
    top: 3px;
}
.albanian:hover, .morelang:hover{
    color:white;
    background-color: #004080;

}
.albanian h2{
    position: relative;
    top: 2px;
    left: 10px;
}
.iconlang, .writelang{
    display: inline-block;
}

.iconlang{
    position: relative;
    top: 4px;
    left: 5px;
}
.albanian input{
    position: relative;
    top: 3px;


}
.positionlang {
    position: relative;
    left: 10px;
}
input[type='radio'] {
    transform: scale(1.2);
}
.leftlang{
    display: inline-block;
    float: right;
    position: relative;
    left: -10px;
    top: 2px;
}
.centerlang{
    position: relative;
    left: -3px;
    display: inline-block;

}
.toplang h3{
    position: relative;
    top: 3px;
}
.choose h2{
    position: relative;
    top: 8px;
}

.morelanguageclick{
    display: none;
}



@media only screen and (max-width: 1350px){


    .gjeresiamectegory{
        width: 100%;
    }




}
@media only screen and (max-width: 1200px){


    .widthi{
        width: 100%;
    }




}

@media only screen and (max-width: 1170px){


    .nameuser{
        display:none;
    }
    .gjeresia{
        width: 99%;
    }
    .containerright{
        display: none;
    }
    .containerleft{
        width: 100%;
    }



}

@media only screen and(min-width: 1050px){
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }
}
@media only screen and (max-width: 1050px){


    .search{
        display: none;
    }


    #search{
        display: block;
    }



    .menu3{

        position: relative;
        top: 6px;
        text-align: center;
        width: 13%;


    }
    .photouser{
        width: 27px;

        height: 0px;

        border-color:white;
        position: relative;
        top:0px;
        background-color: red;
    }
    .moreprofile{
        position: relative;top: 1px;
    }


    .rightee{
        float: none;

    }
    #search{
        display: inline-block;
    }
    .widthi{
        width: 100%;
    }
    .menu2{
        display: none;
    }
    #responselist{
        display: block;
        display: inline-block;
    }
    .menu1{
        position: relative;
        top: -3px;
    }
    .treguesi{
        position: relative;
        top: 2px;
        z-index: 1 !important;
    }
    .dropcard{
        position: relative;
        width: 700px;
        left: 0px;
        height: auto;
        background-color: white;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;

    }
    .dropfavority{
        position: relative;
        width: 700px;
        left: -1px;
        height: auto;
        background-color: white;
        float: right;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;
    }
    .dropworld{
        position: relative;
        width: 300px;
        left: -1px;
        height: auto;
        background-color: white;
        float: right;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;
    }
    .dropmore{
        z-index:2 !important;
        position: relative;
        width: 300px;
        left: -1px;
        height: auto;
        background-color: white;
        float: right;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;

    }
    .category,.under_category {
        left: -800px;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .radius_category{
        display: none;
    }

}
@media only screen and (max-width: 800px){

    .menu3{

        position: relative;
        top: 6px;
        text-align: center;
        width: 12%;


    }

    .treguesi{
        position: relative;
        top: 2px;
        z-index: 1 !important;
    }
    .photouser{
        width: 27px;

        height: 0px;

        border-color:white;
        position: relative;
        top:0px;

    }

    .category,.under_category{
        width: 100%;
        top: 40px;
        border:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .dropcard{
        position: relative;
        width: 100%;
        left: 0px;
        height: 100vh;
        background-color: white;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;

    }
    .dropfavority{
        position: relative;
        width: 100%;
        left: -1px;
        height:100vh;
        background-color: white;
        float: right;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;
    }
    .dropworld{
        position: relative;
        width: 100%;


        height: 100vh;
        background-color: white;


        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;
    }

    .dropmore{
        z-index:2 !important;
        position: relative;
        width: 100%;
        left: -1px;
        height: 100vh;
        background-color: white;
        float: right;

        top: 11px;
        display: none;
        -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
        border-radius: 3px;

    }




}
@media only screen and (max-width: 700px){
    .width_products{
        display: inline-block;
        width: 48.5%;
        margin-left: 0px;


    }
}
@media only screen and (max-width: 570px){


    .menu1{
        display: none;
    }
    .menu3{
        width: 15%;
        position: relative;
        top: 6px;
    }
    .photouser{
        width: 27px;

        height: 0px;

        border-color:white;
        position: relative;
        top:0px;

    }
    .treguesi{
        position: relative;
        top:4px;
        z-index: 1 !important;
    }







}
@media only screen and (max-width: 500px){
    .width_products{
        display: block;
        width: 97%;
        margin-left: 0px;


    }
}
@media only screen and (min-width: 1280px){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        width: calc(100% - 250px);
    }


    .active_chat{

        float: left;
        right: 0;
        left: 0;
        transition:0.5s;
        -webkit-transition:0.5s;
        -moz-transition:0.5s;
        width: calc(100% - 200px);


    }
    .exit_menu{
        float: right;
    }
}


