

<div class="chat"> <!--  start the chat ................................................-->

    <div class="pasiv_activ_chat">

      <div class="headerchat">

        <div class="writechat">

          {{get_Language.chat}}

        </div>

        <div class="minimizechat">

        </div>

        <div class="closechat">

        </div>

      </div>

        <div class="body_chat">

            Chat Here<br>chat <br >chat
        </div>

    </div>

</div>

 <!--  End the chat ................................................-->
<button mat-fab class="checkchat button-f" id="showchat" (click)="check_chat()">



    <div class="notification" *ngIf="!productsService.status_chat">

    </div>

    <mat-icon *ngIf="!productsService.status_chat">chat</mat-icon>

    <mat-icon *ngIf="productsService.status_chat">close</mat-icon>

</button>