
 <div class="response_outer containere" [ngClass]="{'active_menu':ms.menu.getValue()}">  <!-- container for products .....................................-->

     <div class="response_inner "  [ngClass]="{'change_inner_body':ds.change_inner}">

         <div class="containerleft"> <!--  left container here is router-outlet that can set different component with router-->

             <router-outlet>
                 <!-- body  -->
             </router-outlet>

             <div class="process_spinner" *ngIf="ds.spinner | async">

                 <span class="spinner">

                      <mat-spinner diameter="30" ></mat-spinner>

                 </span>

                 <span class="write_spinner">Loading</span>

             </div><br>

         </div>

         <div class="containerright" >

             <div class="top_containerright">

                 <a href="#">sdfsdf</a>

                 top_containerright

             </div>

         </div>

     </div>

 </div>