
.process_spinner{

    width: 50px;
    margin: 0 auto;

}
.spinner{
    position: relative;
    left: 9px;
}

.containere{
    height: auto;
    margin-top: 60px;


}

.containerleft{

    position: relative;
    float: left;
    display: inline-block;
    width: calc(100% - 320px);
    min-height: calc( 100vh - 60px ); /* Minimum height for modern browsers */
    height: auto;
}


.containerright{
    position: relative;
    width: 300px;
    min-height: calc( 100vh - 60px ); /* Minimum height for modern browsers */
    height: auto;
    display: inline-block;
    float: right;

}
.top_containerright{
    height: 40px;
    background-color: white;
    width: inherit;
}


@media only screen and (max-width: 1050px){

    .containerleft_new_openmenu{
        width:100%;
    }
    .containerright{
        display: none;
    }
    .containerleft{
        width: 100%;
    }


}


@media only screen and(min-width: 1050px){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        width: calc(100% - 250px);


    }
    .kerkimresponse{
        display: none;
    }
    .pcheader{
        display: block;
    }


}
@media only screen and ( min-width: 1200px){

    .active_menu {
        float: right;
        right: 0;
        left: 0;
        width: calc(100% - 250px);
    }
}


@media only screen and (max-width: 750px) {

    .change_inner_body{
        width: 100%;
    }

}





