html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

}
body{

}
.glyphicon{
    font-size: 20px;
    color:gray;
    position: relative;
    top:2px;
}
.login{
    text-align: center;

    opacity: 0.97;
    margin:0px auto;
    position: relative;
    background-color:  	#F5F5F5;
    width:370px;
    height: 400px;
    border-radius:2px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    -moz-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    z-index: 11 !important;


}
.all_screen_login{
    width: 100%;
    height: 100%;

    z-index: 10 !important;
}
.under_login{
    position: relative;
    top: 50px;
    background-color: red;
    width: 370px;
    margin: 0px auto;
    background: url("../../assets/images/under_login.jpg") no-repeat;

}
.width_login{
    width: 85%;
   height: 100vh;
    margin:0px auto;
}

.icon_email{
    position: absolute;
    right: 0;
}
.mat-input-container{

     min-width: 100%;
}

.image_user{


    border: 1px solid;
}
.center{
    margin: 0px auto;
}

.user-icon{

    width: 100px;
    height: 100px;

    border-radius: 150px;
    background-color: gray;
    opacity: 0.3;
    display: inline-block;

    border:2px solid;

    border-style: dotted;

    color: red;
}

.user-category_icon{

    font-size: 85px;
    margin-left: 2px;
    color:#E6E6FA;
}
.write_login_register{
    display: inline-block;

    position: relative;

    left: 12px;
    top: -12px;
}
.user-icon:hover{
    background-color: green;

}
.mat-button{
    width: 100%;
}
.button_login{
    background-color: cornflowerblue;
    color:white;
}
.icon_button_login{
    position: relative;
    top:-4px;
}