


.items_in_carousel{

    height: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    background-color:white;
   margin-left: -5px;
    margin-right: -5px;

}

.items_in_carousel:hover {
    background-color:white;
}

.carpusel_company{

    width: 100%;

}

.img_item{
    height: 60%;
    width: 95%;
    margin:0px auto;

    position: relative;
    top: 5px;

}

.img_item img{
    width: 100%;
    height: 100%;

}
.content_carousel{
    position: relative;
    top:5px;
}
.leftRs {
    position: absolute;
    margin: auto;
    top: -45px;
    bottom: 0;
    left: -10px;
    background-color: whitesmoke;
    transition: 0.5s;

}

.rightRs {
    position: absolute;
    margin: auto;
    top: -45px;
    bottom: 0;
    right: -10px;
    background-color: whitesmoke;
    transition: 0.5s;
}
.rightRs:hover .icon-mat{
    color:red;
}

.carpusel_company:hover .leftRs{
    left: 0px;
    transition: 0.5s;
}
.carpusel_company:hover .rightRs{
    right: 0px;
    transition: 0.5s;
}
