



.sticky_company {
    display: none;
    width:inherit;
    height: 40px;
    z-index: 3;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top :40px;

    background-color: #DB7093;


}

.company_category{
    float: right;
}
.company_img{
    width: 50px;
    height: 100%;
    background-color: #004080;
}

.company_img img{
    width: 100%;
    height: 100%;
}
.company_name{
    height: 100%;
    background-color: #004080;

}




.categories{

    position: absolute;
    width: 100%;
    height: 40px;
    margin-top: -50px;
    z-index: 1;

}

.categories_opacity{

    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rosybrown;
    margin-top: -40px;

    z-index: 1;
}

.category{

    width: 100px;

    height: 100%;

    color:white;

    text-align: center;

    display: inline-block;
}

.content_carousel{
    color: honeydew;
    position: relative;
    top: -5px;

}

.items_in_carousel .mat-icon{
    color:honeydew;
}

.category:hover{

    background-color: #004080;
}

.items_in_carousel {

    height: 40px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.items_in_carousel:hover{

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);

}



a{
    text-decoration: none;
}

/*  slide shoe css */

.glyphicon{

    font-size: 15px;
}



.sliders {

    width: 100%;
    height: 100%;
    border-radius: 3px;

}
.company_slide{
    position: relative;
    z-index: 1 ;
    background-color: #004080;
}
ngx-item ,.company_slide {

    width: 100%;

    height: 300px;

}


.morecompany{

    width:inherit;
    position: relative;
    height: 1500px;

    z-index: 1 ;
}

ngx-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none
}
ngx-tile div {

    position: relative;
    color: white;
}


.forward , .forward_fixed{
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 300px;


    display: inline-block;
    -webkit-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);
    box-shadow: -28px 2px 36px -10px rgba(0,0,0,0.75);


}
.forward_hover{
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 300px;
    transition: 0.5s;

    display: inline-block;

    z-index: 2;

}
.backward ,.backward_fixed{
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 300px;


    display: inline-block;
    -webkit-box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);
    box-shadow: 23px 0 36px -10px rgba(0,0,0,0.75);


}

.backward_hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 300px;
    transition: 0.5s;
    display: inline-block;
}

.backward_position,.forward_position {

    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 47px;
    height: 47px;
    background-color: #004080;
    border-radius: 150px;
    border:2px solid;
    border-style: dotted;
    color: green;

}
.backward_position:hover , .forward_position:hover{
    transition: 0.5s;
    background-color: green;
}

.backward_position:hover .icon_backward  ,.forward_position:hover .icon_forward{
    transition: 0.5s;
    color: white;
}

.icon_backward {

    position: relative;
    top:-7px;
    left: -2px;

}
.icon_forward{
    position: relative;
    top:-7px;
    left: 2px;
}

.write_slider{
    position: relative;
    margin-top: -50px;
    margin-left: -100px;
    font-size: 25px;
    color:gray;

}
.sliders:hover .backward{
    transition: 0.2s;
    width: 50px;
    height: 100px;
    margin-top: 100px;

    opacity: 0.4;

}
.sliders:hover .forward{
    transition: 0.2s;
    width: 50px;
    height: 100px;
    opacity: 0.4;
    margin-top: 100px;

}

.sliders:hover .backward_hover ,.sliders:hover .forward_hover{
    transition: 0.4s;
    width: 50px;
    height: 100px;
    margin-top: 100px;

}




@media only screen and (max-width: 1050px) {


    .backward_position,.forward_position ,.forward_fixed ,.backward_fixed , .forward, .backward {
        display: none;
    }



}

