
 <div class="sticky company_sticky" style="display: none" [ngClass]="{'sticky_fixed': sticky_company }">

      <div class="sticky_options">

          <div  class="company_left inline-block">

              <div class="company_img inline-block ">

                  <img class="full"  src="../../assets/images/company/1.jpg">

              </div>

              <div class="company_name inline-block   ">

                  <div class="title_text">
                      Elektronics
                  </div>

                  <div>
                      500 Subscribe
                  </div>

              </div>

          </div>

          <div class="company_right inline-block ">

              <button mat-button class="button_category">

                  <mat-icon>view_module</mat-icon>

              </button>



          </div>

      </div>

     <div class="sticky_opacity">

     </div>

  </div>

 <div class="company_slide component-animation" [ngStyle]=" top_slide ">

     <ngx-carousel class="sliders" [inputs]="comapny_slide"
                   (carouselLoad)="myfunc($event)"
                   (onMove)="onmove_item_slide($event)"
      >

         <ngx-item NgxCarouselItem   *ngFor="let slide of images_slide; let i = index" >

          <img   src="../../assets/images/company/{{slide.src}}">

            <div class="slide_title">

                <button mat-raised-button  class="slide_button button " color="primary" >

                    <span>
                         {{slide.title}}
                    </span>

                </button>

            </div>

        </ngx-item>

          <a    NgxCarouselPrev >

          <div class="forward" [ngStyle]="button_slide_css.status && button_slide_css">

          </div>

          <div class="forward_fixed">

          </div>

          <div class="forward_hover" [ngStyle]="button_slide_css.status && button_slide_css">

            <button mat-mini-fab color="primary" class=" mat-fab forward_position" >

              <mat-icon>

                  <span class="glyphicon glyphicon-forward icon_forward"></span>

              </mat-icon>

            </button>

          </div>

        </a>

        <a NgxCarouselNext>

          <div class="backward" [ngStyle]="button_slide_css.status && button_slide_css">

          </div>

          <div class="backward_fixed">

          </div>

          <div class="backward_hover" [ngStyle]="button_slide_css.status && button_slide_css">

            <button mat-mini-fab color="primary" class=" backward_position" >

              <mat-icon> <span class="glyphicon glyphicon-backward icon_backward "></span></mat-icon>

            </button>

          </div>

        </a>

      </ngx-carousel>

 </div>

  <div class="categories_opacity">

  </div>


  <ngx-carousel class="categories" [inputs]="carousel_category"

                (carouselLoad)="carouselTileOneLoad()"
                (onMove)="onmove_carousel( $event )"

  >
      <ngx-tile NgxCarouselItem *ngFor="let category of  category_items; let i = index;">

          <a href="#">

              <div class="items_in_carousel">

                  <mat-icon>home</mat-icon>

                  <div class="content_carousel">

                      {{category.title}}

                  </div>

              </div>

          </a>

      </ngx-tile>

      <div NgxCarouselPrev ></div><div  NgxCarouselNext ></div>

  </ngx-carousel>

  <div class="morecompany body">

      <div class="company_option full_width">

          <div class="inner_company_option full_width">

              <div class="company_profile_img inline-block">

                  <img class="full" src="../../assets/images/company/1.jpg">

              </div>


              <div class="company_nav inline-block">

                  <div class="company_nav_top full_width half_height  border_bottom">

                      <div class="inner_company_nav">

                          <div class="company_name title_text">

                              Elektronics

                          </div>

                      </div>

                  </div>

                  <div class="company_nav_bottom full_width half_height">

                      <div class="inner_company_nav inline-block">

                          <span (click)="set_router({path:'about',data:false,relative:true})" > about </span>

                          <span (click)="set_router({ path:'home',data:false,relative:true } )" > home </span>

                          <span (click)="set_router({path:'search',data:false,relative:true})" > search </span>

                      </div>

                      <div class="right_company_nav_bottom full_height inline-block">

                          <input type="text" class="input_search input_search_company  "  name="company_search" [(ngModel)]="typing_search" placeholder="Search products">

                          <div class="icon_search half_height">
                              k
                          </div>

                     </div>

                  </div>

              </div>

          </div>

      </div><br>

      <div class="company_router">

          <router-outlet>


          </router-outlet>

      </div>

  </div>



 <input type="text" class="input_search input_search_company  "  name="company_search" [(ngModel)]="typing_search" placeholder="Search products">

 <div class="icon_search ">
     k
 </div>















