
 <div class="sticky_company body">



       <div  class="company_img inline-block">
                <img  src="../../assets/images/company/1.jpg">
       </div>

       <div class="company_name inline-block">

         Elektronics

       </div>

      <div class="company_category inline-block">

        <mat-icon>view_module</mat-icon>

      </div>

  </div>


  <div class="company_slide component-animation" [ngStyle]=" top_slide ">



      <ngx-carousel class="sliders"
                    [inputs]="carouselOne"
                    (carouselLoad)="myfunc($event)"
                    (onMove)="onmove_item_slide($event)"
      >


        <ngx-item NgxCarouselItem   *ngFor="let slide of images_slide" >

          <img   src="../../assets/images/company/{{slide.src}}">

          <ngx-tile>
            <div>
              {{slide.title}}
            </div>

          </ngx-tile>

        </ngx-item>



        <a    NgxCarouselPrev >

          <div class="forward" [ngStyle]="button_slide_css.status && button_slide_css">

          </div>

          <div class="forward_fixed">

          </div>

          <div class="forward_hover" [ngStyle]="button_slide_css.status && button_slide_css">
            <button mat-mini-fab class=" mat-fab forward_position" >
              <mat-icon> <span class="glyphicon glyphicon-forward icon_forward"></span></mat-icon>
            </button>
          </div>

        </a>
        <a NgxCarouselNext>
          <div class="backward" [ngStyle]="button_slide_css.status && button_slide_css">

          </div>

          <div class="backward_fixed">

          </div>

          <div class="backward_hover" [ngStyle]="button_slide_css.status && button_slide_css">

            <button mat-mini-fab class=" backward_position" >
              <mat-icon> <span class="glyphicon glyphicon-backward icon_backward "></span></mat-icon>
            </button>

          </div>

        </a>
      </ngx-carousel>



  </div>

  <div class="categories_opacity">

   </div>


  <ngx-carousel class="categories" [inputs]="carousel_category"

                (carouselLoad)="carouselTileOneLoad()"

                (onMove)="onmove_carousel( $event )"

  >

    <ngx-tile NgxCarouselItem *ngFor="let category of  category_items; let i = index;">

      <a href="#">

      <div class="items_in_carousel">

        <mat-icon>home</mat-icon>


        <div class="content_carousel">

          {{category.title}}

        </div>

      </div>

      </a>


    </ngx-tile>

    <div NgxCarouselPrev ></div><div  NgxCarouselNext ></div>

  </ngx-carousel>



  <div class="morecompany body" >


    klodian shaba <br>
    klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>
    klodian shaba <br>klodian shaba <br>klodian shaba <br>klodian shaba <br>



  </div>


















