<div class="company" *ngIf="{company : dataservices.company | async , app : dataservices.async | async} ">

    <ng-container *ngIf="dataservices.loaded_component;else loadingCompany">

        <div class="sticky company_sticky" style="display: none" [ngClass]="{'sticky_fixed': company.company_properties.sticky_company }">

            <div class="sticky_options">

                <div  class="company_left inline-block">

                    <div class="company_img inline-block ">

                        <img class="full"  src="../../assets/images/company/1.jpg">

                    </div>

                    <div class="company_name inline-block   ">

                        <div class="title_text">
                            Elektronics
                        </div>

                        <div>
                            500 Subscribe
                        </div>

                    </div>

                </div>

                <div class="company_right inline-block ">

                    <button mat-button class="button_category">

                        <mat-icon>view_module</mat-icon>

                    </button>

                </div>

            </div>

            <div class="sticky_opacity">

            </div>

        </div>

        <div class="company_slide component-animation" [ngStyle]=" top_slide ">


            <ngx-carousel class="sliders" [inputs]="comapny_slide"
                          (carouselLoad)="myfunc($event)"
                          (onMove)="onmove_item_slide($event)"
            >

                <ngx-item NgxCarouselItem   *ngFor="let slide of company.categories; let i = index" >

                    <img  src="../../assets/images/company/{{slide.slide_image}}" *ngIf="slide.slide_image != null">

                    <img  src="../../assets/images/company/{{slide.image}}" *ngIf="slide.slide_image == null" >

                    <div class="slide_title">

                        <button mat-raised-button  class="slide_button button " color="primary" >

                            <span>
                                {{slide.name}}
                            </span>

                        </button>

                    </div>

                </ngx-item>

                <a    NgxCarouselPrev >

                    <div class="forward" [ngStyle]="button_slide_css.status && button_slide_css">

                    </div>

                    <div class="forward_fixed">

                    </div>

                    <div class="forward_hover" [ngStyle]="button_slide_css.status && button_slide_css">

                        <button mat-mini-fab color="primary" class=" mat-fab forward_position" >

                            <mat-icon>

                                <span class="glyphicon glyphicon-forward icon_forward"></span>

                            </mat-icon>

                        </button>

                    </div>

                </a>

                <a NgxCarouselNext>

                    <div class="backward" [ngStyle]="button_slide_css.status && button_slide_css">

                    </div>

                    <div class="backward_fixed">

                    </div>

                    <div class="backward_hover" [ngStyle]="button_slide_css.status && button_slide_css">

                        <button mat-mini-fab color="primary" class=" backward_position" >

                            <mat-icon> <span class="glyphicon glyphicon-backward icon_backward "></span></mat-icon>

                        </button>

                    </div>

                </a>

            </ngx-carousel>

        </div>

        <div class="categories_opacity">

        </div>


        <ngx-carousel class="categories" [inputs]="carousel_category"
                      (carouselLoad)="carouselTileOneLoad()"
                      (onMove)="onmove_carousel( $event )"
        >
            <ngx-tile NgxCarouselItem *ngFor="let category of  company.categories; let i = index;">

                <a href="#">

                    <div class="items_in_carousel">

                        <mat-icon>home</mat-icon>

                        <div class="content_carousel">

                            {{category.name}}

                        </div>

                    </div>

                </a>

            </ngx-tile>

            <div NgxCarouselPrev ></div><div  NgxCarouselNext ></div>

        </ngx-carousel>

        <div class="morecompany body">

            <div class="company_option full_width">

                <div class="inner_company_option full_width">

                    <div class="company_profile_img inline-block">

                        <img class="full" src="../../assets/images/company/{{company.company_info.image}}">

                    </div>

                    <div class="company_nav inline-block">

                        <div class="company_nav_top full_width half_height  border_bottom">

                            <div class="inner_company_nav">

                                <div class="company_name title_text">

                                    {{ company.company_info.name }}

                                </div>

                            </div>

                        </div>

                        <div class="company_nav_bottom full_width half_height">

                            <div class="inner_company_nav full_height inline-block">

                                <button mat-button class="nav_button"
                                        *ngFor="let nav of company_nav; let i = index"
                                        (click)="click_nav( nav   ) ; change_active_nav( i ) "
                                        [ngClass]="{'company_nav_active':company.company_properties.company_nav_active == i }"
                                        (mouseenter)="hover_nav()"
                                        (mouseleave)="leave_hover_nav()"
                                >

                                    <span> {{nav.name}} </span>

                                    <mat-icon>{{nav.icon}}</mat-icon>

                                </button>

                            </div>

                            <div class="outer_search right_company_nav_bottom " [ngClass]="{'new_outer_search':company.company_properties.focus_input_search ,'company_nav_active':company.company_properties.company_nav_active == 'search'}">

                                <input  type="text" #focusInput (focus)="focus_search_function()" (focusout)="focus_search_function()" class="input_search input_search_company"  name="company_search" (keyup)="on_search()"  [(ngModel)]="company.text_search" placeholder="{{dataservices.language.searchproducts}}">

                                <div class="icon_search full_height" (click)="check_focus()">

                                    <button mat-button class="search_button" >

                                        <mat-icon *ngIf="!company.company_properties.focus_input_search  ">search</mat-icon>

                                        <mat-icon *ngIf="company.company_properties.focus_input_search  ">clear</mat-icon>

                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div><br>

            <div class="company_router">

                <router-outlet>

                </router-outlet>

            </div>

        </div>

    </ng-container>

    <ng-template #loadingCompany>

        <ng-container *ngIf="!dataservices.not_founded;else notFounded">

            Loading Company

        </ng-container>

        <ng-template #notFounded>

            <app-not-found></app-not-found>

        </ng-template>

        <router-outlet>

        </router-outlet>

    </ng-template>

</div>


















