
 <div class="component-animation" *ngIf="!dataservices.body_loader"> <!--  this component is inside this div  ...................................................... -->


     <div class="option_products ">  <!--  Options products pagination ,  select  ...................................................... -->

         <div class="inside_option_products">

             <span class="left_option_products inline-block">

                 <button mat-button >

                     <div class="write_page">
                         {{dataservices.language.page_products + pages_details.number_click}} {{dataservices.language.total_page_products}} {{pages_details.total_number}}
                     </div>

                 </button>

             </span>

             <span class="inner_option_products inline-block">

                 <div class="pagination_products">

                     <span class="page_products" *ngFor="let page of pages_link">

                         <ng-container *ngIf="page.icon == false ; else notNumber">

                             <button mat-button class="button_pagination_products"  [ngClass]="{'active_products_page': page.active == true}" (click)=" click_pages(  page ) ">

                                 <div class="write_page">

                                     {{page.page}}

                                 </div>

                             </button>

                         </ng-container>

                         <ng-template #notNumber>

                             <button mat-button class="button_pagination_products" (click)=" click_pages(  page )">

                                 <mat-icon>{{page.icon_material}}</mat-icon>

                             </button>

                         </ng-template>

                     </span>

                 </div>

             </span>

             <span class="right_option_products inline-block">

                 <mat-icon>home</mat-icon>

             </span>

         </div>

     </div>

     <div class="all_prod"> <!--  start div with products ...................................................... -->

        <div class="width_products  products-animation " *ngFor="let product of products ; let i = index"  [ngClass]="{ 'width_products_open_menu':dataservices.status_menu || dataservices.status_chat }" >

            <div class="each_width_product" >

                <a href='#'>

                    <div class="title_products more_detail_product" >

                        {{product.title }}

                    </div>

                </a>

                <div class="dropdown_products">

                    <span class="glyphicon glyphicon-chevron-down"></span>

                </div>

                <div class="date_products">

                    <span class='glyphicon glyphicon-time'></span> {{product.date}}

                </div>

                <span *ngFor="let company of product['adminat']">

                    <a (click)="encrypt_id(company.id)"  href="#">

                        <div class="own_img_product">

                        </div>

                        <div class="image_profile_company ">

                            <img  class="image_prof_admin" src="../../assets/images/products_image/{{company.imageprofile}}">

                        </div>

                    </a>

                </span>

                <a href="#" (click)="product_details( product.id )">

                    <div class="image_product_primary  ">

                        <img class="image_product img_primary_product{{product.id}}" src="../../assets/images/products_image/{{product.image}}">

                    </div>

                </a>

                <a href="#"  (mouseleave)="mouseLeave_wish( product )"  (mouseenter) ="mouseHover_wish( product ,i )"  class="hover_all_wish" id="wish_list{{product.id}}" (click)="add_wish_list(product)">

                    <div class="wish_list" [ngClass]="{'wish_list_hover': property_products.index_product == i }">

                    </div>

                    <div class="about_wish notCloseDropdawnFavorite notClosepointerHeader" id="{{product.id}}">

                        <div class="wish_list_write">

                            <div class="plus_icon">{{dataservices.language.add_wishlist}}</div>

                        </div>

                        <div class="wish_list_icon">

                            <button mat-mini-fab class="button_heart"  >

                                <div *ngIf="wishList_products.length > 0; else  emtyWish " >

                                    <div *ngIf="check_wish(product) ; else notinwish">

                                        <mat-icon>favorite</mat-icon>

                                    </div>

                                    <ng-template #notinwish >

                                        <mat-icon  [ngClass]="{'hide_border_heart'  : property_products.hover_wish_list && property_products.index_product == i } ">favorite_border</mat-icon>

                                        <mat-icon class="hearts_div_hover" [ngClass]="{'show_full_heart'  : property_products.hover_wish_list && property_products.index_product == i } ">favorite</mat-icon>

                                    </ng-template>

                                </div>

                                <ng-template #emtyWish>

                                    <mat-icon  [ngClass]="{'hide_border_heart'  : property_products.hover_wish_list && property_products.index_product == i } ">favorite_border</mat-icon>

                                    <mat-icon class="hearts_div_hover" [ngClass]="{'show_full_heart'  : property_products.hover_wish_list && property_products.index_product == i } ">favorite</mat-icon>

                                </ng-template>

                            </button>

                        </div>

                    </div>

                </a>


                <div class="footer_products">

                    <span matTooltip="Views!">

                        <a href="#">

                            <div class="button_footer_products">



                                <span class="glyphicon glyphicon-eye-open icon_eye"></span>



                                <div class="both_write ">

                                    12889

                                </div>

                            </div>

                        </a>

                    </span>

                    <span matTooltip="Add to your card">

                        <a href="#" >

                            <div class="button_footer_products">

                                <span class="glyphicon glyphicon-plus icon_eye"></span>

                                <div class="both_write ">

                                    Card

                                </div>

                            </div>

                        </a>

                    </span>

                    <span matTooltip="See Details!">

                        <a href="#" (click)="product_details( product.id )">

                            <div class="button_footer_products more_detail_product" id="<?php echo $result_all_products['id'] ?>">

                                <span class=" glyphicon glyphicon-option-horizontal icon_eye"></span>

                                <div class="both_write ">

                                    More

                                </div>

                            </div>

                        </a>

                    </span>

                </div>

                <div class="prise_products">

                    Price:

                    <div class="both_prise_products prise_primary">

                        <del>$2500</del>

                    </div>

                    <div class="both_prise_products prise_secondary">

                        $3500

                    </div>

                </div>

                <div class="plus_height"></div>
            </div>
        </div>

     </div>

 </div>

      <style type="text/css">
          /* styles unrelated to zoom */
          * { border:0; margin:0; padding:0; }
          p { position:absolute; top:3px; right:28px; color:white; font:bold 13px/1 sans-serif;}

          /* these styles are for the demo, but are not required for the plugin */
          .zoom {
            display:inline-block;
            position: relative;
            width: 100%;

          }

          /* magnifying glass icon */
          .zoom:after {
            content:'';
            display:block;
            width:33px;
            height:33px;
            position:absolute;
            top:0;
            right:0;

          }

          .zoom img {
            display: block;
          }

          .zoom img::selection { background-color: transparent; }
        </style>








