

.login{
    text-align: center;
    margin:0px auto;
    position: relative;

    background-color:  	#F5F5F5;
    width:370px;
    height: 400px;
    border-radius:2px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    -moz-box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    box-shadow: 0px 1px 4px 1px rgba(201,209,193,1);
    z-index: 3 !important;


}
.all_screen_login{
    width: 100%;
    height: 100%;

    z-index: 3 !important;
}
.under_login{
    position: relative;
    top: 50px;
    background-color: red;
    width: 370px;
    margin: 0px auto;
    background: url("../../../assets/images/under_login.jpg") no-repeat;

}
.width_login{
    width: 85%;
    height: 325px;
    margin:0px auto;
}

.icon_email{
    position: absolute;
    right: 0;
    top:-1px;
}
.mat-input-container{

    min-width: 100%;
}

.image_user{


    border: 1px solid;
}
.center{
    margin: 0px auto;
}

.user-icon{

    width: 100px;
    height: 100px;

    border-radius: 150px;
    background-color: gainsboro;

    display: inline-block;

    border:2px solid;

    border-style: dotted;

    color:palevioletred;

}

.user_icon{

    font-size: 85px;
    margin-left: 2px;
    color: #F5F5F5;

}
.error{

    width: 1%;
    height: 20px;
    margin:0px auto;
    bottom: 0;
    visibility: hidden;
}
.write_error{
    position: relative;
    top:2px;
    color: red;
}

.user-icon img{
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: inherit;
}
.write_login_register{
    display: inline-block;

    position: relative;

    left: 12px;
    top: -12px;
}
.user-icon:hover{
    background-color: green;

}
.mat-button{
    width: 100%;
}
.another_account{

    float: right;
    position: relative;
    right: -8px;

}

.login_loading{
    height: 3px;
    background-color: #DB7093;
    visibility: hidden;
}



.forget_email{

    float: left;
    text-decoration: none;
}
.icon_button_login{
    position: relative;
    top:-4px;
}
@media only screen and (max-width: 700px) {

    .login {
        width: 100%;
        min-height: calc(100vh - 105px);
    }
}