.pointerchat{

    width: 15px;
    height: 15px;
    background-color:#E6E6FA;

    -webkit-transform:rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    position: relative;
    top: 0px;
    left: -15px;
    visibility: hidden;

}


.chat{
    z-index: 1 !important;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color:#E6E6FA;
    color:white;
    bottom: 5px;
    right: 10px;

    -webkit-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    -moz-box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
    box-shadow: 0px 2px 6px 1px rgba(210,212,203,1);
}




.headerchat{
    width: 100%;
    height: 30px;
    background-color: #708090;
    border-top-left-radius: 3px;
}
.pasiv_activ_chat{
    display: none;
}

.body_chat{
    position: relative;
}

.checkchat{
    z-index: 2 !important;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    color:white;
    bottom: 5px;
    right: 10px;
    display: inline-block;
    background-color:#E6E6FA;

}

.checkchat:hover{

    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.pointerchat{

    width: 15px;
    height: 15px;
    background-color:#E6E6FA;

    -webkit-transform:rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
    position: relative;
    top: 0px;
    left: -15px;
    visibility: hidden;

}

.imgopenchat{
    position: relative;
    top: 12px;
    left: 22px;
}