

<div class="chat"> <!--  start the chat ................................................-->

    <div class="pasiv_activ_chat">

      <div class="headerchat">

        <div class="writechat">

          {{get_Language.chat}}

        </div>

        <div class="minimizechat">

        </div>

        <div class="closechat">

        </div>

      </div>

        <div class="body_chat">

            Chat Here<br>chat <br >chat
        </div>

    </div>

</div>

 <!--  End the chat ................................................-->
