<div class="reload_page">
  <div class="containere">  <!-- container for products .....................................-->
    <br>
    <div class="gjeresia">
      <div class="containerleft">
        <div class="option_products"></div>
        <div class="add_elemnt_option"></div>
        <div class="all_prod"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><b></b>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>




        <style type="text/css">
          /* styles unrelated to zoom */
          * { border:0; margin:0; padding:0; }
          p { position:absolute; top:3px; right:28px; color:white; font:bold 13px/1 sans-serif;}

          /* these styles are for the demo, but are not required for the plugin */
          .zoom {
            display:inline-block;
            position: relative;
            width: 100%;

          }

          /* magnifying glass icon */
          .zoom:after {
            content:'';
            display:block;
            width:33px;
            height:33px;
            position:absolute;
            top:0;
            right:0;

          }

          .zoom img {
            display: block;
          }

          .zoom img::selection { background-color: transparent; }
        </style>
      </div>

      <div class="containerright" >

        <div class="sponsorized_right">
          <div class="icon_go_up">
            <a href="#"><img class="click_up" src="../../assets/images/up.png"></a>


          </div>
        </div>
        <div class="pagination_profucts">


          <div class="pagin_number">

          </div>
        </div>
      </div>
    </div>
  </div>


